Repository hyperskill/mobile-app, pull requests merged in 2022-06, with the labels that each got.

#55 ALTAPPS-139: Step Quiz Sorting Problem
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/adapter/SortingOptionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/delegate/SortingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/delegate/StepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/fragment/StepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/model/SortingOption.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/ui/screen/StepQuizScreen.kt
  androidHyperskillApp/src/main/res/color/color_step_quiz_sorting_stroke.xml
  androidHyperskillApp/src/main/res/drawable/ic_arrow_bottom.xml
  androidHyperskillApp/src/main/res/drawable/ic_arrow_top.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_single_choice.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/integers.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#56 ALTAPPS-144: iOS sorting quiz UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images+SystemNames.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/StepQuizSortingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingIcon.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#58 ALTAPPS-145: iOS step quiz table UI
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresentableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalSwiftUIViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalViewModifier.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/UIViewController+PresentPanModal.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/StepQuizTableViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#59 ALTAPPS-146: iOS matching quiz UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcschemes/iosHyperskillApp.xcscheme
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/StepQuizMatchingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/Views/StepQuizMatchingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/Views/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingIcon.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingItemView.swift
Labels: ios

#61 ALTAPPS-150: iOS LatexView
  .gitignore
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/MathJax.js
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Foundation/NSAttributedString+TrimmingCharacters.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIColor+Hex.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingInjection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingRule.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ContentProcessor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/HTMLExtractor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ProcessedContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/SwiftUIProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentWebView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebControllerManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/HTMLToAttributedStringConverter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/LayoutInsets.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UnitConverters.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/FontWeightNameMapping.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/ViewData/StepViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceElementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Protocols/ProgrammaticallyInitializableViewProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppAppearance.swift
  iosHyperskillApp/iosHyperskillApp/Theme/Color+DesignSystem.swift
  iosHyperskillApp/iosHyperskillApp/Theme/UIColor+DesignSystem.swift
  iosHyperskillApp/iosHyperskillApp/alt.css
  iosHyperskillApp/iosHyperskillApp/altcontent.css
  iosHyperskillApp/iosHyperskillApp/bootstrap.css
  iosHyperskillApp/iosHyperskillApp/fonts.css
  iosHyperskillApp/iosHyperskillApp/highlight.css
  iosHyperskillApp/iosHyperskillApp/highlight.js
  iosHyperskillApp/iosHyperskillApp/icons.css
  iosHyperskillApp/iosHyperskillApp/jquery-3.4.1.min.js
  iosHyperskillApp/iosHyperskillApp/kotlin-playground-1.21.1.min.js
  iosHyperskillApp/iosHyperskillApp/step.css
  iosHyperskillApp/iosHyperskillApp/variables.css
  iosHyperskillApp/iosHyperskillApp/wysiwyg.css
Labels: ios

#63 ALTAPPS-135: Android Matching Problem UI
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/adapter/MatchingItemOptionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/adapter/MatchingItemTitleAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/fragment/MatchingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/mapper/MatchingItemMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/model/MatchingItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#64 ALTAPPS-153: Android String / Number / Math problem UI
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  androidHyperskillApp/src/main/res/layout/step_text_header.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/serializer/DatasetSerializer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/attempts/Attempt.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#68 ALTAPPS-156: Current profile info
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Features.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Gamification.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/PostedComments.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/TopicsRepetitions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileResponse.kt
Labels: shared

#70 ALTAPPS-163: iOS tab bar
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigation.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/en.lproj/Localizable.strings
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#71 ALTAPPS-154: iOS string quiz
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringDataType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringViewModel.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#69 ALTAPPS-165: Streak User Info
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/data/repository/StreakRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/data/source/StreakRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/interactor/StreakInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/model/Streak.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/repository/StreakRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/remote/StreakRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/remote/model/StreakResponse.kt
Labels: shared

#72 ALTAPPS-155: Add choice to quiz container
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/CompoundLatexItemView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizViewStateDelegateFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/adapter/ChoiceMultipleSelectionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/adapter/ChoiceSingleSelectionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/adapter/ChoicesAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/delegate/ChoiceStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/mapper/ChoiceStepQuizOptionsMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/model/Choice.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/adapter/TableColumnMultipleSelectionItemAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/adapter/TableColumnSingleSelectionItemAdapterDelegate.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/item_compound_selection_checkbox.xml
  androidHyperskillApp/src/main/res/layout/item_compound_selection_radiobutton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_table.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  androidHyperskillApp/src/main/res/layout/view_step_quiz_toolbar.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/interactor/StepInteractor.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#74 ALTAPPS-166: Shared Profile Presentation Layer
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
Labels: shared
