Repository hyperskill/mobile-app, pull requests merged in 2022-09, with the labels that each got.

#165 ALTAPPS-238: iOS update Google Sign-In configuration file
  iosHyperskillApp/iosHyperskillApp/GoogleService-Info.plist
Labels: ios

#166 ALTAPPS-244: iOS onboarding improvements
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthPreviews.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#162 ALTAPPS-280: Shared add feedback email strings
  shared/keys/dev.properties
  shared/keys/production.properties
  shared/keys/release.properties
  shared/src/androidMain/kotlin/org/hyperskill/app/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/FeedbackEmailData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/FeedbackEmailDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/Platform.kt
Labels: shared

#163 ALTAPPS-289: Android sync system notification enabled with app daily reminders
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
Labels: android

#164 ALTAPPS-281: Android Feedback Collection
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/FeedbackEmailDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#152 Internal release 0.0.6
  androidHyperskillApp/build.gradle.kts
  gradle/app.versions.toml
  gradle/release-notes.txt
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/release-notes.txt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
Labels: ios, android

#169 ALTAPPS-279: iOS feedback collection
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Controllers/SendEmailFeedbackController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/en.lproj/Localizable.strings
Labels: ios

#167 ALTAPPS-273: iOS scheduling notifications when notifications are disabled in settings
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/PermissionStatus/NotificationPermissionStatusSettingsObserver.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileDailyStudyRemindersView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/en.lproj/Localizable.strings
Labels: ios

#168 ALTAPPS-285: iOS analytics for notifications
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/NotificationDescriptionPlainObject.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/model/NotificationDescription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationDailyStudyReminderClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationDailyStudyReminderShownHyperskillAnalyticEvent.kt
Labels: shared, ios

#171 ALTAPPS-290: iOS step quiz feedback fix
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
Labels: ios

#173 ALTAPPS-292: iOS route to Home on Daily Notification click
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/RouterProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/SourcelessRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/SourcelessRouter.swift
Labels: ios

#172 ALTAPPS-291: iOS code quiz buttons fix
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIViewControllerExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Wrappers/UIViewControllerEvents/UIViewControllerEventsWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Wrappers/UIViewControllerEvents/ViewRelatedEventsViewController.swift
Labels: ios

#175 ALTAPPS-293: iOS send view events to analytic with guarantee
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthAdaptiveContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
Labels: ios

#174 ALTAPPS-294: iOS logout infinite loading fix
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
Labels: shared

#176 ALTAPPS-305: Fix Button Sign in has localised text "Войти"
  androidHyperskillApp/src/main/res/layout-w380dp/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/fragment_placeholder_new_user_screen.xml
Labels: android

#177 ALTAPPS-312: Remove rate this application from settings
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
Labels: ios, android

#178 ALTAPPS-300: Change legacy text log out in users mobile profile
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: bug, shared, ios, android

#179 ALTAPPS-298: iOS fix in app browser saves previous user session
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebCacheCleaner.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebControllerManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/Web/WebOAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/OpenURLInsideAppButton.swift
Labels: ios

#181 ALTAPPS-303: iOS problem of day updating fix
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
Labels: shared

#183 ALTAPPS-320: iOS fix crash on social sign in on Xcode 14 toolchain
  .github/workflows/feature.yml
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
Labels: ios

#184 ALTAPPS-301: shared fix onboarding screen disappearing
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
Labels: shared

#180 ALTAPPS-231: Submission's reply validation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/model/ReplyResult.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/delegate/ChoiceStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/delegate/SortingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/delegate/TableStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizInputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizStatusView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/StepQuizChoiceAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/StepQuizChoiceViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/StepQuizMatchingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/StepQuizSortingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/StepQuizSortingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/StepQuizTableAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/StepQuizTableViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/ReplyValidationResult.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#185 ALTAPPS-323: Capture sign in exceptions
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/KotlinThrowable+AsError.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/AppleIDSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/GoogleSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/SocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SocialAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/SentryManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialWebViewFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialWebViewReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/error/RethrowThrowable.kt
Labels: shared, ios, android
