Repository hyperskill/mobile-app, pull requests merged in 2022-10, with the labels that each got.

#191 ALTAPPS-329: Android fix crash NoClassDefFoundError Failed resolution of: Ljava/time/Instant
  androidHyperskillApp/build.gradle.kts
  gradle/libs.versions.toml
Labels: android

#190 ALTAPPS-323: Capture sign in error messages
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/sentry/domain/model/SentryBreadcrumbKeyValues.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/SentryManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/exception/AuthCredentialsException.kt
Labels: shared, ios, android

#192 Hotfix 1.1.1
  androidHyperskillApp/build.gradle.kts
  gradle/app.versions.toml
  gradle/libs.versions.toml
Labels: android, release

#188 ALTAPPS-313: shared user storage component
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/cache/UserStorageCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/cache/UserStorageCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/data/repository/UserStorageRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/data/source/UserStorageCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/data/source/UserStorageRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/domain/interactor/UserStorageInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/domain/model/UserStorage.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/domain/repository/UserStorageRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/injection/UserStorageComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/injection/UserStorageComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/remote/UserStorageRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/remote/model/UserStorageResponse.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#189 ALTAPPS-254: iOS UI improvements
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-gembox.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-gembox.imageset/problem-of-day-gembox-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/home-streak-passive-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Placeholder/placeholder-network-error.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Placeholder/placeholder-network-error.imageset/placeholder-network-error-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizNameView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/Views/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakView.swift
  iosHyperskillApp/iosHyperskillApp/Theme/Color+DesignSystem.swift
Labels: ios

#194 ALTAPPS-294: Fix iOS infinite loading after log out
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UINavigationControllerExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIViewControllerExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Assembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/DeepLinkRouterProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/PushRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/RouterProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/SourcelessRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UIKitViewControllerPreview.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppFullScreenModal.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigationState.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeDebugStepNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepHostingController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/StepQuizTableAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/model/UserDeauthorized.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
Labels: shared, ios

#196 ALTAPPS-295: shared fix user id in analytics events doesn’t reset after log out
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/AnalyticExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/Analytic.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
Labels: shared, ios

#195 ALTAPPS-327: shared comments component realization
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/repository/CommentsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/source/CommentsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/interactor/CommentsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/CommentAuthor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/CommentReaction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Discussion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/ReactionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/repository/CommentsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/CommentsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/DiscussionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#198 ALTAPPS-275: iOS notification schedule selector improvements
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalSwiftUIViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/DailyStudyReminders/ProfileDailyStudyRemindersHourIntervalPickerView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/DailyStudyReminders/ProfileDailyStudyRemindersView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/HourIntervalPicker.swift
Labels: ios

#200 ALTAPPS-336: shared implement step quiz retry button
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/res/layout/layout_quiz_buttons.xml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/ModalRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizInputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizRetryButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizStatusView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/StepQuizChoiceAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/InputOutput/StepQuizCodeFullScreenInputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/InputOutput/StepQuizCodeFullScreenOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/StepQuizCodeFullScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/StepQuizCodeFullScreenViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/StepQuizMatchingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/Views/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/StepQuizSortingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/Views/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/StepQuizTableAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/permissions/StepQuizUserPermissionRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Submission.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizUserPermissionRequestTextMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#199 ALTAPPS-328: shared step quiz hints module
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/interactor/CommentsDataInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/interactor/StepQuizHintsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/model/HintState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/domain/model/UserStoragePathBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/domain/model/UserStoragePathKeyValues.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#201 ALTAPPS-358: CI/CD iOS beta deployment
  .github/workflows/feature.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/lint.yml
  .github/workflows/swiftlint.yml
  androidHyperskillApp/build.gradle.kts
  buildSrc/src/main/kotlin/SystemProperties.kt
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/FontWeightNameMapping.swift
  shared/build.gradle.kts
  shared/shared.podspec
Labels: shared, ios, android, ci/cd

#203 ALTAPPS-360: CI/CD Android beta deployment
  .github/workflows/android_beta_deployment.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  gradle/app.versions.toml
Labels: android, ci/cd

#204 ALTAPPS-376: CI/CD unit testing
  .github/labeler.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/README.md
Labels: ios, ci/cd

#206 ALTAPPS-380: CI/CD setup dependabot
  .github/dependabot.yml
  .github/workflows/label.yml
Labels: ci/cd

#207 ALTAPPS-377: CI/CD reusing workflows
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/filters.yaml
  .github/workflows/android_beta_deployment.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
Labels: ci/cd

#208 ALTAPPS-381: CI/CD mark issues and pull requests that have not had recent interaction
  .github/workflows/stale.yml
Labels: ci/cd

#209 ALTAPPS-68: CI/CD check that builds pass
  .github/workflows/build.yml
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/README.md
Labels: ios, ci/cd
