Repository hyperskill/mobile-app, pull requests merged in 2022-07, with the labels that each got.

#78 ALTAPPS-171: Shared Track Information
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/repository/TrackRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/source/TrackRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/interactor/TrackInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/ProjectsByLevel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/TrackRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/model/TrackResponse.kt
Labels: shared

#80 ALTAPPS-172: Shared Project Info
  shared/src/commonMain/kotlin/org/hyperskill/app/project/data/repository/ProjectRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/data/source/ProjectRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/interactor/ProjectInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/repository/ProjectRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/remote/ProjectRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/remote/model/ProjectResponse.kt
Labels: shared

#77 ALTAPPS-161: iOS code editor
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftStdlib/String+IndexOf.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftStdlib/String+SafeSubscript.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UICollectionView+RegisterReusable.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UITableView+RegisterReusable.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIView+TraitCollection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeCompletion/CodeCompletionKeywords.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeCompletion/code-completion-keywords.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeEditorTheme/CodeEditorTheme.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeEditorTheme/CodeEditorThemeService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeElementSize.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeInputAccessory/CodeInputAccessorySymbols.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeLanguage.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeLanguageSamples/CodeLanguageSamples.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeLanguageSamples/code-language-samples.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeCompletion/CodeCompletionTableViewCell/CodeCompletionCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeCompletion/CodeCompletionTableViewCell/CodeCompletionTableViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeCompletion/CodeCompletionTableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorViewDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/CodeInputAccessoryBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryButtonData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextViewLayoutManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentWebView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/DeviceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/LayoutInsets.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthTextField.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/BottomControls/StepQuizDiscussionsButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizHintButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Protocols/Reusable.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/ApplicationTheme/ApplicationTheme.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/ApplicationTheme/ApplicationThemeService.swift
Labels: ios

#76 ALTAPPS-66: Android Fix Orientation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/res/values-sw600dp/bools.xml
  androidHyperskillApp/src/main/res/values/bools.xml
  gradle/libs.versions.toml
Labels: android

#82 ALTAPPS-170: iOS register placeholder
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/auth-social-hyperskill-logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/logo.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/HyperskillURLFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthLogoView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#81 ALTAPPS-169: Android Placeholder Screen For New Users
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/screen/PlaceholderNewUserScreen.kt
  androidHyperskillApp/src/main/res/drawable/ic_placeholder.xml
  androidHyperskillApp/src/main/res/layout-w380dp/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/fragment_placeholder_new_user_screen.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#79 ALTAPPS-167: Android Streak Card
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/adapter/StreakCardAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/delegate/StreakCardFormDelegate.kt
  androidHyperskillApp/src/main/res/drawable/ic_fire_disabled.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_enabled.xml
  androidHyperskillApp/src/main/res/layout-w320dp/layout_streak_card.xml
  androidHyperskillApp/src/main/res/layout/item_streak.xml
  androidHyperskillApp/src/main/res/layout/layout_streak_card.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/BearerTokenHttpClientPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkBuilder.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#84 ALTAPPS-168: iOS streak card realization
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-active.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-active.imageset/home-streak-active.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-frozen.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-frozen.imageset/home-streak-frozen.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/home-streak-passive.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/StreakState.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/StreakCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/StreakDaysCount.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/StreakDaysPrevious.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/StreakIcon.swift
Labels: ios

#87 iOS LazyImage + SVG
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/ThirdParty/Nuke/ImageDecoders+SVG.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/NukeManager.swift
Labels: ios

#86 ALTAPPS-175: iOS daily problem card
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-completed.imageset/problem-of-day-arrow-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-uncompleted.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-uncompleted.imageset/problem-of-day-arrow-uncompleted.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-calendar.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-calendar.imageset/problem-of-day-calendar.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-done.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-done.imageset/problem-of-day-done.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-gembox.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-gembox.imageset/problem-of-day-gembox.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-hexogens-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-hexogens-completed.imageset/problem-of-day-hexogens-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-hexogens-uncompleted.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-hexogens-uncompleted.imageset/problem-of-day-hexogens-uncompleted.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/ProblemOfDay/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/ProblemOfDay/ProblemOfDayTitle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakDaysCount.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakDaysPrevious.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakIcon.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#89 ALTAPPS-168: iOS streak card UI fixes
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-crown.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-crown.imageset/home-streak-crown.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakDaysCount.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/Streak/StreakDaysPrevious.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#88 ALTAPPS-167: Remade streak card with new design
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/adapter/StreakCardAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/delegate/StreakCardFormDelegate.kt
  androidHyperskillApp/src/main/res/drawable/ic_crown.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_freeze.xml
  androidHyperskillApp/src/main/res/layout-w320dp/layout_streak_card.xml
  androidHyperskillApp/src/main/res/layout/item_streak.xml
  androidHyperskillApp/src/main/res/layout/layout_streak_card.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/model/Streak.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#92 ALTAPPS-178: Android Profile View
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/navigation/ProfileScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/adapter/StreakCardAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak/view/delegate/StreakCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/SocialNetworksRedirectExtensions.kt
  androidHyperskillApp/src/main/res/drawable/ic_arrow_right.xml
  androidHyperskillApp/src/main/res/drawable/ic_edit.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_frozen.xml
  androidHyperskillApp/src/main/res/drawable/ic_profile_facebook.xml
  androidHyperskillApp/src/main/res/drawable/ic_profile_github.xml
  androidHyperskillApp/src/main/res/drawable/ic_profile_linkedin.xml
  androidHyperskillApp/src/main/res/drawable/ic_profile_reddit.xml
  androidHyperskillApp/src/main/res/drawable/ic_profile_twitter.xml
  androidHyperskillApp/src/main/res/drawable/ic_settings.xml
  androidHyperskillApp/src/main/res/layout-w320dp/layout_streak_card.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/layout/layout_streak_card.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/profile/injection/PlatformProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/routing/ProfileRedirectLinkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/social_redirect/SocialNetworksRedirect.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios, android

#93 ALTAPPS-175: Android Problem of the Day Card
  androidHyperskillApp/src/main/res/drawable/bg_gradient_blue.xml
  androidHyperskillApp/src/main/res/drawable/bg_hexogens_static.xml
  androidHyperskillApp/src/main/res/drawable/bg_hexogens_static_solved.xml
  androidHyperskillApp/src/main/res/drawable/ic_checkmark.xml
  androidHyperskillApp/src/main/res/drawable/ic_gembox.xml
  androidHyperskillApp/src/main/res/drawable/ic_right_arrow_problem_day.xml
  androidHyperskillApp/src/main/res/drawable/ic_task_day.xml
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
Labels: android

#83 ALTAPPS-177: iOS track view
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-project.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-project.imageset/track-about-stat-item-project.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-star.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-star.imageset/track-about-stat-item-star.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-topic.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-about-stat-item-topic.imageset/track-about-stat-item-topic.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-hammer.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-hammer.imageset/track-hammer.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-project-graduate.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Track/track-project-graduate.imageset/track-project-graduate.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+Frame.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/Formatter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/LayoutInsets.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UnitConverters.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/HyperskillURLFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ViewData/ProfileSocialAccount.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ViewData/ProfileViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/Views/StepQuizMatchingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/About/TrackAboutStatItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/About/TrackAboutStatsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/About/TrackAboutView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/Cards/TrackCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/Cards/TrackCardsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/LazyAvatarView.swift
  iosHyperskillApp/iosHyperskillApp/Theme/Color+DesignSystem.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/ProjectTrack.kt
Labels: shared, ios

#95 ALTAPPS-190: iOS profile settings UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/MainBundleInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UserAgentBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/OpenURLInsideAppButton.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Features.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#96 ALTAPPS-192: iOS quiz skeletons realization
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/Views/StepQuizMatchingSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSorting/Views/StepQuizSortingSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/Views/StepQuizStringSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizString/Views/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTable/Views/StepQuizTableSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Skeletons/SkeletonRoundedButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Skeletons/SkeletonRoundedView.swift
Labels: ios

#90 ALTAPPS-164: Fetch profile splash
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/navigation/AuthFlow.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/res/layout/activity_main.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigation.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/cache/AuthCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/repository/AuthRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/source/AuthCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/interactor/AuthInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/repository/AuthRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthCredentialsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthCredentialsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/DataSourceType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/ProfileCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/ProfileCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#101 ALTAPPS-193: Android Skeleton Placeholders
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizViewStateDelegateFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/fragment/MatchingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/fragment/SortingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_table.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_table_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text_skeleton.xml
Labels: android

#94 ALTAPPS-185: iOS homescreen view+presentation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Foundation/TimeIntervalExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/Formatter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UnitConverters.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeDebugStepNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ViewData/ProblemOfDayViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ViewData/ProblemOfDayViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayTitle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/PlaceholderView/PlaceholderView+Configurations.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/home/presentation/HomeViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/interactor/HomeInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
Labels: shared, ios, android

#103 ALTAPPS-200: iOS splash screen
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/splash-screen-background-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/splash-screen-background-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-logo.imageset/launch-screen-logo.svg
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/LaunchScreen.storyboard
Labels: ios

#104 ALTAPPS-204: Android Splash Screen
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-night/branded_logo_splash.xml
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable/bg_gradient_splash.xml
  androidHyperskillApp/src/main/res/drawable/branded_logo_splash.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_icon.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_icon_inset.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_subtitle.xml
  androidHyperskillApp/src/main/res/drawable/ic_subtitle_splash.png
  androidHyperskillApp/src/main/res/values-night-v31/themes.xml
  androidHyperskillApp/src/main/res/values-v31/themes.xml
  androidHyperskillApp/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: android

#105 iOS: fix auth navigation
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigation.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigationState.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
Labels: ios

#98 ALTAPPS-186: Android Home Screen View
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/res/drawable/bg_gradient_yellow_green.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_disabled.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_enabled.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_freeze.xml
  androidHyperskillApp/src/main/res/drawable/ic_fire_frozen.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, android
