Repository hyperskill/mobile-app, pull requests merged in 2022-08, with the labels that each got.

#106 ALTAPPS-216: iOS code signing and basic fastlane setup
  .gitattributes
  .gitignore
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Appfile
  iosHyperskillApp/fastlane/Devicefile
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/Matchfile
  iosHyperskillApp/fastlane/README.md
  iosHyperskillApp/fastlane/Scanfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/1024.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/152.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/167.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/180.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/20.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/29.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-2.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/60.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/76.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/87.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/BottomControls/StepBottomControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/BottomControls/StepCommentsStatisticsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/iosHyperskillApp.entitlements
Labels: ios

#107 ALTAPPS-205: Android Notification System
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/DateTimeHelper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationChannelInitializer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/HyperskillNotificationManager.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/HyperskillNotificationManagerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/MockNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/NotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/NotificationPublisher.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/NotificationPublisherImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/injection/PlatformNotificationComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/injection/PlatformNotificationComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/HyperskillNotificationChannel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/Notification.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/AlarmReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/BootCompleteReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/BootCompleteService.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/NotificationAlarmService.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/res/values/strings.xml
  androidHyperskillApp/src/test/java/org/hyperskill/app/android/util/DateTimeHelperTest.kt
Labels: android

#109 ALTAPPS-202: shared local notifications / domain
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
Labels: shared

#110 ALTAPPS-217: Android Problem Design Update
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code_skeleton.xml
Labels: android

#111 ALTAPPS-218: Shared & Android Track Fixes
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/StudyPlan.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, android

#115 ALTAPPS-202: remove unused suspend
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
Labels: shared

#113 ALTAPPS-212: Recreate attempts for some problems
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
Labels: shared

#112 ALTAPPS-207: shared profile settings domain
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/ProfileSettingsCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/ProfileSettingsCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileSettingsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileSettingsCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileSettingsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/ProfileSettings.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Theme.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileSettingsRepository.kt
Labels: shared

#116 ALTAPPS-208: shared profile settings logout
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/StepExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsAssembly.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/cache/AuthCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/ProfileCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#108 ALTAPPS-201: iOS local notifications system
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/StepExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/LocalNotificationProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/LocalNotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/UNNotificationTrigger+nextTriggerDate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/PermissionStatus/NotificationPermissionStatus.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/UserNotificationsCenterDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
Labels: ios

#117 ALTAPPS-236: Android Change App Theme
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ThemeExtension.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/mapper/ThemeMapper.kt
  androidHyperskillApp/src/main/res/drawable/bg_divider_vertical.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/cache/ProfileSettingsCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/data/repository/ProfileSettingsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/data/source/ProfileSettingsCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/interactor/ProfileSettingsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/repository/ProfileSettingsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
Labels: shared, android

#120 ALTAPPS-233: iOS change application theme
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeEditorTheme/CodeEditorThemeService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/ApplicationTheme/ApplicationTheme+SharedTheme.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/ApplicationTheme/ApplicationTheme.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/ApplicationTheme/ApplicationThemeService.swift
Labels: ios

#122 ALTAPPS-215: Android Logout
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/values/styles.xml
Labels: android

#124 ALTAPPS-235: shared real notifications texts
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/model/NotificationDescription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared

#119 ALTAPPS-227: Update Cards on Home Screen After Problem Of The Day Solved
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/interactor/HomeInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/data/repository/SubmissionRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/repository/SubmissionRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/SubmissionDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/SubmissionDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/model/Streak.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#121 ALTAPPS-222: Android Schedule Daily Reminder Notification
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/DateTimeHelper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/DailyStudyReminderNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/HyperskillNotificationManagerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/MockNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/injection/PlatformNotificationComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/injection/PlatformNotificationComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/HyperskillNotificationChannel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/TimeIntervalPickerDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/TimeIntervalUtil.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationComponentImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#126 ALTAPPS-240: iOS problem of day card opening fix
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeDebugStepNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ViewData/ProblemOfDayViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ViewData/ProblemOfDayViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayTitle.swift
Labels: ios

#123 ALTAPPS-225: iOS onboarding screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/onboarding-logo-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/onboarding-logo-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/onboarding-problem-of-day-card-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/onboarding-problem-of-day-card-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppFullScreenModal.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigationState.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingViewModel.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
Labels: shared, ios, android

#128 ALTAPPS-226: Android Onboarding Screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/onboarding/fragment/OnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/onboarding/navigation/OnboardingScreen.kt
  androidHyperskillApp/src/main/res/drawable-night/onboarding_problem_of_the_day_pic.xml
  androidHyperskillApp/src/main/res/drawable-w380dp-night/onboarding_problem_of_the_day_pic.xml
  androidHyperskillApp/src/main/res/drawable-w380dp/onboarding_problem_of_the_day_pic.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_icon_blue.xml
  androidHyperskillApp/src/main/res/layout-night/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/layout/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingViewModel.kt
Labels: shared, android

#129 ALTAPPS-228: Add streak and problem of day fixes
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/model/Streak.kt
Labels: shared

#131 ALTAPPS-220: iOS track incorrect information fix
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewDataMapper.swift
Labels: ios

#130 ALTAPPS-234: Setup Firebase App Distribution
  androidHyperskillApp/build.gradle.kts
  gradle/app.versions.toml
  gradle/libs.versions.toml
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Appfile
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/Pluginfile
  iosHyperskillApp/fastlane/README.md
  iosHyperskillApp/fastlane/release-notes.txt
Labels: ios, android

#132 ALTAPPS-241: iOS account deletion warning dialog
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#125 ALTAPPS-230: iOS notifications settings & scheduling
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/LocalNotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/NotificationDescriptionPlainObject.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ViewData/ProfileViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ViewData/ProfileViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileDailyStudyRemindersView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
Labels: shared, ios

#133 ALTAPPS-229: Fix Step Latest Completion Time
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/StepExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/extension/TimeFancifier.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizStatsTextMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/TimeFancifierTest.kt
Labels: shared, ios, android

#135 ALTAPPS-248: iOS incorrect selected track
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/navigation/TrackScreen.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
Labels: shared, ios, android

#139 ALTAPPS-260: iOS add Confirm button for table single choice
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/CheckboxButton.swift
Labels: ios

#140 ALTAPPS-262: iOS Table problem pan modal align title to leading edge
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
Labels: ios

#141 ALTAPPS-250: iOS update login, splash, onboarding screens, and app icon
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/1024.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/152.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/167.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/180.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/20.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/29.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-2.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/60.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/76.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/87.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/auth-social-hyperskill-logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Common/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Common/hyperskill-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Common/hyperskill-logo.imageset/auth-social-hyperskill-logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/launch-screen-background-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/launch-screen-background-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-background.imageset/splash-screen-background-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-logo.imageset/launch-screen-logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/LaunchScreen/launch-screen-logo.imageset/launch-screen-logo.svg
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/onboarding-logo-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-logo.imageset/onboarding-logo-light.pdf
  iosHyperskillApp/iosHyperskillApp/LaunchScreen.storyboard
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthPreviews.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthLogoView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/HyperskillLogoView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#143 ALTAPPS-264: iOS update tab bar icons
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track-filled.imageset/tab-bar-track-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track-filled.imageset/tab-bar-track-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track-filled.imageset/tab-bar-track-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-track.imageset/tab-bar-track@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
Labels: ios

#144 ALTAPPS-252: Android Improve States After Problem Of The Day Is Completed
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/layout_quiz_buttons.xml
Labels: android

#137 ALTAPPS-245: Add functional to ask user to enable daily reminders after problem of day solved
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/extension/NotificationExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/repository/NotificationRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/cache/SubmissionCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/cache/SubmissionCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/data/repository/SubmissionRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/data/source/SubmissionCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/repository/SubmissionRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/SubmissionDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared

#147 ALTAPPS-270: iOS Problem of the Day Card bounce animation on tap
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
Labels: ios

#145 ALTAPPS-255: iOS reload home screen after entering app from background
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
Labels: ios

#149 ALTAPPS-277: Add onboarding picture for screens with light theme with screen size less than w380dp
  androidHyperskillApp/src/main/res/drawable/onboarding_problem_of_the_day_pic.xml
Labels: android

#148 ALTAPPS-259: Update login, splash, onboarding screens
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/ic_app_icon-playstore.png
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-night/branded_logo_splash.xml
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable/branded_logo.xml
  androidHyperskillApp/src/main/res/drawable/branded_logo_splash.xml
  androidHyperskillApp/src/main/res/drawable/ic_app_icon_background.xml
  androidHyperskillApp/src/main/res/drawable/ic_app_icon_foreground.xml
  androidHyperskillApp/src/main/res/drawable/ic_placeholder.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_icon.xml
  androidHyperskillApp/src/main/res/drawable/ic_splash_subtitle.xml
  androidHyperskillApp/src/main/res/drawable/ic_subtitle_splash.png
  androidHyperskillApp/src/main/res/layout-w380dp/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_email.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_social.xml
  androidHyperskillApp/src/main/res/layout/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/layout/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/mipmap-anydpi-v26/ic_app_icon.xml
  androidHyperskillApp/src/main/res/mipmap-anydpi-v26/ic_app_icon_round.xml
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/values-v31/themes.xml
  androidHyperskillApp/src/main/res/values/colors.xml
Labels: android

#153 ALTAPPS-256: Android Update Home Screen When App goes From Background
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
Labels: android

#154 ALTAPPS-271: Make problem of day card clickable with ripple effect
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
Labels: android

#155 ALTAPPS-268: Android Remove Inactive Buttons & Fix Redirect
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
Labels: android

#151 ALTAPPS-283: Update placeholder screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/res/layout-w380dp/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/fragment_placeholder_new_user_screen.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#156 ALTAPPS-267: Android Use LatexView In Feedback
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_feedback_block.xml
Labels: android

#158 ALTAPPS-259: Update App Name
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  iosHyperskillApp/iosHyperskillApp/Info.plist
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#159 ALTAPPS-287: Android Fix Track Screen Scrolling
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
Labels: android

#161 ALTAPPS-242: iOS ask permission after problem of day is solved
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
Labels: ios

#127 ALTAPPS-100: iOS Sign in with Apple
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/HyperskillURLFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/AppleIDSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/GoogleSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/SocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SocialAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/Web/WebOAuthService.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/repository/AuthRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/source/AuthRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/interactor/AuthInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/model/SocialAuthProvider.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/repository/AuthRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/AuthRemoteDataSourceImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#142 ALTAPPS-251: iOS improve states after Problem of the day is completed
  iosHyperskillApp/iosHyperskillApp/Sources/Models/HyperskillURLFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, ios
