Repository hyperskill/mobile-app, pull requests merged in 2022-12, with the labels that each got.

#248 ALTAPPS-436: topics repetitions screen states improvements
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TopicsRepetitions/topics-repetitions-book-image.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TopicsRepetitions/topics-repetitions-book-image.imageset/topics-repetitions-book-image-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartBlock.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsStatusBlock.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackProgressBlock/TrackProgressCardView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/mapper/TopicsRepetitionsViewDataMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/model/RepetitionsStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/model/TopicsRepetitionsViewData.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#250 ALTAPPS-433: move topics-repetition screen click handling into shared
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
Labels: shared, ios

#251 ALTAPPS-433: Android topics repetition
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionChartCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionHeaderDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/model/TopicsRepetitionChartState.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/model/TopicsRepetitionListItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/model/TopicsRepetitionListState.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/screen/TopicsRepetitionScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/widget/VerticalDashLineView.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/bg_hexogens_static.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/bg_hexogens_static_solved.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/bg_hexogens_static.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/bg_hexogens_static_solved.webp
  androidHyperskillApp/src/main/res/drawable-night/ic_topics_repetition_explanation.xml
  androidHyperskillApp/src/main/res/drawable-xhdpi/bg_hexogens_static.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/bg_hexogens_static_solved.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/bg_hexogens_static.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/bg_hexogens_static_solved.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/bg_hexogens_static.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/bg_hexogens_static_solved.webp
  androidHyperskillApp/src/main/res/drawable/bg_hexogens_static.xml
  androidHyperskillApp/src/main/res/drawable/bg_hexogens_static_solved.xml
  androidHyperskillApp/src/main/res/drawable/bg_topics_repetition_chart.xml
  androidHyperskillApp/src/main/res/drawable/bg_topics_to_repeat.xml
  androidHyperskillApp/src/main/res/drawable/ic_home_screen_arrow_button.xml
  androidHyperskillApp/src/main/res/drawable/ic_home_screen_right_arrow_dark.xml
  androidHyperskillApp/src/main/res/drawable/ic_home_screen_right_arrow_light.xml
  androidHyperskillApp/src/main/res/drawable/ic_home_screen_success_arrow_button.xml
  androidHyperskillApp/src/main/res/drawable/ic_topics_repetition_explanation.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_topics_repetition.xml
  androidHyperskillApp/src/main/res/layout/item_topic_to_repeat.xml
  androidHyperskillApp/src/main/res/layout/item_topics_to_repeat_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_card.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_chart.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_footer.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_header.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_topics_list.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
  shared/src/commonMain/resources/MR/colors/colors.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
Labels: shared, android, ci/cd

#253 ALTAPPS-447: Fix unused MaterialProgressBar in fragment_profile_setti…
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
Labels: android

#254 ALTAPPS-448: Android fix back navigation from DefaultStepQuizFragment
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
Labels: bug, android

#255 ALTAPPS-423: Sentry remaining performance tracking transactions
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/CommonComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/interactor/SentryInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/injection/SentryComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/magic_links/domain/interactor/MagicLinksInteractorExtensions.kt
Labels: shared

#257 ALTAPPS-450: Shared analytics docs
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthCredentialsClickedContinueWithSocialHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthCredentialsClickedResetPasswordHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthCredentialsClickedSignInHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthCredentialsViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthSocialClickedContinueWithEmailHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthSocialClickedSignInWithSocialHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthSocialViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeClickedContinueLearningOnWebHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeClickedProblemOfDayCardHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeClickedTopicsRepetitionsCardHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/analytic/AppClickedBottomNavigationItemHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationDailyStudyReminderClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationDailyStudyReminderShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationSystemNoticeHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/analytic/NotificationSystemNoticeShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/analytic/OnboardingClickedSignInHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/analytic/OnboardingClickedSignUnHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/analytic/OnboardingViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserClickedContinueHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserClickedSignInHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedDailyStudyRemindsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedDailyStudyRemindsTimeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedSettingsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedViewFullProfileHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsDeleteAccountNoticeHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsDeleteAccountNoticeShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsSignOutNoticeHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsSignOutNoticeShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/analytic/StepClickedBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedCodeDetailsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedContinueHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedRetryHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedRunHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedSendHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizHiddenDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizShownDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/daily_step_completed_modal/StepQuizDailyStepCompletedModalClickedGoBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/daily_step_completed_modal/StepQuizDailyStepCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/daily_step_completed_modal/StepQuizDailyStepCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsHiddenReportHintNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsShownReportHintNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/analytic/TopicsRepetitionsClickedRepeatNextTopicHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/analytic/TopicsRepetitionsClickedRepeatTopicHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/analytic/TrackClickedContinueInWebHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/analytic/TrackViewedHyperskillAnalyticEvent.kt
Labels: documentation, shared

#258 ALTAPPS-439: Android show earned gems modal
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_complete_daily_step.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_complete_daily_step.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_complete_daily_step.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_complete_daily_step.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_complete_daily_step.webp
  androidHyperskillApp/src/main/res/drawable/bg_bottom_sheet_dialog.xml
  androidHyperskillApp/src/main/res/drawable/ic_bottom_sheet_swipe_indicator.xml
  androidHyperskillApp/src/main/res/drawable/ic_gems_count.xml
  androidHyperskillApp/src/main/res/layout/fragment_completed_daily_step.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz/injection/PlatformStepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, ios, android

#260 ALTAPPS-432: Android fix alert html classes has incorrect style
  androidHyperskillApp/src/main/assets/css/step.css
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/latex/view/mapper/LatexWebViewMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/latex/view/model/block/BaseStyleBlock.kt
Labels: bug, android

#261 ALTAPPS-437: update trackTap handling
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/view/mapper/PlaceholderNewUserViewDataMapper.kt
Labels: shared

#264 ALTAPPS-437: iOS new users track selection
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderTrackCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserTrackModalViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#256 ALTAPPS-437: Shared new users track selection
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/dialog/NewUserTrackDetailsBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/res/layout-w380dp/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/fragment_new_user_track_details.xml
  androidHyperskillApp/src/main/res/layout/fragment_placeholder_new_user_screen.xml
  androidHyperskillApp/src/main/res/layout/item_new_user_track.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/PlaceholderNewUserFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderTrackCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserTrackModalViewController.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserClickedContinueHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserClickedSignInHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserTrackModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/domain/analytic/PlaceholderNewUserTrackModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/view/mapper/PlaceholderNewUserViewDataMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/view/model/PlaceholderNewUserViewData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSelectTrackWithProjectRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/repository/TrackRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/source/TrackRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/interactor/TrackInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/TrackRemoteDataSourceImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#266 ALTAPPS-460: Android fix main bottom navigation titles
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
Labels: bug, android

#265 ALTAPPS-458: Android, iOS hide video elements in step theory
  androidHyperskillApp/src/main/assets/css/step.css
  iosHyperskillApp/iosHyperskillApp/step.css
Labels: bug, ios, android

#270 ALTAPPS-454: Shared, iOS support SQL quiz
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/StepQuizCodeFullScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/StepQuizSQLAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/StepQuizSQLViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/StepQuizSQLViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/Views/StepQuizSQLSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/Views/StepQuizSQLView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Submission.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#268 ALTAPPS-438: Android analytics for notifications
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/DailyStudyReminderNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/NotificationIntentBuilder.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/injection/PlatformNotificationComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/ClickedNotificationData.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/HyperskillNotificationChannel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/model/Notification.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
Labels: android

#276 ALTAPPS-465: Build and Deploy Analytics Documentation to GitHub Pages
  .github/workflows/gh_pages_analytics.yml
  build.gradle.kts
  gradle/libs.versions.toml
  iosHyperskillApp/Podfile.lock
  shared/build.gradle.kts
  shared/shared.podspec
Labels: shared, ios, ci/cd

#277 ALTAPPS-456: Android step quiz hints
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/fragment/FragmentExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/ExpandableTextView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/fragment/StepQuizHintsFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_hints_helpful.xml
  androidHyperskillApp/src/main/res/drawable/ic_hints_useless.xml
  androidHyperskillApp/src/main/res/drawable/ic_next_hint.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/item_streak.xml
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
  androidHyperskillApp/src/main/res/layout/layout_step_hint_action_button.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_hint_card.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_hints.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_card.xml
  androidHyperskillApp/src/main/res/layout/step_text_header.xml
  androidHyperskillApp/src/main/res/values/attrs.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/model/StepQuizHintsViewState.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/presentation/TransformState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
Labels: shared, android

#278 ALTAPPS-452: iOS streak freeze
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-active.imageset/home-streak-active.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-frozen.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-frozen.imageset/home-streak-frozen.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/home-streak-passive-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/Streak/home-streak-passive.imageset/home-streak-passive.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-facebook.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-facebook.imageset/icons8-facebook (2).pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-github.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-github.imageset/profile-about-social-github.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-linkedin.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-linkedin.imageset/profile-about-social-linkedin.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-reddit.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-reddit.imageset/profile-about-social-reddit.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-twitter.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-twitter.imageset/profile-about-social-twitter.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-twitter.imageset/profile-about-social-twitter@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/AboutSocial/profile-about-social-twitter.imageset/profile-about-social-twitter@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-diamond.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-diamond.imageset/profile-streak-freeze-modal-diamond.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-gems-badge-locked.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-gems-badge-locked.imageset/profile-streak-freeze-modal-gems-badge-locked-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-gems-badge-locked.imageset/profile-streak-freeze-modal-gems-badge-locked-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake-badge.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake-badge.imageset/profile-streak-freeze-modal-snowflake-badge-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake-badge.imageset/profile-streak-freeze-modal-snowflake-badge-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake.imageset/profile-streak-freeze-modal-snowflake-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/FreezeModal/profile-streak-freeze-modal-snowflake.imageset/profile-streak-freeze-modal-snowflake-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-active.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-active.imageset/profile-streak-active-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-active.imageset/profile-streak-active-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-crown.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-crown.imageset/home-streak-crown.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-frozen.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-frozen.imageset/profile-streak-frozen-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-frozen.imageset/profile-streak-frozen-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-passive.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-passive.imageset/profile-streak-passive-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-passive.imageset/profile-streak-passive-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/StreakViewBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakFreezeModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakIcon.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitRoundedRectangleButton.swift
Labels: ios

#280 ALLTAPPS-455: Android streak freeze
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/StreakCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/dialog/StreakFreezeDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_buy_streak_freeze_enough.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_buy_streak_freeze_not_enough.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_buy_streak_freeze_enough.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_buy_streak_freeze_not_enough.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_buy_streak_freeze_enough.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_buy_streak_freeze_not_enough.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_buy_streak_freeze_enough.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_buy_streak_freeze_not_enough.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_buy_streak_freeze_enough.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_buy_streak_freeze_not_enough.webp
  androidHyperskillApp/src/main/res/drawable/ic_buy_streak_freeze.xml
  androidHyperskillApp/src/main/res/drawable/ic_gems_not_enough.xml
  androidHyperskillApp/src/main/res/layout/fragment_streak_freeze.xml
  androidHyperskillApp/src/main/res/layout/layout_profile_streak_card.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
Labels: shared, android

#281 ALTTAPPS-457: Android topics from other track for repetition
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/adapter/decoration/CustomDividerItemDecoration.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/model/TopicsRepetitionListItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/model/TopicsRepetitionListState.kt
  androidHyperskillApp/src/main/res/layout/item_topics_to_repeat_header.xml
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_topics_list.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: android

#279 ALTAPPS-467: hide repetitions card when repetitions statistics total count is zero
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
Labels: bug, shared, ios, android

#284 ALTAPPS-477: CI/CD cleanup all caches created by a branch
  .github/workflows/cleanup_pr_caches.yml
Labels: ci/cd

#282 ALTAPPS-462: shared polling submission
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
Labels: shared

#283 ALTAPPS-470: Android fix no event sent on bottom sheet dismissed
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/dialog/NewUserTrackDetailsBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/dialog/StreakFreezeDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
Labels: bug, android

#285 ALTAPPS-419: Fix Android crash ActivityNotFoundException
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ContextExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/ExternalLinkWebViewClient.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
Labels: bug, android

#291 ALTAPPS-482: shared hypercoins balance not updated
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
Labels: shared

#290 ALTAPPS-420: Fix cell serialisation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/FragmentSerializableArgumentDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableColumnSelectionBottomSheetDialogFragment.kt
Labels: bug, android, ready to pull

#288 ALTAPPS-429: Fix RU localisation on Android
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
Labels: bug, android, ready to pull

#293 ALTAPPS-330: Attempt to fix SignInHubActivity crash
  gradle/libs.versions.toml
Labels: bug, android, ready to pull

#294 ALTAPPS-334: Android AuthSocialWebViewFragment crash
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/widget/AuthSocialWebViewClient.kt
  shared/build.gradle.kts
Labels: bug, shared, android, ready to pull

#289 ALTAPPS-501: Android non transitive R class
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/model/AuthSocialCardInfo.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/adapter/CodeToolbarAdapter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ContextExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationChannelInitializer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ThemeExtension.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/ExpandableTextView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/latex/view/model/TextAttributes.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/StreakCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/dialog/StreakFreezeDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/TimeIntervalPickerDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/delegate/ChoiceStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/adapter/CodeDetailSampleAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/adapter/CodeStepQuizFullScreenPagerAdapter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/fragment/StepQuizHintsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/delegate/SortingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/delegate/TableStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableColumnSelectionBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionCardFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionHeaderDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/widget/VerticalDashLineView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/ui/custom/LoadingView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/ColorExtensions.kt
  gradle.properties
Labels: android

#297 ALTAPPS-332: Fix android app crash in local notifications
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/AlarmReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/BootCompleteReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/BootCompleteService.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/NotificationAlarmService.kt
Labels: bug, android, ready to pull

#298 ALTAPPS-505: Fix unauthorized user can try to select track
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/navigation/AuthScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/navigation/AuthSocialScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/onboarding/fragment/OnboardingFragment.kt
  androidHyperskillApp/src/main/res/layout-night/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_social.xml
  androidHyperskillApp/src/main/res/layout/fragment_onboarding.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/OnboardingFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthLogoView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: bug, shared, ios, android

#292 ALTAPPS-504: iOS fix home screen ToolbarItemGroup shows only one item
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
Labels: bug, ios, ready to pull

#287 ALTAPPS-466: Fix incorrect step analytic route
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/screen/StepScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/fragment/MatchingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/fragment/SortingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/analytic/StepClickedBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/analytic/StepViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: bug, shared, ios, android, awaiting changes
