Repository hyperskill/mobile-app, pull requests merged in 2022-11, with the labels that each got.

#212 ALTAPPS-388: CI/CD fix unit testing conditions
  .github/workflows/unit_testing.yml
Labels: ci/cd

#211 ALTAPPS-387: iOS fix matching problem mapping
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizMatching/StepQuizMatchingViewModel.swift
Labels: bug, ios

#214 ALTAPPS-335: iOS magic links
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebControllerManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/HyperskillURLFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/AuthNewUserPlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/Web/WebOAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/OpenURLInsideAppButton.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/url/HyperskillUrlBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/url/HyperskillUrlPath.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/CommonComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/data/repository/MagicLinksRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/data/source/MagicLinksRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/domain/interactor/MagicLinksInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/domain/model/MagicLink.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/domain/repository/MagicLinksRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/injection/MagicLinksDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/injection/MagicLinksDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/remote/MagicLinksRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/remote/model/MagicLinksRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/remote/model/MagicLinksResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/routing/ProfileRedirectLinkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/FeedbackEmailDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/routing/TrackRedirectLinkBuilder.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/HyperskillUrlBuilderTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/extension/KtorUrlToNSURL.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/magic_links/domain/interactor/MagicLinksInteractorExtensions.kt
Labels: shared, ios, android

#215 ALTAPPS-370: iOS step quiz hints view
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuizHints/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuizHints/step_quiz_hints_helpful_reaction.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuizHints/step_quiz_hints_helpful_reaction.imageset/step_quiz_hints_helpful_reaction.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuizHints/step_quiz_hints_unhelpful_reaction.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuizHints/step_quiz_hints_unhelpful_reaction.imageset/step_quiz_hints_unhelpful_reaction.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizHintButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/StepQuizHintsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/StepQuizHintsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintReactionButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizShowHintButton.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/ReactionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsHiddenReportHintNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/analytic/StepQuizHintsShownReportHintNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/interactor/StepQuizHintsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#218 ALTAPPS-370: iOS last seen hint fix & step quiz hints feature documentation
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/interactor/StepQuizHintsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
Labels: shared

#220 ALTAPPS-370: Shared & iOS fix report hint and reactions
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/StepQuizHintsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/repository/CommentsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/source/CommentsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/interactor/CommentsDataInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Like.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Reaction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/repository/CommentsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/LikesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/LikesResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/ReactionsRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/model/ReactionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/interactor/StepQuizHintsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
Labels: shared, ios

#219 ALTAPPS-397: Theory hide unnecessary views
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_theory.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
Labels: ios, android

#217 ALTAPPS-396: shared discussions domain
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/repository/CommentsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/data/source/CommentsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/interactor/CommentsDataInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/interactor/CommentsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/CommentAuthor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Discussion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/repository/CommentsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/injection/CommentsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/data/repository/DiscussionsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/data/source/DiscussionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/domain/interactor/DiscussionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/domain/model/Discussion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/domain/model/DiscussionCommentsTreeItem.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/domain/repository/DiscussionsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/injection/DiscussionsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/injection/DiscussionsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/remote/DiscussionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/remote/model/DiscussionsRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/discussions/remote/model/DiscussionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/data/repository/LikesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/data/source/LikesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/interactor/LikesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/model/Like.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/model/LikeSubject.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/model/LikeValue.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/repository/LikesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/injection/LikesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/injection/LikesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/remote/LikesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/remote/model/LikesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/remote/model/LikesResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/magic_links/injection/MagicLinksDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/data/repository/ReactionsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/data/source/ReactionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/domain/interactor/ReactionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/domain/model/Reaction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/domain/model/ReactionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/domain/repository/ReactionsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/injection/ReactionsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/injection/ReactionsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/remote/ReactionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/remote/model/ReactionsRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/remote/model/ReactionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/interactor/StepQuizHintsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/injection/UserStorageComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/injection/UserStorageComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#221 ALTAPPS-402: iOS fix daily study reminders time modal
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIView/UIView+Animations.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresentableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalViewModifier.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/DailyStudyReminders/ProfileDailyStudyRemindersHourIntervalPickerView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/DailyStudyReminders/ProfileDailyStudyRemindersPickerViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BackgroundView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/CheckboxButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/HSTabBar.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/HyperskillLogoView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/LazyAvatarView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/NavigationToolbarInfoItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/OpenURLInsideAppButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView+Configurations.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/RadioButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Skeletons/SkeletonRoundedButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Skeletons/SkeletonRoundedView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/BounceButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/OutlineButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/RoundedRectangleButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/TabNavigationLazyView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/VerticalCenteredScrollView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/TextFieldWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/UIViewControllerEvents/UIViewControllerEventsWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/UIViewControllerEvents/ViewRelatedEventsViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitBounceButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitRoundedRectangleButton.swift
Labels: bug, ios

#222 ALTAPPS-311: iOS pull-to-refresh for tabs
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIView/UIView+FindViewOfSpecifiedType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PullToRefresh.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/analytic/TrackClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
Labels: shared, ios

#225 ALTAPPS-392: Shared, iOS setup moko-kswift
  .github/actions/setup-ios/action.yml
  .gitignore
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/onboarding/fragment/OnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  build.gradle.kts
  gradle/libs.versions.toml
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/AppFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/HomeFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProfileFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/TrackFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/presentation/OnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
Labels: shared, ios, android

#224 ALTAPPS-393: iOS topics repetitions views
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TopicsRepetitions/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TopicsRepetitions/topics-repetitions-book-image.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TopicsRepetitions/topics-repetitions-book-image.imageset/topics-repetitions-book-image.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/Formatter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsHostingController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartAxis.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartBar.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartBlock.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/Chart/TopicsRepetitionsChartView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsInfoBlock.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsRepeatBlock.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitionsCard/Views/TopicsRepetitionsCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitionsCard/Views/TopicsRepetitionsCountView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/ShowMoreButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/OutlineButtonStyle.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#232 ALTAPPS-337: iOS fix CSS styles for code blocks
  iosHyperskillApp/iosHyperskillApp/highlight.css
Labels: ios

#227 ALTAPPS-340: iOS fix feedback rendering for problems
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/SwiftUIProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepQuizFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
Labels: bug, ios

#228 ALTAPPS-317: iOS add CSS styles for alerts
  iosHyperskillApp/iosHyperskillApp/step.css
Labels: bug, ios

#234 ALTAPPS-371: Android fix reset code
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeLayoutDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/ResetCodeDialogFragment.kt
Labels: android

#238 ALTAPPS-390: Android refactor Profile and Track fragments
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
Labels: android

#243 ALTAPPS-425: shared fix profile streak unnecessary increasing
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak/domain/model/Streak.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsActionDispatcher.kt
Labels: shared

#242 ALTAPPS-417: Android implement showing next-topics-to-discover on Track screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  androidHyperskillApp/src/main/res/layout/item_track_next_topic.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: android

#245 ALTAPPS-412: shared topics repetitions fixes
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/Formatter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/mapper/TopicsRepetitionsViewDataMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/model/TopicsRepetitionsViewData.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
Labels: shared, ios

#246 ALTAPPS-435: Add scroll on the Home screen
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
Labels: bug, android
