Repository hyperskill/mobile-app, pull requests merged in 2022-05, with the labels that each got.

#44 ALTAPPS-74: iOS launch navigation
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/App/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/App/HyperskillApp.swift
  iosHyperskillApp/iosHyperskillApp/Sources/App/SceneDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftStdlib/String+Whitespaces.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View+EndEditing.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/ThirdParty/MokoResources/ResourcesStringResource+Localized.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIApplicationExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/SourcelessRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppNavigation.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/AuthCredentialsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsErrorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthTextField.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthEmail/Views/AuthEmailView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthAdaptiveContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Settings/SettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersList/UsersListAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersList/UsersListViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersList/Views/UsersListRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersList/Views/UsersListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/GoogleSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/Web/WebOAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/ProgressHUD.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Styles/Buttons/RoundedRectangleButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Wrappers/TextFieldWrapper.swift
  iosHyperskillApp/iosHyperskillApp/en.lproj/Localizable.strings
Labels: ios

#46 ALTAPPS-58: Android Auth with GitHub and Jetbrains
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/injection/AuthSocialWebViewComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/injection/AuthSocialWebViewModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/presentation/AuthSocialWebViewViewModel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/adapter/delegates/AuthSocialAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/model/AuthSocialCardInfo.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AppCoreComponent.kt
  androidHyperskillApp/src/main/res/drawable/ic_close.xml
  androidHyperskillApp/src/main/res/font/pt_mono.ttf
  androidHyperskillApp/src/main/res/layout/dialog_in_app_web_view.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_social_web_view.xml
  androidHyperskillApp/src/main/res/layout/progress_bar_on_empty_screen.xml
  androidHyperskillApp/src/main/res/layout/view_centered_appbar.xml
  androidHyperskillApp/src/main/res/layout/view_centered_toolbar.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  iosHyperskillApp/autocorrect.sh
  iosHyperskillApp/lint.sh
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialWebViewFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialWebViewActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialWebViewFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialWebViewReducer.kt
Labels: shared, ios, android

#49 ALTAPPS-81: iOS choice quiz UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-apple-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-apple-logo.imageset/apple_icon.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-github-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-github-logo.imageset/github_icon.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-google-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-google-logo.imageset/google_icon.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-hyperskill-logo.imageset/logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-jetbrains-logo.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AuthSocial/auth-social-jetbrains-logo.imageset/jb_logo.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-checkmark.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-checkmark.imageset/step-quiz-choice-checkmark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-discussions.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-discussions.imageset/step-quiz-discussions.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-info.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-info.imageset/step-quiz-info.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-lightning.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-lightning.imageset/step-quiz-lightning.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+Border.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+EndEditing.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+Frame.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+RemoveBackButtonTitle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/QuizStatus.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthLogoView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/BottomControls/StepBottomControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/BottomControls/StepRatingControl.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/BottomControls/StepQuizBottomControls.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/BottomControls/StepQuizDiscussionsButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizDescView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizHintButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizStatsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizStatusView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/StepQuizChoiceViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceElementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoicesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppAppearance.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/BackgroundView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/CheckboxButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/NavigationToolbarInfoItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/RadioButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/Styles/Buttons/OutlineButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Theme/Color+DesignSystem.swift
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizStatsTextMapper.kt
Labels: shared, ios

#52 ALTAPPS-137: iOS skeleton support
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/autocorrect.sh
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoiceView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizChoice/Views/StepQuizChoicesView.swift
  iosHyperskillApp/lint.sh
Labels: ios
