Repository hyperskill/mobile-app, pull requests merged in 2022-04, with the labels that each got.

#19 ALTAPPS-43: Fix SwiftUI Previews
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Views/MokoResourcesSampleView.swift
  shared/build.gradle.kts
Labels: bug

#28 ALTAPPS-18: Google auth logic
  .github/workflows/swiftlint.yml
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/keys/debug.properties
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/injection/AuthSocialDataModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/injection/AuthSocialModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AppCoreComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/SharedPreferencesModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/network/injection/AndroidNetworkModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/network/injection/AuthHttpClient.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/network/injection/AuthorizedHttpClient.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/network/injection/StubHttpClient.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/user_list/injection/UserListDataModule.kt
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/GoogleService-Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/DeviceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/Require.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/UserAgentBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Model/Constants/GoogleServiceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Auth/AuthAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Auth/AuthViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/MokoResourcesSampleView.swift
  shared/build.gradle.kts
  shared/keys/dev.properties
  shared/keys/production.properties
  shared/keys/release.properties
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/cache/AuthCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/cache/AuthCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/repository/AuthRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/source/AuthCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/source/AuthRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/interactor/AuthInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/repository/AuthRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/model/AuthResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/AuthRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/remote/UserAgentInfo.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkModule.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/Settings.kt
Labels: shared

#33 ALTAPPS-70: add credentials keys
  shared/keys/dev.properties
  shared/keys/production.properties
  shared/keys/release.properties
Labels: shared

#34 ALTAPPS-61: remove redundant colors
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared

#40 ALTAPPS-38: Logout channel
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/injection/AuthSocialDataModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AppCoreComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AppCoreModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/injection/MainComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/injection/MainModule.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/presentation/MainViewModel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/network/injection/AndroidNetworkModule.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/SharedResourcesFormatted.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/repository/AuthRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/data/source/AuthRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/interactor/AuthInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/model/UserDeauthorized.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/repository/AuthRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/AuthRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/BearerTokenHttpClientPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkModule.kt
Labels: shared

#41 ALTAPPS-79: Update ktor
  gradle/libs.versions.toml
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/AuthRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/BearerTokenHttpClientPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/login/remote/UserLoginRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkModule.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_list/remote/UserListRemoteDataSourceImpl.kt
Labels: shared

#47 ALTAPPS-26: iOS Sentry
  .gitattributes
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sentry-Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/App/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/BundlePropertyListDeserializer.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/ApplicationInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/GoogleServiceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/SentryInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/SentryManager.swift
  shared/build.gradle.kts
  shared/src/iosMain/kotlin/org/hyperskill/app/config/BuildConfig.kt
Labels: ios

#48 ALTAPPS-25: Android setup sentry
  .gitattributes
  .github/labeler.yml
  .github/workflows/label.yml
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/keys/debug.properties
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  gradle/libs.versions.toml
  sentry.properties
Labels: android
