Repository hyperskill/mobile-app, pull requests merged in 2023-10, with the labels that each got.

#677 ALTAPPS-949: iOS make code editor an active input
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-code-editor-expand.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-code-editor-expand.imageset/step-quiz-code-editor-expand.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorViewDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepText/ExpandableStepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepText/StepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/StepQuizCodeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/StepQuizCodeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/Details/Samples/StepQuizCodeSampleItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/Details/Samples/StepQuizCodeSamplesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/Details/StepQuizCodeDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/InputOutput/StepQuizCodeFullScreenOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/StepQuizCodeFullScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/StepQuizCodeFullScreenViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/StepQuizSQLViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/Views/StepQuizSQLView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/KeyboardManager.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/domain/model/ProblemsLimitScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedOpenFullScreenCodeEditorHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedStepTextDetailsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizCodeEditorClickedInputAccessoryButtonHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFullScreenCodeEditorClickedCodeDetailsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFullScreenCodeEditorClickedStepTextDetailsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizStatsTextMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#690 ALTAPPS-1000: iOS fix code editor loses focus on user typing
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Introspect/IntrospectScrollView.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectScrollViewTests.swift
Labels: bug, ios

#691 GitHub Actions: CI workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gradle_wrapper_validation.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
Labels: ci/cd

#693 iOS: SwiftLint update list of paths to the all targets
  iosHyperskillApp/NotificationServiceExtension/NotificationService.swift
  iosHyperskillApp/autocorrect.sh
  iosHyperskillApp/iosHyperskillAppTests/CollectionsTests/LinkedListTests.swift
  iosHyperskillApp/iosHyperskillAppTests/CollectionsTests/QueueTests.swift
  iosHyperskillApp/iosHyperskillAppTests/ExtensionsTests/URLExtensionsTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/ContentProcessor/HTMLStringTests.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectScrollViewTests.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectTestUtils.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectViewControllerTests.swift
  iosHyperskillApp/iosHyperskillAppUITests/LaunchPerformanceTests.swift
  iosHyperskillApp/iosHyperskillAppUITests/LaunchTests.swift
  iosHyperskillApp/lint.sh
Labels: ios

#694 GitHub Actions: CodeQL code scanning
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: ci/cd

#695 ALTAPPS-980: Android fix scroll on landscape orientation
  androidHyperskillApp/src/main/res/layout-night/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_social.xml
  androidHyperskillApp/src/main/res/layout/fragment_onboarding.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
Labels: bug, android

#696 ALTAPPS-949: iOS StepQuizCodeEditorView use language name from shared
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/StepQuizCodeFullScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/StepQuizSQLViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/Views/StepQuizSQLView.swift
Labels: ios

#697 ALTAPPS-1009: Android fix latexView crash
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_content_text/view/delegate/TextStepContentDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
Labels: bug, android

#689 ALTAPPS-996: Shared first problem onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/TrackSelectionDetailsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/TrackSelectionDetailsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/domain/analytic/FirstProblemOnboardingClickedLearningActionHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/domain/analytic/FirstProblemOnboardingViewedHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/injection/FirstProblemOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/injection/FirstProblemOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/injection/FirstProblemOnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/view/mapper/FirstProblemOnboardingViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/LearningActivitiesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/LearningActivitiesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingClickedAllowNotificationsHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingClickedRemindMeLaterHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingViewedHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/details/TrackSelectionDetailsTest.kt
Labels: shared, ios, android, ready to pull

#705 ALTAPPS-544: Shared Sentry transactions convenient API
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/presentation/ProjectSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/SentryExtentions.kt
Labels: shared, ready to pull

#702 ALTAPPS-997: iOS first problem onboarding
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/FirstProblemOnboarding/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/FirstProblemOnboarding/first-problem-onboarding-existing-user-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/FirstProblemOnboarding/first-problem-onboarding-existing-user-illustration.imageset/first-problem-onboarding-existing-user-illustration.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/FirstProblemOnboarding/first-problem-onboarding-new-user-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/FirstProblemOnboarding/first-problem-onboarding-new-user-illustration.imageset/first-problem-onboarding-new-user-illustration.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/FirstProblemOnboardingFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/FirstProblemOnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/FirstProblemOnboardingOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/FirstProblemOnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/Views/FirstProblemOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/Views/FirstProblemOnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/TrackSelectionDetailsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/TrackSelectionDetailsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, ready to pull

#703 ALTAPPS-998: Android first problem onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillTheme.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/fragment/FirstProblemOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/navigation/FirstProblemOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/ui/FirstProblemOnboardingContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/ui/FirstProblemOnboardingDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/ui/FirstProblemOnboardingSkeleton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/ui/FirstProblemOnboardingUI.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-night-hdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-night-hdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-night-mdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-night-mdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xhdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xxhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xxhdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xxxhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-night-xxxhdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_first_problem_onboarding_new_user.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_first_problem_onboarding_experienced_user.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_first_problem_onboarding_new_user.webp
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/first_problem_onboarding/injection/PlatformFirstProblemOnboardingComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/first_problem_onboarding/injection/PlatformFirstProblemOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingViewModel.kt
Labels: shared, android

#706 GitHub Actions: Automerge develop into release
  .github/workflows/automerge_into_release.yml
Labels: ci/cd

#704 ALTAPPS-1003: Shared rearrange home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/dialog/TopicPracticeCompletedBottomSheet.kt
  androidHyperskillApp/src/main/res/layout/fragment_completed_daily_step.xml
  androidHyperskillApp/src/main/res/layout/fragment_problems_limit_reached.xml
  androidHyperskillApp/src/main/res/layout/fragment_topic_practice_completed.xml
  androidHyperskillApp/src/main/res/layout/fragment_unsupported_stage.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Modals/Unsupported/StageImplementUnsupportedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompletedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompletedModalViewControllerDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemsLimitReachedModalViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/domain/analytic/NextLearningActivityWidgetClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/injection/NextLearningActivityWidgetComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/injection/NextLearningActivityWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/presentation/NextLearningActivityWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/presentation/NextLearningActivityWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/presentation/NextLearningActivityWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/view/mapper/NextLearningActivityWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionTopicCompletedModalClickedGoToStudyPlanHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android, ready to pull

#708 ALTAPPS-1011: Android fix input focus invokes keyboard on code editor closing
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
Labels: bug, android, awaiting review

#710 ALTAPPS-1005: Android rearrange home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/screen/TrainingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreenRouter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/Tabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/next_learning_activity/view/delegate/NextLearningActivityDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/next_learning_activity/view/model/NextLearningActivityLoadingErrorRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/click_handling/delegate/NotificationClickHandlingDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/ProfileViewActionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageImplementationFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_navigation_training.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/layout_next_learning_activity.xml
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
Labels: android

#709 ALTAPPS-1004: iOS rearrange home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionHeaderDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/widget/VerticalDashLineView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/ColorExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/TimeIntervalUtil.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home-filled.imageset/tab-bar-home-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-home.imageset/tab-bar-home@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile-filled.imageset/tab-bar-profile-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-profile.imageset/tab-bar-profile@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images+SystemNames.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivitySkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivityView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/ProjectSelectionDetailsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/ProjectSelectionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/cache/ProfileSettingsCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/user_storage/cache/UserStorageCacheDataSourceImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#711 ALTAPPS-1015: Shared fill in the blanks with inputs
  shared/src/androidMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/attempts/Component.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksConfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksItem.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/InvalidFillBlanksConfigException.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksItemMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksResolver.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/FillBlanksMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/FillBlanksResolverTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksItemMapperExtensions.kt
Labels: shared

#714 GitHub Actions: Automerge create new release branch if needed
  .github/workflows/automerge_into_release.yml
  setup_new_release_branch.sh
Labels: ci/cd

#716 ALTAPPS-993: Shared use new gamification toolbar API
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/data/repository/GamificationToolbarRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/data/source/GamificationToolbarRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/model/GamificationToolbarData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/model/GamificationToolbarTrackProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/repository/GamificationToolbarRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/remote/GamificationToolbarRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/remote/model/CurrentGamificationToolbarResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/repository/SubmissionRepository.kt
Labels: shared, ios, android, ready to pull

#717 ALTAPPS-1017: Android fill in the blanks with inputs
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/delegate/FillBlanksStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/dialog/FillBlanksInputDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/fragment/FillBlanksStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_input_item.xml
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_input_text_field.xml
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_item_vertical_divider.xml
  androidHyperskillApp/src/main/res/font/menlo.xml
  androidHyperskillApp/src/main/res/layout/fragment_fill_blanks_input.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_input.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_text.xml
  androidHyperskillApp/src/main/res/layout/layout_fill_blanks_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks_binding.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/type.xml
  gradle/libs.versions.toml
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksItem.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksItemMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, android, awaiting review

#720 ALTAPPS-1016: iOS fill in the blanks with inputs
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIFont+SizeOfString.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/StepQuizFillBlanksAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/StepQuizFillBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapperCache.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/FillBlanksQuizViewWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/StepQuizFillBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/FillBlanksInputCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/FillBlanksTextCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizCollectionViewAdapter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizInputContainerView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizTitleView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/KeyboardManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/CollectionViewLayouts/LeftAlignedCollectionViewFlowLayout.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitSeparatorView.swift
Labels: ios

#712 Fill in the blanks with inputs
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/delegate/FillBlanksStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/dialog/FillBlanksInputDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/fragment/FillBlanksStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_input_item.xml
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_input_text_field.xml
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_item_vertical_divider.xml
  androidHyperskillApp/src/main/res/font/menlo.xml
  androidHyperskillApp/src/main/res/layout/fragment_fill_blanks_input.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_input.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_text.xml
  androidHyperskillApp/src/main/res/layout/layout_fill_blanks_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks_binding.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/type.xml
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIFont+SizeOfString.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/StepQuizFillBlanksAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/StepQuizFillBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapperCache.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/FillBlanksQuizViewWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/StepQuizFillBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/FillBlanksInputCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/FillBlanksTextCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizCollectionViewAdapter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizInputContainerView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizTitleView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/KeyboardManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/CollectionViewLayouts/LeftAlignedCollectionViewFlowLayout.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitSeparatorView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/utils/RegexUtils.android.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/utils/RegexUtils.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/attempts/Component.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksConfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/FillBlanksItem.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/model/InvalidFillBlanksConfigException.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksItemMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksResolver.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/FillBlanksMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/FillBlanksResolverTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/utils/RegexUtils.ios.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
Labels: shared, ios, android

#721 ALTAPPS-999: Shared increased limits for first step completion
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Gamification.kt
Labels: shared

#727 ALTAPPS-906: Shared change progress page for freemium users
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/ProgressPreview.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/track/TrackProgressContent.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionStub.kt
Labels: shared, ios, android

#729 ALTAPPS-906: Shared fix progress screen for tracks without projects
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackWithProgressStub.kt
Labels: shared, awaiting review

#730 ALTAPPS-999: Shared update limits locally instead of loading from backend
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
Labels: shared
