Repository hyperskill/mobile-app, pull requests merged in 2023-04, with the labels that each got.

#411 ALTAPPS-669: Android base study plan UI
  androidHyperskillApp/src/debug/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/Tabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanSectionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/drawable-night/ic_section_time_to_complete.xml
  androidHyperskillApp/src/main/res/drawable-night/ic_section_topics_count.xml
  androidHyperskillApp/src/main/res/drawable/bg_activity_percentage.xml
  androidHyperskillApp/src/main/res/drawable/ic_activity_locked.xml
  androidHyperskillApp/src/main/res/drawable/ic_navigation_study_plan.xml
  androidHyperskillApp/src/main/res/drawable/ic_section_arrow_bottom.xml
  androidHyperskillApp/src/main/res/drawable/ic_section_arrow_top.xml
  androidHyperskillApp/src/main/res/drawable/ic_section_time_to_complete.xml
  androidHyperskillApp/src/main/res/drawable/ic_section_topics_count.xml
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activities_loading.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_section.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_section_loading.xml
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
Labels: android

#424 ALTAPPS-692: Android fix crash when navigate to HomeScreen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/navigation/MainNavigationContainer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/navigation/NavigationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/injection/NavigationComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/injection/NavigationComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreenRouter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
Labels: bug, android

#425 ALTAPPS-676: Shared support rejected submissions
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtonState+SubmissionStatus.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/SubmissionStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
Labels: shared, ios, android, ready to pull

#426 ALTAPPS-666: Android fix choice problems click area
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/CompoundLatexItemView.kt
Labels: bug, android

#423 ALTAPPS-679: Tracks, progresses & studyPlan cached access
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository_cache/InMemoryRepositoryCache.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository_cache/RepositoryCache.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository_cache/RepositoryCacheProxy.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/cache/ProjectProgressesCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/cache/TrackProgressesCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/repository/ProgressesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/source/ProjectProgressesCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/source/TrackProgressesCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/interactor/ProgressesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/repository/ProgressesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/CurrentStudyPlanStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/StudyPlanRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/CurrentStudyPlanStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/StudyPlanRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/cache/TrackCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/repository/TrackRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/source/TrackCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/interactor/TrackInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/RepositoryCacheProxyTest.kt
Labels: shared, ready to pull

#428 ALTAPPS-679: Remove RepositoryCacheProxy sorting
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository_cache/RepositoryCacheProxy.kt
  shared/src/commonTest/kotlin/org/hyperskill/RepositoryCacheProxyTest.kt
Labels: shared

#422 ALTAPPS-670: iOS base study plan UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan-filled.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan-filled.imageset/tab-bar-study-plan-filled.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan-filled.imageset/tab-bar-study-plan-filled@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan-filled.imageset/tab-bar-study-plan-filled@3x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan.imageset/tab-bar-study-plan.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan.imageset/tab-bar-study-plan@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/TabBar/tab-bar-study-plan.imageset/tab-bar-study-plan@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Statistics/ProfileStatisticsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionHeaderStatisticsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionItem/StudyPlanSectionItemIconView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionItem/StudyPlanSectionItemProgressBadgeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionItem/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TopicToDiscoverNextButtonView.swift
Labels: ios, awaiting review

#430 ALTAPPS-680: Shared add progress into gamification toolbar
  .github/workflows/lint.yml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/model/GamificationToolbarScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android, ci/cd, ready to pull

#427 Release 1.14
  .github/workflows/lint.yml
  androidHyperskillApp/fastlane/release-notes.txt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/CompoundLatexItemView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  gradle/app.versions.toml
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Appfile
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/Pluginfile
  iosHyperskillApp/fastlane/release-notes.txt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtonState+SubmissionStatus.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository_cache/InMemoryRepositoryCache.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository_cache/RepositoryCache.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository_cache/RepositoryCacheProxy.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/cache/ProjectProgressesCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/cache/TrackProgressesCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/repository/ProgressesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/source/ProjectProgressesCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/source/TrackProgressesCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/interactor/ProgressesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/repository/ProgressesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/SubmissionStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/CurrentStudyPlanStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/StudyPlanRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/CurrentStudyPlanStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/StudyPlanRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/cache/TrackCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/repository/TrackRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/source/TrackCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/interactor/TrackInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/RepositoryCacheProxyTest.kt
Labels: shared, ios, android, release, ci/cd

#432 ALTAPPS 702: Shared fix sections sorting
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: shared

#435 ALTAPPS-696: Android add progress to the toolbar
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/widget/ToolbarTrackProgressView.kt
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
Labels: android

#433 ALTAPPS-535: Android add swipeRefresh to Home, Track and Profile fragments
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/SwipeRefreshExtenions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  gradle/libs.versions.toml
Labels: android

#429 ALTAPPS-662: Shared reload study-plan every screen entering
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/analytics/StudyPlanClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: shared, ios, android, awaiting review

#431 ALTAPPS-687: Shared disable project auto selection for new users with freemium
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSelectTrackRequest.kt
Labels: shared

#439 Release 1.15
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/android_beta_deployment.yml
  .github/workflows/android_release_deployment.yml
  .github/workflows/build.yml
  .github/workflows/build_caches.yml
  .github/workflows/cleanup_pr_caches.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gh_pages_analytics.yml
  .github/workflows/gradle_wrapper_validation.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
  androidHyperskillApp/Gemfile
  androidHyperskillApp/Gemfile.lock
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/fastlane/release-notes.txt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/SwipeRefreshExtenions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  gradle/app.versions.toml
  gradle/libs.versions.toml
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/release-notes.txt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/injection/PlaceholderNewUserFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/presentation/PlaceholderNewUserActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/interactor/ProfileInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSelectTrackRequest.kt
Labels: shared, ios, android, release, ci/cd

#448 ALTAPPS-698: iOS add progress in gamification toolbar
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/ProgressBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackAssembly.swift
Labels: ios

#445 ALTAPPS-704: iOS add reload study plan activities UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Placeholder/placeholder-reload.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Placeholder/placeholder-reload.imageset/placeholder-reload.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionContentErrorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView+Configurations.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView.swift
Labels: ios, awaiting review

#449 ALTAPPS-714: Shared fix study plan reload content in background
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: bug, shared

#451 ALTAPPS-715: Shared fix study plan section statistics visibility
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: bug, shared

#452 ALTAPPS-672: Shared study plan performance tracking
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
Labels: shared, ready to pull

#455 ALTAPPS-729: Shared study plan filter sections
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSection.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSectionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: shared

#457 ALTAPPS-664: shared activities pagination inside section
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSection.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
Labels: shared
