Repository hyperskill/mobile-app, pull requests merged in 2023-01, with the labels that each got.

#296 ALTAPPS-427: Fix incorrect next daily problem in timer value
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
Labels: bug, shared

#303 ALTAPPS-414: iOS fix choices elements HTML-content rendering (no line breaks)
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/HTMLToAttributedStringConverter.swift
Labels: bug, ios

#308 ALTAPPS-493: CI/CD build caches for default branch
  .github/actions/setup-ios/action.yml
  .github/workflows/build_caches.yml
  .github/workflows/ios_release_deployment.yml
Labels: ci/cd

#305 ALTAPPS-318: Android fix notifications switch extra click needed
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
Labels: bug, android, ready to pull

#304 ALTAPPS-479: Add theory button on the repetitions quiz screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/res/layout/view_step_quiz_theory_button.xml
  androidHyperskillApp/src/main/res/menu/step_quiz_appbar_menu.xml
Labels: android, ready to pull

#307 ALTAPPS-475: Android change not completed streak icon in header
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/res/drawable-night/ic_menu_empty_streak.xml
  androidHyperskillApp/src/main/res/drawable/ic_menu_empty_streak.xml
  androidHyperskillApp/src/main/res/drawable/ic_menu_gems_count.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
Labels: android, ready to pull

#309 ALTAPPS-459: Replace spiner loading with skeleton on Home and Track screens.
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  androidHyperskillApp/src/main/res/layout/layout_home_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_track_skeleton.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: android, ready to pull

#310 ALTAPPS-522: Fix ActivityNotFound crashes
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/SocialNetworksRedirectExtensions.kt
Labels: bug, android, ready to pull

#313 ALTAPPS-517: iOS change uncompleted streak icon in header
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-completed.imageset/navigation-bar-streak-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-completed.imageset/navigation-bar-streak-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-uncompleted.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-uncompleted.imageset/navigation-bar-streak-uncompleted-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-streak-uncompleted.imageset/navigation-bar-streak-uncompleted-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/NavigationBar/StreakBarButtonItem.swift
Labels: bug, ios, ready to pull

#314 ALTAPPS-533: Update splash subtitle icon on Android
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_branded_logo_splash.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_branded_logo_splash.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_branded_logo_splash.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_branded_logo_splash.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_branded_logo_splash.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_branded_logo_splash.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.png
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable/ic_splash_subtitle.xml
  gradle/libs.versions.toml
Labels: android, awaiting changes

#317 ALTAPPS-319: Android update notification icon
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/DailyStudyReminderNotificationDelegate.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_notifiaction_small.xml
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_notifiaction_small.xml
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_notifiaction_small.xml
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_notifiaction_small.xml
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_notifiaction_small.xml
Labels: bug, android

#319 ALTAPPS-534: Move ImageLoade intoAndroidAppComponent root
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/image_loading/injection/ImageLoadingComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/image_loading/injection/ImageLoadingComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/dialog/NewUserTrackDetailsBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/placeholder_new_user/fragment/PlaceholderNewUserFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/fragment/StepQuizHintsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
Labels: android, ready to pull

#318 ALTAPPS-520: Fix StepQuiz feature crash on android
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/androidTest/kotlin/org/hyperskill/StepQuizHintsViewStateMapperTest.kt
Labels: bug, shared, ready to pull

#320 ALTAPPS-484: Android fix incorrect repetition stats diagram
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionChartCardDelegate.kt
  androidHyperskillApp/src/main/res/layout/layout_topics_repetition_chart.xml
Labels: bug, android, ready to pull

#321 ALTAPPS-538: CI/CD bump Xcode version from 14.1 to 14.2
  .github/actions/setup-ios/action.yml
  .github/labeler.yml
Labels: ci/cd

#322 ALTAPPS-519: Implement GamificationToolbar UI on Android
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarIdleComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/reducer/GamificationToolbarIdleReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/reducer/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/reducer/GamificationToolbarReducerImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, ready to pull

#323 ALTAPPS-540: Shared, Android display topics progress
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/adapter_delegate/TopicAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/drawable/bg_track_progress.xml
  androidHyperskillApp/src/main/res/drawable/ic_topic_completed.xml
  androidHyperskillApp/src/main/res/drawable/ic_topic_skipped.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  androidHyperskillApp/src/main/res/layout/item_topic.xml
  androidHyperskillApp/src/main/res/layout/item_track_next_topic.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/domain/model/TopicProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
Labels: shared, android, ready to pull

#324 ALTAPPS-428: add next problem in label on android problem of day card
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problem_of_day/view/delegate/ProblemOfDayCardFormDelegate.kt
  androidHyperskillApp/src/main/res/layout/layout_problem_of_the_day_card.xml
Labels: bug, android

#328 ALTAPPS-552: Android Sentry capture HTTP client errors
  androidHyperskillApp/build.gradle.kts
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkModule.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
Labels: shared, android, ready to pull

#329 ALTAPPS-529: shared feature for topics to learn next
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+HiddenWithCondition.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TrackTopicsToDiscoverNextBlockView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TrackTopicsToDiscoverNextSkeletonBlockView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TrackTopicsToDiscoverNextSkeletonListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/injection/LearningActivitiesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/injection/LearningActivitiesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Features.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/PostedComments.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/injection/TopicsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/injection/TopicsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/data/flow/TopicRepeatedFlowImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/flow/TopicRepeatedFlow.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/interactor/TopicsRepetitionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsFlowDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsFlowDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/analytic/TopicsToDiscoverNextClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/model/TopicsToDiscoverNextScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android, ready to pull

#331 ALTAPPS-553: Shared Sentry manual breadcrumb recording of analytic events
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/Analytic.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/AnalyticEventMonitor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/injection/AnalyticComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/interactor/SentryInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/breadcrumb/HyperskillSentryBreadcrumbAnalyticEventMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/breadcrumb/HyperskillSentryBreadcrumbCategory.kt
  shared/src/commonTest/kotlin/org/hyperskill/HyperskillSentryBreadcrumbAnalyticEventMapperTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, ready to pull
