Repository hyperskill/mobile-app, pull requests merged in 2023-11, with the labels that each got.

#732 iOS: update dependencies
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/Views/FirstProblemOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/LottieAnimationViewWrapper.swift
Labels: ios, dependencies

#733 ALTAPPS-1013: Shared refactor StepQuizHintsFeature to embeddable feature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/fragment/StepQuizHintsFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepQuizHintsFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepQuizHintsFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintReactionButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizShowHintButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/Views/StepQuizHintsView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsViewModel.kt
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/view/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#734 ALTAPPS-987: Shared remove pagination for root topics section
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared

#735 ALTAPPS-1037: Fix hint margins in Idle state
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: bug, android

#736 ALTAPPS-1029: Android fix android step quiz horizontal margin
  androidHyperskillApp/src/main/res/layout/layout_fill_blanks_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks_binding.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_parsons.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: bug, android

#737 ALTAPPS-1026: Shared share streak
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/data/repository/CurrentGamificationToolbarDataStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/repository/CurrentGamificationToolbarDataStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/repository/GamificationToolbarRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/cache/ShareStreakCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/cache/ShareStreakCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/data/repository/ShareStreakRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/data/source/ShareStreakCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/domain/interactor/ShareStreakInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/domain/repository/ShareStreakRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/injection/ShareStreakDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/share_streak/injection/ShareStreakDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionDailyStepCompletedModalClickedShareStreakHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionHyperskillAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShareStreakModalClickedNoThanksHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShareStreakModalClickedShareHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShareStreakModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShareStreakModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#739 ALTAPPS-1027: iOS share streak
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-1.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-1.imageset/share-streak-day-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-10.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-10.imageset/share-streak-day-10.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-100.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-100.imageset/share-streak-day-100.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-25.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-25.imageset/share-streak-day-25.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-5.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-5.imageset/share-streak-day-5.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-50.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ShareStreak/share-streak-day-50.imageset/share-streak-day-50.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ShareStreak/ShareStreakAction.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ShareStreak/ShareStreakModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ShareStreak/ShareStreakModalViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
Labels: shared, ios, android

#741 iOS: LatexView improvements
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/SwiftUIProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/Content/ProjectSelectionDetailsLearningOutcomesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepExpandableStepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepText/StepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizChoice/Views/StepQuizChoiceElementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizParsons/Views/StepQuizParsonsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
Labels: ios

#743 ALTAPPS-1021: Android fill in the blanks with select
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/LayerListDrawableDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/adapter/FillBlanksInputItemAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/adapter/FillBlanksSelectItemAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/adapter/FillBlanksSelectOptionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/adapter/FillBlanksTextItemAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/delegate/FillBlanksStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/fragment/FillBlanksStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/model/FillBlanksSelectOptionUIItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/model/FillBlanksUiItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/model/HighlightResult.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/model/ResolveState.kt
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_options_vertical_divider.xml
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_select_item.xml
  androidHyperskillApp/src/main/res/layout/fragment_stage_step_wrapper.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_select.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_select_option.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks_options.xml
  androidHyperskillApp/src/main/res/values/ids.xml
Labels: android

#740 ALTAPPS-1030: [Shared, iOS] Fill blanks problem onboarding modal
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz_parsons_onboarding.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/LottieAnimations.swift
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOnboarding/StepQuizProblemOnboardingModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOnboarding/StepQuizProblemOnboardingModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizParsons/Views/OnboardingModal/StepQuizParsonsOnboardingModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizParsons/Views/OnboardingModal/StepQuizParsonsOnboardingModalViewController.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/model/ProblemsOnboardingFlags.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ParsonsProblemOnboardingModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ParsonsProblemOnboardingModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemOnboardingModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemOnboardingModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#746 ALTAPPS-1031: Android FillBlanks onboarding animation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/ProblemOnboardingBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/dialog/ParsonsStepQuizOnboardingBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz_problem_onboarding.xml
  androidHyperskillApp/src/main/res/raw-night/fill_blanks_input_onboarding_animation.zip
  androidHyperskillApp/src/main/res/raw-night/fill_blanks_select_onboarding_animation.zip
  androidHyperskillApp/src/main/res/raw/fill_blanks_input_onboarding_animation.zip
  androidHyperskillApp/src/main/res/raw/fill_blanks_select_onboarding_animation.zip
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
Labels: shared, android

#747 ALTAPPS-1028: Android share streak
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ShareUtils.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/share_streak/fragment/ShareStreakDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_streak.xml
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_1.png
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_10.png
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_100.png
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_25.png
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_5.png
  androidHyperskillApp/src/main/res/drawable/img_share_streak_day_50.png
  androidHyperskillApp/src/main/res/layout/fragment_completed_daily_step.xml
  androidHyperskillApp/src/main/res/layout/fragment_share_streak.xml
  androidHyperskillApp/src/main/res/xml/provider_paths.xml
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/androidMain/kotlin/org/hyperskill/app/step/presentation/StepViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
Labels: shared, ios, android

#751 ALTAPPS-725: iOS fix stage implement step error placeholder
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView+Configurations.swift
Labels: bug, ios

#750 ALTAPPS-1035: iOS challenges
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-announcement.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-announcement.imageset/challenge-widget-status-announcement.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-completed.imageset/challenge-widget-status-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-ended.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-ended.imageset/challenge-widget-status-ended.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-happening-now.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-happening-now.imageset/challenge-widget-status-happening-now.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-partially-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ChallengeWidget/challenge-widget-status-partially-completed.imageset/challenge-widget-status-partially-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ChallengeWidgetViewStateContentCollectRewardButtonStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ChallengeWidgetViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GemsBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/StreakBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/ChallengeWidgetAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/ChallengeWidgetOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/ChallengeWidgetViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/ChallengeWidgetErrorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/ChallengeWidgetSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/ChallengeWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ChallengeWidgetContentStateCollectRewardButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ChallengeWidgetContentStateDeadlineView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ChallengeWidgetContentStateDescriptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ChallengeWidgetContentStateHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ChallengeWidgetContentStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ProgressGrid/ChallengeWidgetContentStateProgressGridItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ChallengeWidget/Views/Content/ProgressGrid/ChallengeWidgetContentStateProgressGridView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/ProblemOfDayAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/ProblemOfDayOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/ProblemOfDayViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/ViewData/ProblemOfDayViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/ViewData/ProblemOfDayViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/Views/ProblemOfDaySkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/ProblemOfDay/Views/ProblemOfDayTitle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/TopicsRepetitions/TopicsRepetitionsCardSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/TopicsRepetitions/TopicsRepetitionsCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/HomeSubmodules/TopicsRepetitions/TopicsRepetitionsCountView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView+Configurations.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView.swift
Labels: ios

#752 GitHub Actions: Automerge fix get current version number
  .github/workflows/automerge_into_release.yml
Labels: bug, ci/cd

#755 ALTAPPS-1046: Android fix share streak bottom sheet remains not hidden after any button click
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/share_streak/fragment/ShareStreakDialogFragment.kt
Labels: bug, android, ready to pull

#754 ALTAPPS-1028: Android challenge widget
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/delegate/ChallengeCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/AnnouncementChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeCardDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeCardPreviewValues.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeDateLabel.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeDescription.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeHeader.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeScaffold.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeStatus.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeTimeText.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/CompletedChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/HappeningNowChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/NotCompletedChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/PartiallyCompletedChallengeCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/CustomTabsExtention.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/DataLoadingError.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HtmlText.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/ShimmerLoading.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_challenge_announcment.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_challenge_completed.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_challenge_not_completed.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_challenge_partly_completed.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_challenge_progress.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_challenge_announcment.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_challenge_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_challenge_not_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_challenge_partly_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_challenge_progress.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_challenge_announcment.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_challenge_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_challenge_not_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_challenge_partly_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_challenge_progress.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_challenge_announcment.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_challenge_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_challenge_not_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_challenge_partly_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_challenge_progress.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_challenge_announcment.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_challenge_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_challenge_not_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_challenge_partly_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_challenge_progress.webp
  androidHyperskillApp/src/main/res/drawable/ic_missed_challenge_day.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/widget_data_loading_error.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  gradle/libs.versions.toml
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#758 ALTAPPS-1047: Android fix challenge widget progress statuses layout
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeCardDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeCardPreviewValues.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeProgress.kt
Labels: bug, android, ready to pull

#759 ALTAPPS-1046: Android revert share streak auto dismiss
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/share_streak/fragment/ShareStreakDialogFragment.kt
Labels: bug, android

#756 ALTAPPS-1041: Shared study plan screen optimization
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/LearningActivitiesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/NextLearningActivityStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/source/LearningActivitiesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/interactor/LearningActivitiesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/LearningActivitiesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/injection/LearningActivitiesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/injection/LearningActivitiesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/LearningActivitiesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequestParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesWithSectionsRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesWithSectionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/NextLearningActivityRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared

#760 ALTAPPS-1042: Android fill blanks with select improvements
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/libs/flexbox-release.aar
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/delegate/FillBlanksStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_fill_blanks_options_vertical_divider.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_select_option.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks_options.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizStateExtensions.kt
Labels: bug, shared, android
