Repository hyperskill/mobile-app, pull requests merged in 2023-02, with the labels that each got.

#333 ALTAPPS-556: shared incorrect repetitions list
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/view/mapper/TopicsRepetitionsViewDataMapper.kt
Labels: bug, shared, ios, ready to pull

#335 ALTAPPS-531: Android show learn next topic on the home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/adapter_delegate/TopicAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/view/adapter_delegate/LearnNextRecyclerItemDecoration.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/view/adapter_delegate/TopicAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/view/delegate/TopicsToDiscoverNextDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics/view/model/TopicListItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/drawable/bg_next_topic.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
  androidHyperskillApp/src/main/res/layout/item_topic.xml
  androidHyperskillApp/src/main/res/layout/item_topics_list_placeholder.xml
  androidHyperskillApp/src/main/res/layout/layout_home_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_home_topics_to_discover_next.xml
  androidHyperskillApp/src/main/res/layout/layout_learn_next_topic_badge.xml
  androidHyperskillApp/src/main/res/layout/layout_track_about.xml
  androidHyperskillApp/src/main/res/layout/layout_track_footer_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_track_header_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_track_progress.xml
  androidHyperskillApp/src/main/res/layout/layout_track_skeleton.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/view/HomeFeatureViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android, awaiting review

#339 ALTAPPS-543: Android topic completion
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/dialog/TopicPracticeCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepCompletionHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepCompletionView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/delegate/SqlStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_theory.xml
  androidHyperskillApp/src/main/res/layout/fragment_topic_practice_completed.xml
  androidHyperskillApp/src/main/res/layout/layout_quiz_buttons.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, android, ready to pull

#340 ALTAPPS-577: send step view & submission solving context
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/repository/StepRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/source/StepRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/interactor/StepInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/repository/StepRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/repository/SubmissionRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/remote/model/SubmissionRequest.kt
Labels: shared

#338 ALTAPPS-530: iOS show learn next topic on home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-uncompleted.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Home/ProblemOfDay/problem-of-day-arrow-uncompleted.imageset/problem-of-day-arrow-uncompleted-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+HiddenWithCondition.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/TopicsToDiscoverNextFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicToDiscoverNextCard/TopicToDiscoverNextCardDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicToDiscoverNextCard/TopicToDiscoverNextCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TopicToDiscoverNextButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TrackTopicsToDiscoverNextBlockView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/OutlineButtonStyle.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/data/flow/TopicCompletedFlowImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/flow/TopicCompletedFlow.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionFlowDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionFlowDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextReducer.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#343 ALTAPPS-578: fix android notifications
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/DailyStudyReminderNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/HyperskillNotificationManager.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/HyperskillNotificationManagerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/NotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/AlarmReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/BootCompleteReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/receiver/RescheduleNotificationsReceiver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/NotificationAlarmService.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/RescheduleNotificationsService.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
Labels: bug, shared, android

#344 ALTAPPS-591: Android fix code editor text resets to empty when opening fullscreen editor
  .github/workflows/android_beta_deployment.yml
  .github/workflows/ios_beta_deployment.yml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeAnalyzer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditor.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditorLayout.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeLayoutDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/delegate/SqlStepQuizFormDelegate.kt
Labels: bug, android, ci/cd

#346 ALTAPPS: Android fix back navigation to HomeScreen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/navigation/MainNavigationContainer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/navigation/NavigationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
Labels: bug, android

#349 ALTAPPS-580: Android fix ResetCode action on CodeStepQuizFullScreenDialogFragment
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
Labels: bug, android

#348 ALTAPPS-509: [Shared, iOS] debug menu
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  buildSrc/src/main/kotlin/SystemProperties.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/RestartApplicationLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/DebugFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/ApplicationInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images+SystemNames.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/DebugAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/DebugViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/Views/DebugStepNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/Views/DebugView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeDebugStepNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/debug/presentation/DebugViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/config/BuildKonfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/DebugComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/DebugComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/DebugFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/view/DebugViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/analytic/AppClickedBottomNavigationItemHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#342 ALTAPPS-481: iOS improve problem and theory screen
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/ViewData/StepViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/ViewData/StepViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizNameView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizStatsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizStatusView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/StepQuizCodeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/ViewData/StepQuizCodeViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/StepQuizCodeFullScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/StepQuizSQLAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSQL/StepQuizSQLViewDataMapper.swift
Labels: ios

#353 ALTAPPS-594: Shared fix incorrect 1-day streak freeze state
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/model/Streak.kt
Labels: shared

#351 ALTAPPS-584: iOS fix topic name doesn't fit to widget size
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+MeasureSize.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicToDiscoverNextCard/TopicToDiscoverNextCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TopicToDiscoverNextButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TrackTopicsToDiscoverNextSkeletonListView.swift
Labels: ios

#355 ALTAPPS-510: Android debug menu
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/fastlane/Fastfile
  androidHyperskillApp/src/debug/java/org/hyperskill/app/android/debug/DebugScreen.kt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/debug/DebugScreen.kt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/util/DebugToolsHelper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/ExpandableTextView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/DebugScreenUI.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/FindStep.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/ServerSwitcher.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/Tabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/CollectWithLifecycle.kt
  androidHyperskillApp/src/main/res/drawable/ic_debug.xml
  androidHyperskillApp/src/main/res/layout/fragment_debug.xml
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/debug/DebugScreen.kt
  gradle/app.versions.toml
  gradle/libs.versions.toml
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/presentation/FlowView.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/presentation/ReduxFlowView.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/presentation/ReduxFlowViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/presentation/WrapWithFlowView.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/view/HandleActions.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/debug/injection/PlatformDebugComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/debug/presentation/DebugViewModel.kt
Labels: shared, android

#350 ALTAPPS-570: shared refactoring solved steps flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/ProblemOfDaySolvedModalViewControllerDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/daily_notifications_notice/StepCompletionHiddenDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/daily_notifications_notice/StepCompletionShownDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/daily_step_completed_modal/StepCompletionDailyStepCompletedModalClickedGoBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/daily_step_completed_modal/StepCompletionDailyStepCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/daily_step_completed_modal/StepCompletionDailyStepCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/permissions/StepQuizUserPermissionRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizUserPermissionRequestTextMapper.kt
Labels: shared, ios, android

#354 ALTAPPS-602: GitHub Actions CocoaPods improvements
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  shared/build.gradle.kts
  shared/shared.podspec
Labels: shared, ios, ci/cd

#360 ALTAPPS-577: fix /api/views request body
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/model/ViewsRequest.kt
Labels: shared, ready to pull

#356 ALTAPPS-616: Fix serialization errors for Step & TopicRepetition
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizStatsTextMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/model/TopicRepetition.kt
Labels: shared, ios, android, ready to pull

#361 Fix new backend host is not applied after app restart
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/res/values/strings.xml
Labels: bug, android

#363 ALTAPPS-603: Android fix Number step input type
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
Labels: bug, android

#362 ALTAPPS-575: Android fix auth via Google in webView
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
Labels: bug, android

#358 ALTAPPS-614: GitHub Actions bump Java from 11 to 17
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
Labels: ci/cd, awaiting review

#359 ALTAPPS-598: Shared topic completion bottom sheet continue with next topic logic
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/topic_completed_modal/StepCompletionTopicCompletedModalClickedContinueNextTopicHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
Labels: shared, awaiting changes

#365 ALTAPPS-604: iOS Set up a Firebase Cloud Messaging
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/GoogleService-Info.plist
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/GoogleServiceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/GoogleSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/iosHyperskillApp.entitlements
Labels: ios

#369 ALTAPPS-599: iOS topic completion bottom sheet add continue with next topic button
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompletedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompletedModalViewControllerDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, ready to pull

#370 ALTAPPS-600: Android topic completion continue next topic button
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/dialog/TopicPracticeCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_topic_practice_completed.xml
Labels: android

#371 ALTAPPS-601: iOS left aligned navigation bar title appearance
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/RemoveBackButtonTitleHostingController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/StyledHostingController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsAssembly.swift
Labels: ios

#368 ALTAPPS-464: iOS add paste control to code editor input accessory view
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/CodeInputAccessoryBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/PasteControl/CodeInputPasteControl.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/PasteControl/OpaqueUIPasteControl.swift
Labels: ios

#372 ALTAPPS-609: Shared add study plan param to learning activities request
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/LearningActivitiesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/source/LearningActivitiesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/interactor/LearningActivitiesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/LearningActivitiesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/LearningActivitiesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/StudyPlanRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/source/StudyPlanRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlan.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/StudyPlanRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/remote/StudyPlanRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/remote/model/StudyPlanResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/repository/TrackRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/data/source/TrackRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/interactor/TrackInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/TrackRemoteDataSourceImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, awaiting review

#373 ALTAPPS-571: Android improve problem and theory screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizViewStateDelegateFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/delegate/ChoiceStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/fragment/MatchingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/delegate/SortingStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/fragment/SortingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/delegate/SqlStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/fragment/SqlStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/delegate/TableStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_time.xml
  androidHyperskillApp/src/main/res/layout/dialog_step_quiz_code_fullscreen.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_theory.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_code_detail_sample.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code_details.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code_fullscreen_instruction.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_feedback_block.xml
  androidHyperskillApp/src/main/res/layout/step_text_header.xml
  androidHyperskillApp/src/main/res/layout/view_centered_toolbar.xml
  androidHyperskillApp/src/main/res/layout/view_step_quiz_toolbar.xml
  androidHyperskillApp/src/main/res/layout/view_step_toolbar.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
Labels: shared, android, awaiting review
