Repository hyperskill/mobile-app, pull requests merged in 2023-03, with the labels that each got.

#377 ALTAPPS-567: Shared fix streak freeze state synchronization
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
Labels: bug, shared

#379 ALTAPPS-631: Shared stage implementation API
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/repository/ProgressesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/data/source/ProgressesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/interactor/ProgressesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/repository/ProgressesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/remote/ProgressesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/remote/model/ProjectProgressResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/data/repository/ProjectRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/data/source/ProjectRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/interactor/ProjectInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/model/ProjectTrack.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/domain/repository/ProjectRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project/remote/ProjectRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/data/repository/ProjectsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/data/source/ProjectsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/interactor/ProjectsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/repository/ProjectsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/injection/ProjectsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/injection/ProjectsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/remote/ProjectsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/remote/model/ProjectsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/data/repository/StagesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/data/source/StagesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/domain/interactor/StagesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/domain/model/Stage.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/domain/repository/StagesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/injection/StagesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/injection/StagesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/remote/StagesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/remote/model/StagesResponse.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#382 ALTAPPS-631: Shared stage implementation
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/StepExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/DebugViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/Views/DebugStageImplementNavigationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/Views/DebugView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/view/DebugViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageImplementClickedProjectDeprecatedButtonHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageImplementUnsupportedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageImplementUnsupportedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageImplementUnsupportedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageImplementViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/view/mapper/StageImplementViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/TableOfContentsEntry.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/PyCharmFile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/HyperskillAnalyticRouteTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/ReplySerializationTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
Labels: shared, ios, android, ci/cd

#378 ALTAPPS-634: iOS stage implementation unsupported bottom sheet
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StageImplement/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StageImplement/UnsupportedModal/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StageImplement/UnsupportedModal/stage-implement-unsupported-modal-icon.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StageImplement/UnsupportedModal/stage-implement-unsupported-modal-icon.imageset/study-plan-ide-required-modal-monitor-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Views/Modals/UnsupportedModal/StageImplementUnsupportedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Views/Modals/UnsupportedModal/StageImplementUnsupportedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Views/StageImplementView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#389 ALTAPPS-641: Rename homescreen to home
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared

#386 ALTAPPS-618: Shared notifications toggle fix
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/TimeIntervalPickerDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/TimeIntervalUtil.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ViewData/ProfileViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/extension/NotificationExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/data/flow/DailyStudyRemindersEnabledFlowImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/flow/DailyStudyRemindersEnabledFlow.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationFlowDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/injection/NotificationFlowDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/ProfileClickedDailyStudyRemindsToggleHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonTest/kotlin/org/hyperskill/HyperskillSentryBreadcrumbAnalyticEventMapperTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android, ready to pull

#392 ALTAPPS-640: Fix evaluation animation on Android
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
Labels: bug, android, awaiting review

#391 ALTAPPS-636: Fix Android stepQuiz layout
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sql.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_table.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
Labels: bug, android, awaiting review

#390 ALTAPPS-632: Android stage implementation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/DebugScreenUI.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/FindStage.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageImplementationFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/navigation/StageImplementationScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizViewStateDelegateFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/model/StepQuizFeedbackState.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_choice/view/fragment/ChoiceStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeLayoutDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeQuizInstructionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/mapper/CodeStepQuizDetailsMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/CodeStepQuizConfigFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/CodeStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/CommonCodeQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/PycharmCodeQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/SqlCodeStepConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/fragment/MatchingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/fragment/SortingStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/fragment/SqlStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_stage_implementation.xml
  androidHyperskillApp/src/main/res/layout/fragment_stage_step_wrapper.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_choice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_description.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_feedback_block.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_sql.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_table.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  androidHyperskillApp/src/main/res/layout/view_stage_implementation_appbar.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/debug/presentation/DebugViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/stage_implementation/injection/PlatformStageImplementationComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/stage_implementation/injection/PlatformStageImplementationComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/stage_implementation/presentation/StageImplementationViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step/presentation/StepViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
Labels: shared, android

#394 ALTAPPS-635: Android stage implementation unsupported bottom sheet
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/UnsupportedStageBottomSheet.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_stage_ide_required.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_stage_ide_required.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_stage_ide_required.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_stage_ide_required.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_stage_ide_required.webp
  androidHyperskillApp/src/main/res/layout/fragment_unsupported_stage.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android, awaiting review

#393 ALTAPPS-643: Shared handle rejected submission feedback
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/model/StepQuizFeedbackState.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Feedback.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Submission.kt
  shared/src/commonTest/kotlin/org/hyperskill/SubmissionFeedbackSerializationTest.kt
Labels: shared, ios, android

#396 ALTAPPS-654: Shared implement state repository
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/InMemoryStateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
Labels: shared, awaiting review

#397 ALTAPPS-658: Fix Android stepQuizFeedback visibility
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
Labels: bug, android

#398 ALTAPPS-654: add subscriptions data module
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository/DefaultStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/repository/CurrentSubscriptionStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/source/SubscriptionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/repository/CurrentSubscriptionStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/remote/SubscriptionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/remote/model/SubscriptionsResponse.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, awaiting review

#395 ALTAPPS-646: fix passed tracks count calculation
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Gamification.kt
Labels: shared, ios, android, awaiting review

#401 ALTAPPS-654: shared freemium realization
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/fragment/StepQuizHintsFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/StepQuizHintsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository/BaseStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/InMemoryStateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/presentation/Timer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/DateFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/problems_limit_reached_modal/ProblemsLimitReachedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/problems_limit_reached_modal/ProblemsLimitReachedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/problems_limit_reached_modal/ProblemsLimitReachedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/view/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/repository/CurrentSubscriptionStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/StepQuizHintsViewStateMapperTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android, ready to pull

#399 ALTAPPS-644: Shared base study plan loading
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/LearningActivitiesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/source/LearningActivitiesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/interactor/LearningActivitiesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivityType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/LearningActivitiesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/LearningActivitiesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/analytics/StudyPlanViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/repository/StudyPlanSectionsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/data/source/StudyPlanSectionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlan.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSection.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/repository/StudyPlanSectionsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/remote/StudyPlanSectionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/remote/model/StudyPlanSectionsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/view/StudyPlanViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/view/StudyPlanViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, awaiting review

#406 ALTAPPS-583: Android code editor & code snippets dark theme fix
  androidHyperskillApp/src/main/assets/css/highlight.css
  androidHyperskillApp/src/main/assets/css/hljs.css
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/model/themes/CodeThemes.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/model/themes/Presets.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditor.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditorLayout.kt
  androidHyperskillApp/src/main/res/values-night-v31/bool.xml
Labels: bug, android

#410 ALTAPPS-669: Shared base study plan UI
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/study_plan/injection/PlatformStudyPlanScreenComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/study_plan/injection/PlatformStudyPlanScreenComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanScreenViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/model/GamificationToolbarScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/LearningActivitiesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/LearningActivitiesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/analytic/AppClickedBottomNavigationItemHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/interactor/StudyPlanInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/injection/StudyPlanFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/view/StudyPlanViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/view/StudyPlanViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/StudyPlanWidgetTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, awaiting review

#409 ALTAPPS-667: iOS daily limits with freemium
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/ProblemsLimitReachedModal/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/ProblemsLimitReachedModal/problems-limit-reached-modal-icon.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/ProblemsLimitReachedModal/problems-limit-reached-modal-icon.imageset/problems-limit-reached-modal-cube-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/ProblemsLimitReachedModal/problems-limit-reached-modal-icon.imageset/problems-limit-reached-modal-cube-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProblemsLimitFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeFreemiumBadgeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/ProblemOfDayAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/ProblemsLimitAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/ProblemsLimitViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/ProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/ProblemsLimitWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemsLimitReachedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitionsCard/TopicsRepetitionsCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/About/TrackAboutBlockView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/presentation/Timer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#418 ALTAPPS-673: iOS code editor disable code completion
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
Labels: ios

#414 ALTAPPS-671: Shared add reset of state repositories
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/BackToForegroundObserver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository/BaseStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android
