Repository hyperskill/mobile-app, pull requests merged in 2023-06, with the labels that each got.

#512 [Android] Fix gems count value in toolbar
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
Labels: bug, android

#514 ALTAPPS-528: CI/CD Conditionally build and deploy analytics documentation on push to develop branch
  .github/filters.yaml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gh_pages_analytics.yml
Labels: ci/cd

#511 ALTAPPS-783: Shared wrong navigation between theory and practice
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/androidTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/presentation/DebugReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/presentation/TopicsRepetitionsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/presentation/TopicsToDiscoverNextReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/StepRouteTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_completion/StepCompletionTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizResolverTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, awaiting changes

#516 ALTAPPS-804: CI/CD merge main into develop when a new release published
  .github/workflows/merge_main_into_develop.yml
Labels: ci/cd

#515 ALTAPPS-812: Android fix navigation to study plan for premium user
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreenRouter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/details/fragment/ProjectSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
Labels: bug, android, ready to pull

#517 ALTAPPS-815: iOS add user.isAuthorized tag for app-initialization transaction
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/SentryManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
Labels: shared, ios

#513 ALTAPPS-802: Shared review serializable models
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/ViewData/StepViewDataMapper.swift
  shared/src/androidTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/CommentAuthor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/CommentReaction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/model/LikeValue.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/products/domain/model/Product.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/view/mapper/StageImplementViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/domain/model/Stage.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/CommentStatisticsEntry.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/CommentThread.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/view/mapper/CommentThreadTitleMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/attempts/Attempt.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/model/HistoricalStreak.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/model/Streak.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlan.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSection.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/domain/model/AttemptStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track/TrackStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackProgressStub.kt
Labels: shared, ios, android, awaiting review

#518 ALTAPPS-705: Android revert fix of displaying country name
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
Labels: android

#521 ALTAPPS-796: Shared suport RECOVERED streak state
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/model/StreakState.kt
Labels: shared

#522 ALTAPPS-793: Shared streak recovery feature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/domain/analytic/StreakRecoveryModalClickedNoThanksHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/domain/analytic/StreakRecoveryModalClickedRestoreStreakHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/domain/analytic/StreakRecoveryModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/domain/analytic/StreakRecoveryModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/injection/StreakRecoveryComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/injection/StreakRecoveryComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/data/repository/StreaksRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/data/source/StreaksRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/interactor/StreaksInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/model/Streak.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/repository/StreaksRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/remote/StreaksRemoteDataSourceImpl.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/streak_recovery/StreakRecoveryTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android, awaiting review

#528 ALTAPPS-798: iOS support streak recovered state
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-recovered.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/profile-streak-recovered.imageset/profile-streak-recovered.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/StreakDayState.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/StreakViewBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/StreakIcon.swift
Labels: ios, ready to pull

#527 ALTAPPS-795: iOS streak recovery bottom sheet
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/RecoverModal/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/RecoverModal/streak-recover-modal-fire.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Streak/RecoverModal/streak-recover-modal-fire.imageset/streak-recover-modal-fire.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakFreezeModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryReducer.kt
Labels: shared, ios, ready to pull

#523 ALTAPPS-607: Shared Push Notifications API
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/PlatformType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/CommonComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/cache/CurrentDeviceCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/cache/DevicesCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/data/repository/DevicesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/data/source/CurrentDeviceCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/data/source/DevicesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/domain/model/Device.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/domain/model/DeviceType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/domain/repository/DevicesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/injection/DevicesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/injection/DevicesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/remote/DevicesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/FeedbackEmailDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/push_notifications/domain/interactor/PushNotificationsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/push_notifications/injection/PushNotificationsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/push_notifications/injection/PushNotificationsComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/Platform.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
Labels: shared, ios, android, awaiting review

#531 ALTAPPS-832: Shared delete user_streak.recover feature flag
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
Labels: shared

#535 ALTAPPS-492: Shared dependency injection improvements
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthCredentialsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialWebViewComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialWebViewComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/debug/injection/PlatformDebugComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/profile/injection/PlatformProfileComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/profile_settings/injection/PlatformProfileSettingsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/profile_settings/injection/PlatformProfileSettingsComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step/injection/PlatformStepComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz/injection/PlatformStepQuizComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track/injection/PlatformTrackComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthCredentialsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/PlatformDebugComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/PlatformProfileComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/PlatformProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/PlatformStepComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/PlatformStepQuizComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/PlatformTrackComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthCredentialsComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/iOSAppComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/debug/injection/PlatformDebugComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/home/injection/PlatformHomeComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/onboarding/injection/PlatformOnboardingComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/profile/injection/PlatformProfileComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/profile_settings/injection/PlatformProfileSettingsComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step/injection/PlatformStepComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step_quiz/injection/PlatformStepQuizComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/PlatformStepQuizHintsComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/topics_repetitions/injection/PlatformTopicsRepetitionComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/track/injection/PlatformTrackComponent.kt
Labels: shared, ios, android

#537 ALTAPPS-834: CI/CD Bump Xcode version from 14.3 to 14.3.1
  .github/actions/setup-ios/action.yml
Labels: ci/cd

#539 ALTAPPS-824: Shared push notifications parser
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/service/HyperskillFcmService.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/LocalNotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/remote/model/AnalyticHyperskillRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/utils/CollectionToJsonElement.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/interactor/PushNotificationsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationCategory.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationData.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/injection/PushNotificationsComponentImpl.kt
Labels: shared, ios, android

#540 ALTAPPS-837: Shared fix streak recovery cancelation recovers streak
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/domain/interactor/StreaksInteractor.kt
Labels: bug, shared

#541 ALTAPPS-838: iOS fix streak recovery modal didn't appear for the first application run
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalSwiftUIViewController.swift
Labels: bug, ios

#538 ALTAPPS-606: Shared analytics for push notifications
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationHyperskillAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationShownHyperskillAnalyticEvent.kt
Labels: shared, ios, ready to pull

#543 ALTAPPS-833: CI/CD fix iOS build
  .github/actions/setup-ios/action.yml
Labels: ci/cd

#544 ALTAPPS-843: iOS Sentry add internalRelease environment
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BuildVariant+Current.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/ApplicationInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/SentryManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/BuildVariant.kt
Labels: shared, ios, android

#549 ALTAPPS-848: Android deobfuscate error stack trace
  androidHyperskillApp/build.gradle.kts
  gradle/libs.versions.toml
Labels: android

#545 ALTAPPS-825: Shared push notifications routing
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/click_handling/delegate/NotificationClickHandlingDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/main/presentation/MainViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/injection/NotificationClickHandlingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/injection/NotificationClickHandlingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/notification/NotificationClickHandlingFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
Labels: shared, ios, android

#548 ALTAPPS-840: Android analytics for push notifications
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/PushNotificationHandler.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/PushNotificationHandlerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/injection/AndroidPlatformPushNotificationsComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/service/HyperskillFcmService.kt
Labels: android

#551 ALTAPPS-839: iOS push notifications routing
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
Labels: shared, ios

#552 ALTAPPS-847: iOS update features initial data loading
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Views/StageImplementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/StepQuizHintsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
Labels: ios

#550 ALTAPPS-681: Shared progress screen
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/analytic/ProgressScreenClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/analytic/ProgressScreenViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressScreenComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/presentation/ProgressScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/presentation/ProgressScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/view/ProgressScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/view/ProgressScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackProgressStub.kt
Labels: shared

#553 ALTAPPS-819: iOS track selection list add progress
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/DiscoverNext/TopicToDiscoverNextButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Model/TrackSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/Cell/TrackSelectionListGridCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BackgroundProgressView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/view/TrackSelectionListViewStateMapper.kt
Labels: shared, ios

#556 ALTAPPS-681: Shared progress screen fix percentages calculation
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonTest/kotlin/org/hyperskill/ProjectWithProgressTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/TrackWithProgressTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectWithProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track/TrackStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackWithProgressStub.kt
Labels: bug, shared

#558 Hotfix 1.23.1
  gradle/app.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/LearningActivitiesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequest.kt
  shared/src/commonTest/kotlin/org/hyperskill/learning_activities/LearningActivitiesRequestTest.kt
Labels: shared, ios, release
