Repository hyperskill/mobile-app, pull requests merged in 2023-05, with the labels that each got.

#453 ALTAPPS-728: Android support ide required activities
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/UnsupportedStageBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/drawable/bg_activity_ide_required.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
Labels: android, awaiting review

#458 ALTAPPS-712: Android replace Track tab with StudyPlan tab
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/Tabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/navigation/TrackScreen.kt
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
Labels: shared, android

#459 ALTAPPS-721: Android fix StudyPlan list animations
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanItemAnimator.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
Labels: bug, android

#460 ALTAPPS-743: Shared fix study plan contains skipped or completed activities
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: bug, shared, ready to pull

#461 ALTAPPS-706: Fix Android pull-to-refresh
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
  androidHyperskillApp/src/main/res/layout/fragment_track.xml
Labels: bug, android

#462 ALTAPPS-718: Android add SwipeRefreshLayout to StudyPlanFragment
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
Labels: android

#464 ALTAPPS-739: Android Add "Current" badge to study-plan section
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanSectionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/drawable/bg_study_plan_current_badge.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_section.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewState.kt
Labels: shared, android

#465 ALTAPPS-745: Android add problems limit to study plan
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/fragment/ProblemsLimitFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
Labels: bug, android

#466 ALTAPPS-747: Shared fix daily limits blocks learn daily
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/domain/model/BlockStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/domain/model/StepStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/domain/model/AttemptStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/domain/model/SubmissionStub.kt
Labels: bug, shared

#434 ALTUX-2046: Feature progress page
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/widget/ToolbarTrackProgressView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/ProgressBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/TrackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/Views/TrackView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/analytic/GamificationToolbarClickedProgressHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/model/GamificationToolbarScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/injection/TrackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/presentation/TrackReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, ios, android

#470 Hotfix 1.16.1
  androidHyperskillApp/fastlane/release-notes.txt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/study_plan/screen/StudyPlanScreen.kt
  gradle/app.versions.toml
Labels: android, release

#471 ALTAPPS-720: Android save MainViewModel state
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/fragment/ReduxViewLifecycleObserver.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/test/java/org/hyperskill/app/android/util/AppFeatureStateSerializationTest.kt
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/SavedStateReduxViewModelFactory.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/presentation/MainViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
Labels: bug, shared, ios, android, ready to pull

#479 ALTAPPS-539, ALTAPPS-686: CI/CD bump macOS and Xcode
  .github/actions/setup-ios/action.yml
  .github/workflows/build.yml
  .github/workflows/build_caches.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/lint.yml
  .github/workflows/unit_testing.yml
Labels: ci/cd

#480 ALTAPPS-701: Shared integrate problems limit feature into study plan
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanScreenViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/domain/model/ProblemsLimitScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android, ready to pull

#476 ALTAPPS-751: Shared projects list
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/model/Progress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectSelectionListSelectConfirmationModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectSelectionListSelectConfirmationModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectSelectionListSelectConfirmationResultHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectsSelectionListClickedProjectHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectsSelectionListClickedRetryContentLoadingHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/domain/analytic/ProjectsSelectionListViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/injection/ProjectSelectionListComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/injection/ProjectSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/injection/ProjectSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/view/mapper/ProjectSelectionListViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectKind.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectLevel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectTracksEntry.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/ProjectsByLevel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackProgress.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/ResourceProviderStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectWithProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track/TrackStub.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android, awaiting review

#474 ALTAPPS-752: Shared study plan select track and project view actions
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanClickedActivityHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSectionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android

#483 ALTAPPS-499: iOS Generamba
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/Rambafile
  iosHyperskillApp/Templates/hyperskill-module/Code/Assembly.swift.liquid
  iosHyperskillApp/Templates/hyperskill-module/Code/View.swift.liquid
  iosHyperskillApp/Templates/hyperskill-module/Code/ViewModel.swift.liquid
  iosHyperskillApp/Templates/hyperskill-module/hyperskill-module.rambaspec
Labels: ios

#481 ALTAPPS-756: iOS project selection list
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-easy.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-easy.imageset/project-selection-list-project-level-easy.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-hard.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-hard.imageset/project-selection-list-project-level-hard.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-medium.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-medium.imageset/project-selection-list-project-level-medium.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-nightmare.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/ProjectLevel/project-selection-list-project-level-nightmare.imageset/project-selection-list-project-level-nightmare.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/project-selection-list-project-graduate.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProjectSelectionList/project-selection-list-project-graduate.imageset/project-selection-list-project-graduate.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProjectSelectionListFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthNewUserPlaceholder/Views/AuthNewUserPlaceholderTrackCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeFreemiumBadgeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemOfDay/Views/ProblemOfDayCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Model/ProjectSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Model/SharedProjectLevelWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/ProjectSelectionListAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/ProjectSelectionListViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/Header/ProjectSelectionListGridCellHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/Header/ProjectSelectionListGridCellProjectGraduateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/Header/ProjectSelectionListGridCellProjectLevelView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/ProjectSelectionListGridCellBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/ProjectSelectionListGridCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/ProjectSelectionListGridSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/ProjectSelectionListGridView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/ProjectSelectionListHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/ProjectSelectionListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Skeleton/ProjectSelectionListGridSectionSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Skeleton/ProjectSelectionListHeaderSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Skeleton/ProjectSelectionListSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanSectionItem/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/TopicsRepetitionsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitionsCard/TopicsRepetitionsCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/FeedbackGenerator/FeedbackGenerator.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/FeedbackGenerator/FeedbackGeneratorPreviewView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView+ConcreateTypes.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/StarRatingView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/view/mapper/ProjectSelectionListViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
Labels: shared, ios

#475 ALTAPPS-750: Shared track selection list
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track/view/fragment/TrackFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Track/ViewData/TrackViewDataMapper.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/CommonComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/NumbersFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/placeholder_new_user/view/mapper/PlaceholderNewUserViewDataMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/domain/model/Progress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/injection/ProjectSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/view/mapper/ProjectSelectionListViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/TrackWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListClickedRetryContentLoadingHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListSelectConfirmationModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListSelectConfirmationModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListSelectConfirmationResultHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListTrackClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/domain/analytic/TrackSelectionListViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/injection/TrackSelectionListComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/injection/TrackSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/injection/TrackSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/presentation/TrackSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/presentation/TrackSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/presentation/TrackSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/view/TrackSelectionListViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track/TrackStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackSelectionListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackWithProgressStub.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/CommonComponentImpl.kt
Labels: shared, ios, android, awaiting review

#485 ALTAPPS-755: Android project selection list UI
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/adapter/ProjectAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/delegate/ProjectSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/fragment/ProjectSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/model/ProjectSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/navigation/ProjectSelectionListScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/drawable/bg_completed_lable.xml
  androidHyperskillApp/src/main/res/drawable/bg_tag_blue.xml
  androidHyperskillApp/src/main/res/drawable/bg_tag_green.xml
  androidHyperskillApp/src/main/res/drawable/bg_tag_violet.xml
  androidHyperskillApp/src/main/res/drawable/ic_graduate_project.xml
  androidHyperskillApp/src/main/res/drawable/ic_level_challenging.xml
  androidHyperskillApp/src/main/res/drawable/ic_level_easy.xml
  androidHyperskillApp/src/main/res/drawable/ic_level_hard.xml
  androidHyperskillApp/src/main/res/drawable/ic_level_medium.xml
  androidHyperskillApp/src/main/res/drawable/ic_star.xml
  androidHyperskillApp/src/main/res/layout/fragment_project_selection_list.xml
  androidHyperskillApp/src/main/res/layout/item_project.xml
  androidHyperskillApp/src/main/res/layout/item_project_block_header.xml
  androidHyperskillApp/src/main/res/layout/item_project_selection_header.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
  androidHyperskillApp/src/main/res/layout/view_badge_best_rating.xml
  androidHyperskillApp/src/main/res/layout/view_badge_completed.xml
  androidHyperskillApp/src/main/res/layout/view_badge_fastest_to_complete.xml
  androidHyperskillApp/src/main/res/layout/view_badge_ide_required.xml
  androidHyperskillApp/src/main/res/layout/view_badge_selected.xml
  androidHyperskillApp/src/main/res/layout/view_project_selection_skeleton.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  androidHyperskillApp/src/main/res/values/type.xml
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Model/ProjectSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/ProjectSelectionListGridCellView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/project_selection/injection/PlatformProjectSelectionListComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/project_selection/injection/PlatformProjectSelectionListComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/view/mapper/ProjectSelectionListViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectLevel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#488 ALTAPPS-753: Android track selection list UI
  .editorconfig
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/fragment/ProjectSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/adapter/TrackAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/delegate/TrackSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/fragment/TrackSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/model/TrackSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/navigation/TrackSelectionListScreen.kt
  androidHyperskillApp/src/main/res/drawable/bg_tag_orange.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_selection_list_header.xml
  androidHyperskillApp/src/main/res/layout/fragment_track_selection_list.xml
  androidHyperskillApp/src/main/res/layout/item_track.xml
  androidHyperskillApp/src/main/res/layout/item_track_selection_list_header.xml
  androidHyperskillApp/src/main/res/layout/item_track_skeleton.xml
  androidHyperskillApp/src/main/res/layout/view_badge_beta.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/injection/PlatformTrackSelectionListComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/injection/PlatformTrackSelectionListComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/presentation/TrackSelectionListViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#487 ALTAPPS-758: Shared fix step quiz theory availability in toolbar
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/view_step_quiz_theory_button.xml
  androidHyperskillApp/src/main/res/layout/view_step_quiz_toolbar.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/build.gradle.kts
  shared/src/androidTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemsLimitReachedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemsLimitReachedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemsLimitReachedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizClickedTheoryToolbarItemHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizDailyStepCompletedModalClickedGoBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizDailyStepCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizDailyStepCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/StepRouteTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizResolverTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: bug, shared, ios, android

#486 ALTAPPS-762: Shared support description field from learning activities API
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android

#492 ALTAPPS-770: Shared beta projects are not shown in project list
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/adapter/ProjectAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/delegate/ProjectSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/model/ProjectSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/res/layout/item_project.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Model/ProjectSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/ProjectSelectionListGridCellBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelectionList/Views/Grid/Cell/ProjectSelectionListGridCellView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/ProjectSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/presentation/StateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/view/mapper/ProjectSelectionListViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/Project.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/domain/model/ProjectWithProgress.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/ProjectsByLevel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track/TrackStub.kt
Labels: bug, shared, ios, android

#490 ALTAPPS-779: Shared providers data component
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/remote/HttpRequestBuilderExt.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/remote/ProgressesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/projects/remote/ProjectsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/cache/ProvidersCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/data/repository/ProvidersRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/data/source/ProvidersCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/data/source/ProvidersRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/domain/interactor/ProvidersInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/domain/model/Provider.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/domain/repository/ProvidersRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/injection/ProvidersDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/injection/ProvidersDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/remote/ProvidersRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/providers/remote/model/ProvidersResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stages/remote/StagesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/remote/SubmissionRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/remote/StudyPlanSectionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/remote/TopicsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/repository/TrackRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/TrackRemoteDataSourceImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/AppGraphImpl.kt
Labels: shared, android

#493 ALTAPPS-778: Android add track selection details track overview layout
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_certificate_availability.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_projects_count.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_rating.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_time_to_complete.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_topics_count.xml
  androidHyperskillApp/src/main/res/layout/layout_track_selection_details_track_overview.xml
  androidHyperskillApp/src/main/res/values/styles.xml
Labels: android, awaiting review

#497 ALTAPPS-776: Android track selection details screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/delegate/TrackSelectionDetailsDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/navigation/TrackSelectionDetailsScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/adapter/TrackAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/delegate/TrackSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/fragment/TrackSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/model/TrackSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/navigation/TrackSelectionListScreen.kt
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_certificate_availability.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_projects_count.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_rating.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_time_to_complete.xml
  androidHyperskillApp/src/main/res/drawable/ic_track_overview_topics_count.xml
  androidHyperskillApp/src/main/res/layout/fragment_project_selection_list.xml
  androidHyperskillApp/src/main/res/layout/fragment_track_selection_details.xml
  androidHyperskillApp/src/main/res/layout/item_project.xml
  androidHyperskillApp/src/main/res/layout/item_track.xml
  androidHyperskillApp/src/main/res/layout/layout_track_selection_details_description.xml
  androidHyperskillApp/src/main/res/layout/layout_track_selection_details_providers_card.xml
  androidHyperskillApp/src/main/res/layout/layout_track_selection_details_skeleton.xml
  androidHyperskillApp/src/main/res/layout/layout_track_selection_details_track_overview.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  androidHyperskillApp/src/main/res/values/themes.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/details/injection/PlatformTrackSelectionDetailsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/details/injection/PlatformTrackSelectionDetailsComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/list/injection/PlatformTrackSelectionListComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/list/injection/PlatformTrackSelectionListComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/view/TrackSelectionDetailsViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android, ready to pull

#498 ALTAPPS-777: iOS track selection details
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Common/trophy.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Common/trophy.imageset/trophy.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+HiddenWithCondition.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+RemoveBackButtonTitle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/TrackSelectionDetailsFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/TrackSelectionDetailsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/TrackSelectionDetailsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsBlockView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsDescriptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsProvidersView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsTrackOverviewView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Skeleton/TrackSelectionDetailsSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/TrackSelectionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Model/TrackSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/TrackSelectionListAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/TrackSelectionListViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/Cell/TrackSelectionListGridCellBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/Cell/TrackSelectionListGridCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/TrackSelectionListGridView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Skeleton/TrackSelectionListHeaderSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Skeleton/TrackSelectionListSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/TrackSelectionListHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/TrackSelectionListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppPowerModeObserver.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/FeedbackGenerator/FeedbackGenerator.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/ProgressHUD.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/StarRatingView.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios

#503 ALTAPPS-786: Shared fix handling of empty learning activities fetch result for section
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: bug, shared, ready to pull

#509 ALTAPPS-803: Android fix JetBrains authorization
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/widget/AuthSocialWebViewClient.kt
Labels: bug, android

#506 ALTAPPS-799: Shared support navigation to the Home screen from TrackSelectionDetailsFeature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/details/fragment/ProjectSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/fragment/ProjectSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/navigation/ProjectSelectionListScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/details/fragment/TrackSelectionDetailsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/fragment/TrackSelectionListFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/navigation/TrackSelectionListScreen.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/ProjectSelectionDetailsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/ProjectSelectionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/ProjectSelectionListAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/Views/ProjectSelectionListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/TrackSelectionDetailsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/TrackSelectionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/TrackSelectionListAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/TrackSelectionListView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/project_selection/list/injection/PlatformProjectSelectionListComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/track_selection/list/injection/PlatformTrackSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/injection/ProjectSelectionDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/injection/ProjectSelectionDetailsParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/presentation/ProjectSelectionDetailsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/presentation/ProjectSelectionDetailsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/presentation/ProjectSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/presentation/ProjectSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/domain/model/Track.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/details/TrackSelectionDetailsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/list/TrackSelectionListTest.kt
Labels: shared, ios, android
