Repository hyperskill/mobile-app, pull requests merged in 2023-07, with the labels that each got.

#559 ALTAPPS-818: Shared project selection list add progress
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/Model/ProjectSelectionListFeatureViewStateContent+Placeholder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/Views/Grid/Cell/ProjectSelectionListGridCellView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/presentation/ProjectSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/view/mapper/ProjectSelectionListViewStateMapper.kt
Labels: shared, ios

#560 ALTAPPS-713: Shared add learning activity widget progress
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/Cell/TrackSelectionListGridCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BackgroundProgressView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android

#564 ALTAPPS-822: iOS project selection list add progress
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/Views/Grid/Cell/ProjectSelectionListGridCellView.swift
Labels: ios

#562 Move ProgressScreenFeature to progress_screen package
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/domain/analytic/ProgressScreenClickedPullToRefreshHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/domain/analytic/ProgressScreenViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progresses/injection/ProgressScreenComponent.kt
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
Labels: shared

#557 ALTAPPS-821: Android add track widget progress
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/adapter/TrackAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/delegate/TrackSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/model/TrackSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/res/layout/item_track.xml
Labels: android

#565 ALTAPPS-850: Shared add stage completion modals to stage implement feature
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/ProjectCompletedModalClickedGoToStudyPlanHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/ProjectCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/ProjectCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageCompletedModalClickedGoToStudyPlanHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/domain/analytic/StageCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/presentation/StageImplementReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/stage_implement/StageImplementTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/stage_implement/StageStub.kt
Labels: shared

#567 ALTAPPS-856: shared fix progress screen time to complete
  androidHyperskillApp/src/main/res/layout/view_badge_completed.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Debug/Views/DebugView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/ProgressBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Views/Modals/UnsupportedModal/StageImplementUnsupportedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompletedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemsLimitReachedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintReactionButtonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitions/Views/TopicsRepetitionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicsRepetitionsCard/TopicsRepetitionsCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView+ConcreateTypes.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Gamification.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlan.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/domain/model/StudyPlanStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android, awaiting review

#568 ALTAPPS-857: CI/CD Build and deploy analytics documentation only on push to develop branch
  .github/workflows/gh_pages_analytics.yml
Labels: ci/cd

#569 ALTAPPS-858: CI/CD Conditionally build caches
  .github/workflows/build_caches.yml
Labels: ci/cd

#570 ALTAPPS-856: Shared fix progress screen time to complete
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/SharedDateFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/view/ProgressScreenViewStateMapper.kt
Labels: shared

#574 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#576 ALTAPPS-823: Android project widget progress filling
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/adapter/ProjectAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/delegate/ProjectSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/model/ProjectSelectionRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/track_selection/list/adapter/TrackAdapterDelegate.kt
  androidHyperskillApp/src/main/res/layout/item_project.xml
Labels: android, awaiting review

#577 ALTAPPS-864: Shared change track and project from progress screen
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/domain/analytic/ProgressScreenClickedChangeProjectHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/domain/analytic/ProgressScreenClickedChangeTrackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/progress_screen/ProgressScreenTest.kt
Labels: shared

#578 ALTAPPS-865: iOS change track and project from progress screen
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/ProgressScreenAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/ProgressScreenViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/ProgressScreenCallToActionButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/ProgressScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Project/ProgressScreenProjectProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Project/ProgressScreenProjectProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressView.swift
Labels: ios

#582 ALTAPPS-876: iOS fix track selection screens blocks navigation to home screen
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UINavigationControllerExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/StackRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/ProjectSelectionDetailsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/ProjectSelectionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/TrackSelectionDetailsView.swift
Labels: bug, ios

#579 ALTAPPS-811: Support Android 13
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/permission/NotificationPermissionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/ViewExtensions.kt
  androidHyperskillApp/src/main/res/values/strings.xml
  gradle/app.versions.toml
Labels: android

#581 ALTAPPS-866: Android change track & project
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/fragment/ProgressFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/ProgressScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/project/ProjectProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/project/ProjectProgressContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/track/TrackProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/track/TrackProgressContent.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/ProjectSelectionListAssembly.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/progress/presentation/ProgressScreenViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListParams.kt
Labels: shared, ios, android

#588 ALTAPPS-885: Shared Darwin engine set timeoutIntervalForRequest
  shared/src/iosMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
Labels: shared

#583 ALTAPPS-851: Android project stage completion modals
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/ProjectCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/StageCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageImplementationFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/layout/fragment_project_completed.xml
  androidHyperskillApp/src/main/res/layout/fragment_stage_completed.xml
  androidHyperskillApp/src/main/res/values/strings.xml
Labels: android, ready to pull

#590 ALTAPPS-890: Fix Android daily reminder
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/DailyStudyReminderLocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
Labels: bug, android

#592 ALTAPPS-875: Android rollout progress screen to the release app version
  androidHyperskillApp/src/debug/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/fragment/ProgressFragment.kt
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
Labels: android

#591 ALTAPPS-877: Shared support badges in profile
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/data/repository/BadgesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/data/source/BadgesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/domain/model/Badge.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/domain/model/BadgeKind.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/domain/model/BadgeRank.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/domain/repository/BadgesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/injection/BadgesDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/injection/BadgesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/remote/BadgesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/remote/BadgesResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/badges/ProfileClickedBadgeCardHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/analytic/badges/ProfileClickedBadgesVisibilityButtonHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/BadgesViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/BadgesViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ready to pull

#587 Release 1.26
  .github/workflows/gh_pages_analytics.yml
  .github/workflows/label.yml
  androidHyperskillApp/src/debug/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/DailyStudyReminderLocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/permission/NotificationPermissionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/fragment/ProgressFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/ProgressScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/project/ProjectProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/project/ProjectProgressContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/track/TrackProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/ui/track/TrackProgressContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/ProjectCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/dialog/StageCompletedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageImplementationFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/ViewExtensions.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-hdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_project_completed.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_stage_completed.webp
  androidHyperskillApp/src/main/res/layout/fragment_project_completed.xml
  androidHyperskillApp/src/main/res/layout/fragment_stage_completed.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/RouterNavigateToProgressScreen.kt
  gradle/app.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/ProjectSelectionListAssembly.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/progress/presentation/ProgressScreenViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/repository/NextLearningActivityStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/data/source/LearningActivitiesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/repository/NextLearningActivityStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/LearningActivitiesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/LearningActivitiesRequestParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/remote/model/NextLearningActivityRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/domain/interactor/TopicsToDiscoverNextInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_to_discover_next/injection/TopicsToDiscoverNextDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListParams.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
Labels: shared, ios, android, release, ci/cd

#595 ALTAPPS-862: iOS next learning activity widget on home screen
  androidHyperskillApp/src/main/res/layout/layout_home_topics_to_discover_next.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivitySkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivityView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/StudyPlanSectionActivitiesList.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanStageImplementUnsupportedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanStageImplementUnsupportedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanStageImplementUnsupportedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#596 ALTAPPS-902: Android Fix DailyReminder switch on Profile
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
Labels: bug, android

#599 ALTAPPS-911: Android fix JB authorization
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/widget/AuthSocialWebViewClient.kt
Labels: bug, android

#598 ALTAPPS-863: Android next learning activity on home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/adapter/DataLoadingErrorAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/next_learning_activity/view/delegate/NextLearningActivityDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/next_learning_activity/view/model/NextLearningActivityLoadingErrorRecyclerItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/ActivityLoadingAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/LearningActivityTargetViewActionHandler.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/layout_home_topics_to_discover_next.xml
  androidHyperskillApp/src/main/res/layout/layout_next_learning_activity.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivityView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/presentation/NextLearningActivityWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/next_learning_activity_widget/view/mapper/NextLearningActivityWidgetViewStateMapper.kt
Labels: shared, ios, android
