Repository hyperskill/mobile-app, pull requests merged in 2023-08, with the labels that each got.

#601 ALTAPPS-848: Android fix sentry proguard mapping files uploading config
  sentry.properties
Labels: bug, android, ready to pull

#603 ALTAPPS-891: Shared unlock study plan
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/next_learning_activity/view/delegate/NextLearningActivityDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/adapter/StudyPlanActivityAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/drawable/ic_activity_locked.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NextLearningActivity/Views/NextLearningActivityView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Model/StudyPlanWidgetViewStateSectionItemStateWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemIconView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/StudyPlanSectionActivitiesList.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/model/StudyPlanWidgetViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android, ready to pull

#604 ALTAPPS-916: Shared disable badges fetching for non-production endpoint builds
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/data/repository/BadgesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/injection/BadgesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/config/BuildKonfig.kt
Labels: shared, ready to pull

#600 ALTAPPS-882: iOS profile badges representation
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-benefactor.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-benefactor.imageset/profile-badges-benefactor.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-bounty-hunter.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-bounty-hunter.imageset/profile-badges-bounty-hunter.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-brilliant-mind.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-brilliant-mind.imageset/profile-badges-brilliant-mind.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-commited-learning.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-commited-learning.imageset/profile-badges-commited-learning.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-helping-hand.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-helping-hand.imageset/profile-badges-helping-hand.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-project-mastery.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-project-mastery.imageset/profile-badges-project-mastery.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-sweetheart.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-sweetheart.imageset/profile-badges-sweetheart.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-topic-mastery.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Profile/Badges/profile-badges-topic-mastery.imageset/profile-badges-topic-mastery.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/ProfileBadgeImageView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/ProfileBadgesGridItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/ProfileBadgesGridView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/ProfileBadgesLinearGradientProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/ProgressScreenCallToActionButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Project/ProgressScreenProjectProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressContentView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/data/repository/BadgesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/badges/injection/BadgesDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/config/BuildKonfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/BadgesViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, ready to pull

#612 ALTAPPS-922: Android app crash just after setting reminder from dialog
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/RequestDailyStudyReminderDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
Labels: bug, android

#609 ALTAPPS-879: iOS badge detailed bottom sheet
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresentableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeImage/BadgeImageView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeImage/BadgeLockedImageView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeImage/BadgeRemoteImageView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeLevelView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeLinearGradientProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/DetailsModal/BadgeDetailsModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/DetailsModal/BadgeDetailsModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/Grid/ProfileBadgesGridItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/Grid/ProfileBadgesGridView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/ProfileBadgeImageView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
Labels: ios

#615 Update Android version code
  gradle/app.versions.toml
Labels: android

#614 ALTAPPS-927: iOS hide problems limit widget
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
Labels: ios, awaiting review

#611 ALTAPPS-886: [Android, Shared] update UI in mobile app for limits
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/ui/delegate/ProblemsLimitDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/widget/ProblemsLimitView.kt
  androidHyperskillApp/src/main/res/layout/layout_problems_limit.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/ProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/StepQuizProblemsLimitView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/SharedDateFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#610 ALTAPPS-570: Shared refactor solved steps shared flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/RequestDailyStudyReminderDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionDailyStepCompletedModalClickedGoBackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionDailyStepCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionDailyStepCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionHiddenDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShownDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionTopicCompletedModalClickedContinueNextTopicHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionTopicCompletedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionTopicCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionTopicCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/permissions/StepQuizUserPermissionRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizUserPermissionRequestTextMapper.kt
Labels: shared, ios, android, ready to pull

#617 ALTAPPS-934: Shared fix badges sorting in profile
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/BadgesViewStateMapper.kt
Labels: shared, ready to pull

#618 [Shared] Fix problems limit is not visible
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/ui/delegate/ProblemsLimitDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/ProblemsLimitWidgetView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
Labels: bug, shared, ios, android

#620 ALTAPPS-933: iOS: Bump build number
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
Labels: ios

#622 ALTAPPS-893: iOS earned badge modal
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BadgeRankExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/DetailsModal/BadgeDetailsModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/EarnedModal/BadgeEarnedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/EarnedModal/BadgeEarnedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
Labels: ios, ready to pull

#626 ALTAPPS-938, ALTAPPS-939: IOS show problem limit widget and hide go to web button on home screen
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
Labels: ios, awaiting review, ready to pull

#629 ALTAPPS-930: iOS remove local notifications
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/repository/NotificationRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
Labels: shared, ios, ready to pull

#627 ALTAPPS-945: iOS make step quiz hint text copyable
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, ready to pull

#625 ALTAPPS-943: Android make hint text selectable & add links handling
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
Labels: android, ready to pull

#628 Release 1.31
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/DailyStudyReminderLocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/injection/PlatformLocalNotificationComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/ProfileLoadingDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/ProfileViewActionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/TimeIntervalPickerDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_hints/delegate/StepQuizHintsDelegate.kt
  gradle/app.versions.toml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/ConcreteNotifications/DailyStudyReminderLocalNotification.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizHints/Views/StepQuizHintCardView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/repository/NotificationRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/injection/NotificationComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/data/NotificationTimeRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/data/NotificationTimeRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/repository/NotificationTimeRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/remote/NotificationTimeRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/remote/SetNotificationTimeRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/ParsonsLine.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/submissions/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android
