Repository hyperskill/mobile-app, pull requests merged in 2023-12, with the labels that each got.

#766 GitHub Actions: Revert temporary delete Greetings workflow
  .github/workflows/greetings.yml
Labels: ci/cd

#764 ALTAPPS-1051: iOS leaderboards
  iosHyperskillApp/Templates/hyperskill-module/Code/View.swift.liquid
  iosHyperskillApp/Templates/hyperskill-module/hyperskill-module.rambaspec
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Leaderboard/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Leaderboard/leaderboard-placeholder-empty.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Leaderboard/leaderboard-placeholder-empty.imageset/leaderboard-placeholder-empty.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Leaderboard/leaderboard-placeholder-empty.imageset/leaderboard-placeholder-empty@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Leaderboard/leaderboard-placeholder-empty.imageset/leaderboard-placeholder-empty@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabBarController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/TabBar/AppTabItemsAvailabilityService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/GamificationToolbarViewActionHandler.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Models/LeaderboardListItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Models/LeaderboardTab.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardPlaceholderEmptyView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/List/LeaderboardListRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/List/LeaderboardListView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView+Configurations.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/PlaceholderView/PlaceholderView.swift
Labels: ios, awaiting review

#771 ALTAPPS-1050: Android leader board screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/ScreenDataLoadingError.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/first_problem_onboarding/fragment/FirstProblemOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/fragment/LeaderboardFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/navigation/LeaderboardScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardList.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardListDivider.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardPlaceInfo.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardPreviewData.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardSkeletonItem.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardStub.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardTabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/fragment/MainFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/MainScreenRouter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/navigation/Tabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/progress/fragment/ProgressFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_leaderboard_stub.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_leaderboard_stub.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_leaderboard_stub.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_leaderboard_stub.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_leaderboard_stub.webp
  androidHyperskillApp/src/main/res/drawable/avatar_place_holder.webp
  androidHyperskillApp/src/main/res/drawable/ic_leaderboard_first_place.xml
  androidHyperskillApp/src/main/res/drawable/ic_leaderboard_second_place.xml
  androidHyperskillApp/src/main/res/drawable/ic_leaderboard_third_place.xml
  androidHyperskillApp/src/main/res/drawable/ic_navigation_leaderboard.xml
  androidHyperskillApp/src/main/res/drawable/leaderboard_participant_avatar_place_holder.xml
  androidHyperskillApp/src/main/res/layout/fragment_leaderboard.xml
  androidHyperskillApp/src/main/res/menu/main_bottom_navigation.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/view/HandleActions.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/leaderboard/injection/PlatformLeaderboardComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/leaderboard/injection/PlatformLeaderboardComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/leaderboard/presentation/LeaderboardViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/leaderboard/screen/presentation/LeaderboardScreenFeature.kt
Labels: shared, android, ready to pull

#772 ALTAPPS-1057: Shared GamificationToolbarFeature.ViewState
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/widget/ToolbarTrackProgressView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-gems.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-gems.imageset/navigation-bar-gems-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-gems.imageset/navigation-bar-gems-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GemsBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/ProgressBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/StreakBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/analytic/GamificationToolbarClickedGemsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/view/mapper/GamificationToolbarViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/view/mapper/HomeViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/leaderboard/screen/presentation/LeaderboardScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/leaderboard/screen/view/mapper/LeaderboardScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#779 ALTAPPS-1060: iOS update app icon to christmas design
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/1024.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/120.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/152.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/167.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/180.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/20.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/29.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40-2.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/40.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/58.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/60.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/76.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80-1.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/80.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/87.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/app-icon-x-mas.png
Labels: ios, awaiting review

#781 ALTAPPS-1066: Android update app icon to christmas design
  androidHyperskillApp/src/main/ic_app_icon-playstore.png
  androidHyperskillApp/src/main/res/drawable/ic_app_icon_foreground.xml
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.webp
Labels: android, ready to pull

#775 ALTAPPS-1057: Shared SearchResultsDataComponent
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/data/repository/SearchResultsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/data/source/SearchResultsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/model/SearchResult.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/model/SearchResultTargetType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/repository/SearchResultsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/injection/SearchResultsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/injection/SearchResultsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/remote/SearchResultsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/remote/model/SearchResultsRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/remote/model/SearchResultsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/data/repository/TopicsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/domain/interactor/TopicsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/injection/TopicsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/injection/TopicsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics/remote/TopicsRemoteDataSourceImpl.kt
  shared/src/commonTest/kotlin/org/hyperskill/search_results/remote/model/SearchResultsResponseDeserializationTest.kt
Labels: shared

#785 ALTAPPS-1067: iOS update app first screen
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-illustration.imageset/onboarding-illustration.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/onboarding-problem-of-day-card-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Onboarding/onboarding-problem-of-day-card.imageset/onboarding-problem-of-day-card-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/OutlineButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/RoundedRectangleButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios

#784 ALTAPPS-1058: iOS search feature
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/NavigationLink/NavigationLink+Empty.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/GamificationToolbarViewActionHandler.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/SearchAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/SearchViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/Views/SearchPlaceholderEmptyView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/Views/SearchPlaceholderLoadingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/Views/SearchPlaceholderSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Search/Views/SearchView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#788 ALTAPPS-1012: iOS refactor rename OnboardingFeature
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthPreviews.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Onboarding/OnboardingOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Welcome/WelcomeAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Welcome/WelcomeOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Welcome/WelcomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Welcome/WelcomeViewModel.swift
Labels: ios

#786 ALTAPPS-1069: Shared add reminders time to notifications onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/RequestDailyStudyReminderDialogFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/repository/NotificationRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/data/source/NotificationCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/repository/NotificationRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/injection/NotificationComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingClickedAllowNotificationsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingClickedDailyStudyRemindsIntervalHourHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingClickedNotNowHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingDailyStudyRemindersIntervalPickerModalClickedConfirmHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingDailyStudyRemindersIntervalPickerModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingDailyStudyRemindersIntervalPickerModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/view/mapper/NotificationsOnboardingViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionHiddenDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionShownDailyNotificationsNoticeHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android, ready to pull

#790 ALTAPPS-1068: Android update app first screen
  androidHyperskillApp/src/main/res/drawable-hdpi/img_welcome_screen.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_welcome_screen.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_welcome_screen.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_welcome_screen.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_welcome_screen.webp
  androidHyperskillApp/src/main/res/layout-night/fragment_welcome.xml
  androidHyperskillApp/src/main/res/layout/fragment_welcome.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  androidHyperskillApp/src/main/res/values/themes.xml
  androidHyperskillApp/src/main/res/values/type.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#787 ALTAPPS-1070: iOS add reminders time to notification onboarding
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration-light.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresentableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalViewModifier.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
Labels: ios, awaiting review

#792 ALTAPPS-1078: iOS upload shared.framework.dsym
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/README.md
Labels: ios

#789 ALTAPPS-1059: Android topics search
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/fragment/TopicSearchFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/navigation/TopicSearchScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/ui/TopicSearchEmptyResult.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/ui/TopicSearchResult.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/ui/TopicSearchResultContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/ui/TopicSearchResultDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/ui/TopicSearchSkeleton.kt
  androidHyperskillApp/src/main/res/drawable/ic_menu_search.xml
  androidHyperskillApp/src/main/res/layout/fragment_search_topic.xml
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  androidHyperskillApp/src/main/res/values/themes.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/core/flowredux/view/HandleActions.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/search/injection/PlatformSearchComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/search/injection/PlatformSearchComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/search/presentation/SearchViewModel.kt
Labels: shared, android

#794 GitHub Actions: Setup iOS disable dependents upgrade of git-crypt
  .github/actions/setup-ios/action.yml
Labels: ci/cd

#795 ALTAPPS-1057: Shared fix search request calls /api/topics with empty ids
  shared/src/commonMain/kotlin/org/hyperskill/app/search/domain/interactor/SearchInteractor.kt
Labels: bug, shared

#793 ALTAPPS-1073: Android fix rescheduling local notification on Android 14
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/DailyStudyReminderLocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/HyperskillNotificationManagerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/LocalNotificationDelegate.kt
Labels: bug, android, ready to pull

#797 GitHub Actions: Disable concurrency for beta deployments
  .github/workflows/android_beta_deployment.yml
  .github/workflows/ios_beta_deployment.yml
Labels: ci/cd

#796 ALTAPPS-1059: Android update gems block position in profile
  androidHyperskillApp/src/main/res/layout/fragment_profile.xml
Labels: bug, android

#800 ALTAPPS-1062: iOS fix fill blanks with selects code block is clipped
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/FillBlanksQuizViewWrapper.swift
Labels: bug, ios

#806 ALTAPPS-1071: Android notification time on onboarding screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/AlignmentExtension.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/TimeIntervalPickerDialogFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-hdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-mdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xxxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable/ic_notification_onboarding_arrow.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#801 Update Gradle & AGP
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/AndroidManifest.xml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/ThirdParty/MokoResources/ColorResource+UIColor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/ThirdParty/MokoResources/ResourcesColorResourceThemed+UIColor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/ThirdParty/MokoResources/StringResource+Localized.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  shared/build.gradle.kts
  shared/src/androidMain/AndroidManifest.xml
Labels: shared, ios, android

#807 ALTAPPS-1080: Android fix theme switch
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/mapper/ThemeMapper.kt
  gradle/libs.versions.toml
Labels: bug, android

#803 ALTAPPS-1081: Shared open problem of day on daily reminder click
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/model/PushNotificationDataExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEngine.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationType.kt
Labels: shared, android

#808 Shared: Disable Sentry debug logs
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/sentry/domain/model/manager/SentryManagerImpl.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/SentryManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/presentation/WrapWithLogger.kt
Labels: shared, ios, android, ready to pull

#802 GitHub Actions: Bump Xcode version from 15.0.1 to 15.1
  .github/actions/setup-ios/action.yml
  .github/filters.yaml
Labels: ci/cd

#810 ALTAPPS-1089: Android fix codeEditor toolbar visibility
  androidHyperskillApp/src/main/res/layout/fragment_stage_step_wrapper.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code_keyboard_extension.xml
Labels: bug, android, ready to pull

#813 ALTAPPS-1077: Update Sentry SDK
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/sentry/domain/model/manager/SentryManagerImpl.kt
  gradle/libs.versions.toml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/SentryManager.swift
Labels: ios, android

#809 ALTAPPS-1001: Android fix code autocomplete
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/presentation/model/ProgrammingLanguage.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/presentation/model/ProgrammingLanguageExtension.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeLayoutDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeQuizInstructionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/SqlCodeStepConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/mapper/ParsonsLinesMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/domain/model/ProgrammingLanguage.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
Labels: bug, shared, android

#815 ALTAPPS-1088: Android fix toolbar symbols insert into codeEditor
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/util/CodeEditorKeyboardExtensionUtil.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditorLayout.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
Labels: bug, android

#814 Shared: Set state logs severity of Debug
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/presentation/WrapWithLogger.kt
Labels: shared

#819 ALTAPPS-608: iOS fix matching problem representation
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingView.swift
Labels: bug, ios

#817 Release 1.47
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, release

#825 Hotfix 1.47.1
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_fill_blanks.xml
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, android, release
