Repository hyperskill/mobile-app, pull requests merged in 2023-09, with the labels that each got.

#635 ALTAPPS-942: Android support parsons problems
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/model/themes/CodeThemes.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditorLayout.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/DefaultTapUpListener.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/SingleTapGestureDetector.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/adapter/ParsonsLinesAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/delegate/ParsonsStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/fragment/ParsonsStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/mapper/ParsonsLinesMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/model/ParsonsLineControlMessage.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/model/UiParsonsLine.kt
  androidHyperskillApp/src/main/res/color/color_step_quiz_parsons_control_content.xml
  androidHyperskillApp/src/main/res/color/color_step_quiz_parsons_control_stroke.xml
  androidHyperskillApp/src/main/res/drawable/ic_parsons_add_tab.xml
  androidHyperskillApp/src/main/res/drawable/ic_parsons_drop_down_line.xml
  androidHyperskillApp/src/main/res/drawable/ic_parsons_put_up_line.xml
  androidHyperskillApp/src/main/res/drawable/ic_parsons_raise_up_line.xml
  androidHyperskillApp/src/main/res/drawable/ic_parsons_remove_tab.xml
  androidHyperskillApp/src/main/res/drawable/step_quiz_parsons_line_background.xml
  androidHyperskillApp/src/main/res/drawable/step_quiz_parsons_line_selected_background.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_parsons_line.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_parsons.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_parsons_content.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_parsons_skeleton.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/DatasetExtensions.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/model/attempts/Dataset.kt
Labels: shared, ios, android, ready to pull

#638 ALTAPPS-948: Android remove Continue-learning-on-the-web button from the Home screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/home/domain/analytic/HomeClickedContinueLearningOnWebHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#641 ALTAPPS-872: Android add landscape orientation for code problems
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/OrientationHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/fragment/SqlStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/dialog_step_quiz_code_fullscreen.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizCodeFullScreenEditorOrientationChangedAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, android

#639 ALTAPPS-951: Shared parsons problem onboarding modal
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ParsonsProblemOnboardingModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ParsonsProblemOnboardingModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, awaiting review

#642 ALTAPPS-953: Android add parsons onboarding bottom sheet
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/dialog/ParsonsStepQuizOnboardingBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz_parsons_onboarding.xml
  androidHyperskillApp/src/main/res/raw-night/parsons_problem_onboarding_animation.zip
  androidHyperskillApp/src/main/res/raw/parsons_problem_onboarding_animation.zip
  gradle/libs.versions.toml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#634 ALTAPPS-941: iOS support parsons problems
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/SwiftUIProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/StepQuizParsonsAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/StepQuizParsonsViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/StepQuizParsonsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/StepQuizParsonsControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/StepQuizParsonsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/StepQuizParsonsSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/StepQuizParsonsView.swift
  shared/src/iosMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
Labels: shared, ios

#644 ALTAPPS-952: iOS parsons problem onboarding bottom sheet
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/LottieAnimations.swift
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/OnboardingModal/StepQuizParsonsOnboardingModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizParsons/Views/OnboardingModal/StepQuizParsonsOnboardingModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/LottieAnimationViewWrapper.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#643 ALTAPPS-928: Shared problems limit reached modal hardcode fix
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/dialog/ProblemsLimitReachedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_problems_limit_reached.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemsLimitReachedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: bug, shared, ios, android

#646 ALTAPPS-884: iOS improve run unit tests speed
  .github/workflows/unit_testing.yml
  iosHyperskillApp/fastlane/Fastfile
Labels: ios, ci/cd, awaiting review

#649 ALTAPPS-966: Android parsons problems syntax highlighting
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/presentation/highlight/prettify/PrettifyParser.java
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/presentation/highlight/syntaxhighlight/Parser.java
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/presentation/highlight/syntaxhighlight/PrettifyParseResult.java
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/CodeSyntaxSpan.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/ParseResultExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeEditor.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/adapter/ParsonsLinesAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/delegate/ParsonsStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/mapper/ParsonsLinesMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_parsons/view/model/UiParsonsLine.kt
Labels: android, ready to pull

#647 ALTAPPS-959: Shared send firebase token on login
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/domain/FCMTokenProviderImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/injection/AndroidPlatformPushNotificationComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/injection/AndroidPlatformPushNotificationsComponentImpl.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection/AppGraph+DefaultInstances.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection/AppGraph.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection/IosFCMTokenProviderImpl.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/presentation/MainViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notification/remote/data/AndroidFCMTokenRepository.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notification/remote/injection/AndroidPlatformPushNotificationsPlatformDataComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/play_services/data/PlayServicesCheckerImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/play_services/injection/PlayServicesCheckerComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/push_notifications/domain/FCMTokenProvider.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/push_notifications/domain/PushNotificationDeviceRegistrar.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/push_notifications/injection/PlatformPushNotificationsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/interactor/PushNotificationsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/repository/FCMTokenRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/injection/PlatformPushNotificationsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/injection/PushNotificationsComponentImpl.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/IosAppComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/IosAppComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/iOSAppComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/notification/remote/data/repository/IosFCMTokenProvider.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/notification/remote/data/repository/IosFCMTokenRepository.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/notification/remote/injection/IosPlatformPushNotificationsDataComponent.kt
Labels: shared, ios, android, ready to pull

#654 fastlane: Update firebase_app_distribution plugin from 0.7.2 to 0.7.3
  androidHyperskillApp/Gemfile.lock
  iosHyperskillApp/Gemfile.lock
Labels: ios, android

#653 ALTAPPS-964: [Android, Shared] Support push notification image showing
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/PushNotificationHandlerImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/injection/AndroidPlatformPushNotificationsComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/remote/model/PushNotification.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationHyperskillAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationData.kt
Labels: shared, android, ready to pull

#652 ALTAPPS-963: Android enable horizontal orientation
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ConfigurationExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/injection/AndroidAppComponentImpl.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/OrientationHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fullscreen_code/dialog/CodeStepQuizFullScreenDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sql/view/fragment/SqlStepQuizFragment.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/injection/PlatformMainComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/main/presentation/MainViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/Analytic.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/model/ScreenOrientation.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizCodeFullScreenEditorOrientationChangedAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, android, ready to pull

#655 ALTAPPS-961: iOS enable horizontal orientation
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebViewNavigationController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/DeviceInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/InterfaceOrientation/InterfaceOrientationChangesPublisher.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/InterfaceOrientation/InterfaceOrientationManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/InterfaceOrientation/View+SupportedInterfaceOrientations.swift
Labels: ios

#648 ALTAPPS-965: iOS support badge images for notifications
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/NotificationServiceExtension/NotificationService.swift
  iosHyperskillApp/NotificationServiceExtension/NotificationServiceExtension.entitlements
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
Labels: ios

#657 ALTAPPS-978: Android enable localStorage for AuthSocialWebViewClient
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialWebViewFragment.kt
Labels: bug, android

#658 ALTAPPS-981: Android disable activity recreation on screen orientation change
  androidHyperskillApp/src/main/AndroidManifest.xml
Labels: bug, android

#661 iOS clean up
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BadgeRankExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeRankView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/DetailsModal/BadgeDetailsModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/EarnedModal/BadgeEarnedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/Views/StepQuizHintCardView.swift
Labels: ios

#663 iOS shine effect
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/ShineEffect.swift
Labels: ios

#659 ALTAPPS-954: Optimize concurrent usage of BaseStateRepository::getState
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository/BaseStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/InMemoryStateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateWithSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/CurrentProfileStateHolderImpl.kt
  shared/src/commonTest/kotlin/org/hyperskill/core/data/repository/BaseStateRepositoryTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/core/data/repository/TestStateHolder.kt
  shared/src/commonTest/kotlin/org/hyperskill/core/data/repository/TestStateRepository.kt
Labels: shared

#665 ALTAPPS-984: Shared add notification id to notification context
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationDataAnalyticContextMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationHyperskillAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/analytic/PushNotificationShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationData.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/notification/NotificationClickHandlingFeatureTest.kt
Labels: shared, ios, ready to pull

#664 ALTAPPS-969: Shared show notification onboarding screen on user login
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/PlatformNotificationsOnboardingComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/PlatformNotificationsOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationOnboardingViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytics/NotificationsOnboardingClickedAllowNotificationsHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytics/NotificationsOnboardingClickedRemindMeLaterHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytics/NotificationsOnboardingViewedHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
Labels: shared, ios, android, ready to pull

#670 Notifications onboarding resources
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared

#668 ALTAPPS-970: Android implement NotificationsOnboarding screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillButton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/TextButtonTypography.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/navigation/NotificationsOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingScreen.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-hdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-mdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-night-xxxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/values/dimens.xml
  androidHyperskillApp/src/main/res/values/themes.xml
  androidHyperskillApp/src/main/res/values/type.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/PlatformNotificationsOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios, android

#666 ALTAPPS-971: iOS notifications onboarding screen
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration-light.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+ScrollBounceBehavior.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextViewLayoutManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/NotificationsOnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Assembly/ProfileAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/ProfileViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeLevelView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Badges/BadgeRankView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Statistics/ProfileStatisticsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/ProgressScreenCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizNameView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizStatsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/Views/StepQuizHintCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizParsons/Views/StepQuizParsonsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/GhostButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/RoundedRectangleButtonStyle.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/VerticalCenteredScrollView.swift
  iosHyperskillApp/iosHyperskillApp/Theme/Color+DesignSystem.swift
  iosHyperskillApp/iosHyperskillApp/Theme/ColorPalette.swift
  iosHyperskillApp/iosHyperskillApp/Theme/UIColor+DesignSystem.swift
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios

#674 Bundler: Bump fastlane from 2.214.0 to 2.216.0 in /iosHyperskillApp
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/fastlane/Fastfile
Labels: ios

#679 ALTAPPS-990: Fix redundant ask to enable dailyReminders
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingReducer.kt
Labels: bug, shared

#680 ALTAPPS-992: Show permission settings screen if permission dialog is not showed
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/permission/NotificationPermissionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
Labels: bug, android

#678 iOS: fastlane separate unit and ui tests lanes
  iosHyperskillApp/TestPlans/AllTests.xctestplan
  iosHyperskillApp/TestPlans/UITests.xctestplan
  iosHyperskillApp/TestPlans/UnitTests.xctestplan
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/README.md
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcschemes/iosHyperskillApp.xcscheme
Labels: ios

#676 ALTAPPS-827: Support iOS 17
  .github/actions/setup-ios/action.yml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/SwiftUI/LatexView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsErrorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Statistics/ProfileStatisticsItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/Statistics/ProfileStatisticsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/ProgressScreenCardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Project/ProgressScreenProjectProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProgressScreen/Views/Track/ProgressScreenTrackProgressContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/Header/StudyPlanSectionHeaderStatisticsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsTrackOverviewView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/HyperskillLogoView.swift
  shared/build.gradle.kts
Labels: shared, ios, ci/cd

#683 ALTAPPS-960: Shared send user time zone to api/profile
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/domain/interactor/NotificationInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/injection/NotificationComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/data/NotificationTimeRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/data/NotificationTimeRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/repository/NotificationTimeRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/remote/NotificationTimeRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/repository/ProfileRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/data/source/ProfileRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/repository/ProfileRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/presentation/ProfileReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/ProfileRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSetNotificationHourRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSetNotificationHourWithTimeZoneRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/remote/model/ProfileSetTimeZoneRequest.kt
Labels: shared

#685 GitHub Actions: Turn off ios-unit-testing job on push
  .github/workflows/unit_testing.yml
Labels: ci/cd

#686 GitHub Actions: iOS unit testing cron job
  .github/workflows/ios_unit_testing.yml
Labels: ci/cd

#682 ALTAPPS-498: Shared local logging
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/sentry/domain/model/manager/SentryManagerImpl.kt
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/SentryManager.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/auth/injection/PlatformAuthSocialWebViewComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthCredentialsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthCredentialsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialWebViewFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/DebugComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/injection/DebugFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/SentryLogWriter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/inject/LoggerBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/inject/LoggerComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/inject/LoggerComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/presentation/WrapWithLogger.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/injection/NotificationsOnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/injection/OnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/injection/ProgressScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/injection/ProjectSelectionDetailsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/injection/ProjectSelectionDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/list/injection/ProjectSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/level/HyperskillSentryLevel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/stage_implement/injection/StageImplementFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/injection/StepQuizHintsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/injection/TopicsRepetitionsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListFeatureBuilder.kt
Labels: shared, ios, android, ready to pull

#687 GitHub Actions: Automatically assign pull request authors
  .github/workflows/auto_author_assign.yml
Labels: ci/cd
