Repository hyperskill/mobile-app, pull requests merged in 2024-05, with the labels that each got.

#1022 ALTAPPS-1233: Shared add features map to user properties
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/AnalyticEventUserProperties.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
Labels: shared

#1023 ALTAPPS-1222: Shared logger errors logging not pushes error data to Sentry
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/sentry/domain/model/manager/SentryManagerImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/analytic/injection/PlatformAnalyticComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthCredentialsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/injection/AuthSocialComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/SentryLogWriter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/injection/LoggerBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/injection/LoggerComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/injection/LoggerComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/presentation/WrapWithLogger.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/sentry/SentryLogWriter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/sentry/SentryMessageStringFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/logging/sentry/SentryMessageStringFormatterImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/interactor/SentryInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/breadcrumb/HyperskillSentryBreadcrumbCategory.kt
Labels: shared, android

#1026 ALTAPPS-1248: Shared fix subscription isn't updated after apps relaunch
  gradle/app.versions.toml
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
Labels: bug, shared

#1028 ALTAPPS-1247: Check payment ability on android platform
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/LoggerUtils.kt
  androidHyperskillApp/src/test/java/org/hyperskill/app/android/util/AppFeatureStateSerializationTest.kt
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: bug, shared, ios, android, ready to pull

#1025 Hotfix 1.56.1
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/LoggerUtils.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  androidHyperskillApp/src/test/java/org/hyperskill/app/android/util/AppFeatureStateSerializationTest.kt
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: shared, ios, android, release

#1029 ALTAPPS-1228: Android add topic progress bar to step screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/fragment/FragmentExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepCompletionView.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepMenuState.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepQuizToolbarCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepQuizToolbarHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepToolbarContentViewState.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepToolbarHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/res/anim/fade_out.xml
  androidHyperskillApp/src/main/res/anim/slide_in.xml
  androidHyperskillApp/src/main/res/drawable/ic_theory.xml
  androidHyperskillApp/src/main/res/layout/fragment_step.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_theory.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_wrapper.xml
  androidHyperskillApp/src/main/res/layout/view_step_appbar.xml
  androidHyperskillApp/src/main/res/layout/view_step_quiz_appbar.xml
  androidHyperskillApp/src/main/res/layout/view_step_toolbar.xml
  androidHyperskillApp/src/main/res/menu/step_menu.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  config/detekt/baseline.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
Labels: shared, android, awaiting review

#1030 ALTAPPS-1232: iOS add spacebot animations to progress bar in topic completion flow
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/LottieAnimations.swift
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-full-limits-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-full-limits-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-no-limits-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-no-limits-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-partially-filled-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsLimitInfo/problems-limit-info-modal-partially-filled-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/fill-blanks-input-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/fill-blanks-input-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/fill-blanks-select-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/fill-blanks-select-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/parsons-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/ProblemsOnboarding/parsons-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/SpacebotProgressBar/spacebot-progress-bar-rocket-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/SpacebotProgressBar/spacebot-progress-bar-rocket-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/SpacebotProgressBar/spacebot-progress-bar-wow.lottie
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/StyledNavigationController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepToolbarProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/SpacebotRocketAnimationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/SpacebotWowAnimationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/StepToolbarProgressView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_toolbar/domain/analytic/StepToolbarSpacebotClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_toolbar/injection/StepToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_toolbar/presentation/StepToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_toolbar/presentation/StepToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_toolbar/presentation/StepToolbarReducer.kt
Labels: shared, ios

#1032 ALTAPPS-637: iOS CodePlaygroundManager optimize getChangesSubstring
  iosHyperskillApp/TestPlans/AllTests.xctestplan
  iosHyperskillApp/TestPlans/UnitTests.xctestplan
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcbaselines/2C919DEC27EEF5BC0022A2F2.xcbaseline/ADDDB70F-EE79-4C0E-9923-72C0A4A25AEF.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcbaselines/2C919DEC27EEF5BC0022A2F2.xcbaseline/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundGetChangesSubstringPerformanceTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundGetChangesSubstringTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundGetCurrentTokenTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundShouldMakeTabLineAfterTests.swift
Labels: enhancement, ios

#1033 ALTAPPS-637: iOS optimize shouldMakeTabLineAfter
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcbaselines/2C919DEC27EEF5BC0022A2F2.xcbaseline/ADDDB70F-EE79-4C0E-9923-72C0A4A25AEF.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundShouldMakeTabLineAfterPerformanceTests.swift
Labels: enhancement, ios

#1034 ALTAPPS-1228: Android fix theory open and theory icon visibility
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/click_handling/delegate/NotificationClickHandlingDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepRouterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/navigation/StepNavigationContainer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/navigation/StepScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/navigation/StepWrapperScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/LearningActivityTargetViewActionHandler.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_search/fragment/TopicSearchFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/fragment/TopicsRepetitionFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, ready to pull

#1035 ALTAPPS-637: iOS CodePlaygroundManager optimize getCurrentToken(text:cursorPosition:)
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcbaselines/2C919DEC27EEF5BC0022A2F2.xcbaseline/ADDDB70F-EE79-4C0E-9923-72C0A4A25AEF.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundGetCurrentTokenPerformanceTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundGetCurrentTokenTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundShouldMakeTabLineAfterTests.swift
Labels: enhancement, ios

#1036 ALTAPPS-637: iOS CodePlaygroundManager optimize countTabSize(text:)
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp.xcodeproj/xcshareddata/xcbaselines/2C919DEC27EEF5BC0022A2F2.xcbaseline/ADDDB70F-EE79-4C0E-9923-72C0A4A25AEF.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundManagerCountTabSizePerformanceTests.swift
  iosHyperskillApp/iosHyperskillAppTests/FrameworksTests/CodeEditor/CodePlaygroundManager/CodePlaygroundManagerCountTabSizeTests.swift
Labels: enhancement, ios

#1037 ALTAPPS-1228: Fix app crash when navigate back from in step screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepRouterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
Labels: bug, android, ready to pull

#1038 ALTAPPS-1243: Shared, iOS, Android fill customer user id with apps flyer
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppsFlyerManager.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/analytic/domain/apps_flyer/AndroidAppsFlyerAnalyticEngine.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/domain/analytic/OnboardingCompletionAppsFlyerAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/analytic/AppLaunchFirstTimeAppsFlyerAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/domain/interactor/AppInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/domain/analytic/NotificationsOnboardingCompletionAppsFlyerAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingReducer.kt
Labels: shared, ios, android, ready to pull

#1040 ALTAPPS-637: iOS CodeEditor enable code completion
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditorSuggestionsPresentationContextProviding.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeFullScreen/Views/StepQuizCodeFullScreenCodeView.swift
Labels: ios

#1041 ALTAPPS-913: Shared, Android detect auth error kind
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/widget/AuthSocialWebViewClient.kt
  androidHyperskillApp/src/main/res/layout/fragment_auth_social.xml
  androidHyperskillApp/src/main/res/xml/network_security_config.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/AuthSocialFeatureStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthAnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthCredentialsFailedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthSocialClickedSignInWithSocialHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/AuthSocialFailedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/analytic/GetAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/domain/model/AuthSocialError.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthCredentialsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/model/AuthSocialErrorResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/source/AuthRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/view/mapper/AuthSocialErrorMapper.kt
Labels: shared, ios, android

#1042 ALTAPPS-915: iOS support new auth errors showing
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/presentation/AuthSocialFeature.kt
Labels: shared, ios, android

#1043 ALTAPPS-1261: GitHub Actions bump Xcode version from 15.3 to 15.4
  .github/actions/setup-ios/action.yml
Labels: ios, ci/cd

#1044 ALTAPPS-1258: iOS display matching problem as table
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/StepQuizTableAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/StepQuizTableViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/StepQuizTableViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#1047 ALTAPPS-1256: iOS fill in the blanks with selects UI improvements
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/InputOutput/StepQuizFillBlanksOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/StepQuizFillBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapperCache.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/StepQuizFillBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/StepQuizFillBlanksSelectOptionsViewWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/Cell/StepQuizFillBlanksSelectOptionsCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/Cell/StepQuizFillBlanksSelectOptionsCollectionViewCellContainerView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/StepQuizFillBlanksSelectOptionsView.swift
Labels: ios

#1049 ALTAPPS-1255: iOS fix spacebot animation stucks if user minimizes the app
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/SpacebotRocketAnimationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/SpacebotWowAnimationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/ToolbarProgress/StepToolbarProgressView.swift
Labels: bug, ios

#1050 ALTAPPS-1258: iOS display matching problem as table remove default ordering when reply is missing
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/StepQuizSortingViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/model/Reply.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/domain/validation/StepQuizReplyValidatorTest.kt
Labels: shared, ios, ready to pull

#1053 ALTAPPS-1257: Android fix fill blanks options spacing
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/delegate/FillBlanksStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/res/layout/item_step_quiz_fill_blanks_select_option.xml
Labels: android

#1051 ALTAPPS-1263: Shared code generation with errors improvements
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/StepExtensions.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/interactor/StepQuizInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonTest/kotlin/org/hyperskill/ReplySerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/domain/model/StepStub.kt
Labels: shared, ios

#1054 Make auth error text copyable
  androidHyperskillApp/src/main/res/layout/fragment_auth_email.xml
  androidHyperskillApp/src/main/res/layout/fragment_auth_social.xml
Labels: android, ready to pull

#1055 ALTAPPS-1257: Android fix app crash when open code quiz
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_stage_step_wrapper.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code_keyboard_extension.xml
Labels: bug, android, ready to pull

#1057 iOS new code keyboard shortcuts
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeElementSize.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeInputAccessory/CodeInputAccessorySymbols.swift
Labels: ios

#1058 Android new code keyboard shortcuts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/adapter/CodeToolbarAdapter.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeAnalyzer.kt
  androidHyperskillApp/src/main/res/values/frequent_symbols.xml
Labels: android, ready to pull

#1059 ALTAPPS-1264: Shared update challenge model
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/domain/model/Challenge.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/widget/view/mapper/ChallengeWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/challenges/domain/model/ChallengeDeserializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/challenges/widget/view/mapper/ChallengeWidgetViewStateMapperTest.kt
Labels: shared

#1064 ALTAPPS-1266: Shared remove short theory experiment
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
Labels: shared

#1066 [ASO] Name and subtitle
  iosHyperskillApp/fastlane/metadata/en-US/name.txt
  iosHyperskillApp/fastlane/metadata/en-US/subtitle.txt
Labels: ios

#1068 ALTUX-2678: Rename tracks to courses
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared

#1069 New cache flag for gpt code generation onboarding
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
Labels: shared
