Repository hyperskill/mobile-app, pull requests merged in 2024-02, with the labels that each got.

#871 GitHub Actions: Deploy Android manually to Firebase App Distribution
  .editorconfig
  .github/workflows/android_beta_deployment.yml
  .github/workflows/android_deploy_to_firebase.yml
  .github/workflows/android_deploy_to_firebase_manually.yml
Labels: ci/cd

#872 GitHub Actions: Fix deploy Android manually to Firebase App Distribution
  .github/workflows/android_beta_deployment.yml
  .github/workflows/android_deploy_to_firebase_manually.yml
Labels: bug, ci/cd

#869 ALTAPPS-1125: Android mobile only profile
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/compose/PaddingValuesExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillTopAppBar.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#867 ALTAPPS-1128: iOS paywall screen UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Paywall/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Paywall/paywall-premium-mobile.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Paywall/paywall-premium-mobile.imageset/paywall-premium-mobile.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Paywall/paywall-premium-mobile.imageset/paywall-premium-mobile@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Paywall/paywall-premium-mobile.imageset/paywall-premium-mobile@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+SafeAreaInset.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+Task.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallFeaturesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/OffsetObservingScrollView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/TransparentBlurView.swift
Labels: ios

#868 ALTAPPS-1125: Shared mobile only profile
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/compose/PaddingValuesExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillTopAppBar.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/analytic/ProfileSettingsClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#874 GitHub Actions: Bump macOS runner from 13 to 14
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/build_caches.yml
  .github/workflows/ci.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/ios_unit_testing.yml
Labels: ci/cd

#875 ALTAPPS-1126: iOS subscription info UI profile settings
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsSubscriptionSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsView.swift
Labels: ios

#878 ALTAPPS-1132: iOS manage subscription UI
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/SubscriptionDetails/SubscriptionDetailsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView.swift
Labels: ios

#880 ALTAPPS-1127: Shared open next learning activity after notification click
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/injection/NotificationClickHandlingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/injection/NotificationClickHandlingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/click_handling/presentation/NotificationClickHandlingReducer.kt
Labels: shared, awaiting review

#876 ALTAPPS-1117: Shared paywall subscription purchase
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ContextExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionSyncLoading.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/repository/SubscriptionsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/source/SubscriptionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/repository/SubscriptionsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/remote/SubscriptionsRemoteDataSourceImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#879 ALTAPPS-1124: Don't show +0 gems after solving a problem of the day
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CompletedStepOfTheDayDialogFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOfDaySolvedModalViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
Labels: bug, shared, ios, android

#877 ALTAPPS-1125: Fix profile settings ViewState
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  androidHyperskillApp/src/main/res/layout/view_profile_settings_content.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProfileSettingsFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/profile/presentation/ProfileSettingsViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/injection/ProfileSettingsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewStateMapper.kt
Labels: shared, ios, android

#893 ALTAPPS-1104: iOS remove elements with the attribute data-mobile-hidden
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingInjection.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/Processing/ContentProcessor.swift
Labels: ios

#886 ALTAPPS-1131: Android manage subscription
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/fragment/ManageSubscriptionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/navigation/ManageSubscriptionScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#888 ALTAPPS-1120: Shared, Android add paywall link to limits bottomsheet
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/dialog/ProblemsLimitReachedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_problems_limit_reached.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemsLimitReachedModalClickedUnlockUnlimitedProblemsHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#894 iOS: Polish up footer views
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+SafeAreaInset.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/Content/ProjectSelectionDetailsContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/Details/Views/Skeleton/ProjectSelectionDetailsSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/StepQuizFillBlanksSelectOptionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Content/TrackSelectionDetailsContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/Details/Views/Skeleton/TrackSelectionDetailsSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/TransparentBlurView.swift
Labels: ios

#887 ALTAPPS-1131: Shared, Android manage subscription
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/fragment/ManageSubscriptionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/navigation/ManageSubscriptionScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/manage_subscription/injection/PlatformManageSubscriptionComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/manage_subscription/injection/PlatformManageSubscriptionComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/date/MonthFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/view/mapper/date/SharedDateFormatter.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/domain/analytic/ManageSubscriptionClickedManageHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/domain/analytic/ManageSubscriptionViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/injection/ManageSubscriptionComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/injection/ManageSubscriptionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/injection/ManageSubscriptionFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/view/mapper/ManageSubscriptionViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/core/view/mapper/date/SharedDateFormatterTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionStub.kt
Labels: shared, android, ready to pull

#896 ALTAPPS-1087: Shared add Pull-to-refresh for problems limit widget on study plan
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/ui/delegate/ProblemsLimitDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Views/ProblemsLimitWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/domain/analytic/ProblemsLimitClickedRetryContentLoadingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/domain/model/ProblemsLimitScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
Labels: bug, shared, ios, android

#892 ALTAPPS-1129: Shared show paywall every third session
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/cache/CurrentSubscriptionStateHolderImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/cache/SubscriptionCacheKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/repository/CurrentSubscriptionStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/source/CurrentSubscriptionStateHolder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionSerializationTest.kt
Labels: shared, ios, android, ready to pull

#897 ALTAPPS-1134: Shared purchase feature flag
  androidHyperskillApp/src/test/java/org/hyperskill/app/android/util/AppFeatureStateSerializationTest.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/injection/WelcomeOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchase/domain/model/IOSPurchaseManager.kt
Labels: shared, ios, android, ready to pull

#899 ALTAPPS-1152: Shared setup RevenueCat only when user is authorized
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/HyperskillApp.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchase/domain/model/IOSPurchaseManager.kt
Labels: shared, android

#901 ALTAPPS-1130: iOS show paywall every third time
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
Labels: ios

#903 GitHub Actions: Update fastlane plugins
  androidHyperskillApp/Gemfile.lock
  iosHyperskillApp/Gemfile.lock
Labels: ios, android

#904 ALTAPPS-1154: Shared, iOS add terms link to Paywall
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallClickedTermsOfServiceAndPrivacyPolicyHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios, android

#905 ALTAPPS-1091: Shared remove check for wasNotificationOnboardingShown flag
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
Labels: shared

#908 ALTAPPS-1156: Shared experiment with short theory
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
Labels: shared, ready to pull

#910 ALTAPPS-1136: Android request google play review
  androidHyperskillApp/build.gradle.kts
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillButton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/request_review/dialog/RequestReviewDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/request_review/ui/RequestReviewDialog.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/request_review/ui/RequestReviewPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/res/layout/fragment_profile_settings.xml
  gradle/libs.versions.toml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/request_review/injection/PlatformRequestReviewComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/request_review/injection/PlatformRequestReviewComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/request_review/presentation/RequestReviewModalViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/request_review/modal/view/mapper/RequestReviewModalViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, ios, android

#895 ALTAPPS-1143: Shared, iOS widget for users questionnaire
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Gradients/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Gradients/brand-gradient-3.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/Gradients/brand-gradient-3.imageset/brand-gradient-3.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersQuestionnaireWidget/UsersQuestionnaireWidgetAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersQuestionnaireWidget/UsersQuestionnaireWidgetOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersQuestionnaireWidget/UsersQuestionnaireWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/UsersQuestionnaireWidget/UsersQuestionnaireWidgetViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/cache/UsersQuestionnaireCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/cache/UsersQuestionnaireCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/data/repository/UsersQuestionnaireRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/data/source/UsersQuestionnaireCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/domain/repository/UsersQuestionnaireRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/injection/UsersQuestionnaireDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/injection/UsersQuestionnaireDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/domain/analytic/UsersQuestionnaireWidgetClickedCloseHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/domain/analytic/UsersQuestionnaireWidgetClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/domain/analytic/UsersQuestionnaireWidgetViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/injection/UsersQuestionnaireWidgetComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/injection/UsersQuestionnaireWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/presentation/UsersQuestionnaireWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/presentation/UsersQuestionnaireWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/users_questionnaire/widget/presentation/UsersQuestionnaireWidgetReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
Labels: shared, ios, android

#915 iOS: Add AppRouter
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
Labels: ios

#916 ALTAPPS-473: iOS update SwiftLint configuration
  iosHyperskillApp/.swiftlint.yml
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIWindowExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditor.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/SwiftUI/CodeEditorSuggestionsPresentationContextProviding.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeCompletion/CodeCompletionTableViewCell/CodeCompletionCellView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeCompletion/CodeCompletionTableViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeEditorView/CodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/CodeInputAccessoryBuilder.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeInputAccessory/Toolbar/CodeInputAccessoryView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/View/UIKit/CodeTextView/CodeTextViewLayoutManager.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Collections/LinkedList.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/ContentProcessor/View/UIKit/ProcessedContentWebView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/FeatureViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Local/LocalNotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/NotificationsService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/WebController/WebViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Helpers/MainBundleInfo.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Images/Images.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthTextField.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/About/ProfileAboutView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/BottomControls/StepQuizBottomControls.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/BottomControls/StepQuizDiscussionsButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/FillBlanksTextCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/Input/FillBlanksInputCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/Cells/Select/FillBlanksSelectCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizTitleView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/UIKit/FillBlanksQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/StepQuizFillBlanksSelectOptionsViewWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/Cell/StepQuizFillBlanksSelectOptionsCollectionViewCell.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanksSelectOptions/Views/UIKit/StepQuizFillBlanksSelectOptionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/StepQuizStringViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/StepQuizTableViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SDKs/GoogleSocialAuthSDKProvider.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppPowerModeObserver.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Introspect/PullToRefresh.swift
  iosHyperskillApp/iosHyperskillAppTests/CollectionsTests/LinkedListTests.swift
  iosHyperskillApp/iosHyperskillAppTests/ExtensionsTests/URLExtensionsTests.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectScrollViewTests.swift
  iosHyperskillApp/iosHyperskillAppTests/IntrospectTests/IntrospectViewControllerTests.swift
Labels: ios

#917 ALTAPPS-638: iOS fix code editor not replaces symbols in selection
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
Labels: bug, ios

#918 ALTAPPS-767: Shared fix Home screen not updates problem of the day after topic is completed
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
Labels: bug, shared

#913 ALTAPPS-1158: Shared fix track selection details screen crashes
  shared/src/commonMain/kotlin/org/hyperskill/app/progress_screen/presentation/ProgressScreenActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/project_selection/details/domain/interactor/ProjectSelectionDetailsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsActionDispatcher.kt
Labels: bug, shared

#920 ALTAPPS-1155: Update subscription state after expiration
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/fragment/ManageSubscriptionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/ui/ManageSubscriptionScreen.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/domain/interactor/FreemiumInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/freemium/injection/FreemiumDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/domain/analytic/RenewSubscriptionClickedManageHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/presentation/ManageSubscriptionStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/manage_subscription/view/mapper/ManageSubscriptionViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/interactor/SubscriptionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponentImpl.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionStub.kt
Labels: shared, android, ready to pull

#923 ALTAPPS-1144: Android widget for users questionnaire
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/ui/delegate/ProblemsLimitDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/delegate/UsersQuestionnaireCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/ui/UsersQuestionnaireWidget.kt
  androidHyperskillApp/src/main/res/drawable/ic_user_questionnaire_close.xml
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/study_plan/presentation/StudyPlanScreenViewModel.kt
Labels: shared, android, ready to pull

#924 ALTAPPS-1145: Android onboarding questionnaire
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/PaddingValuesExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/fragment/UsersQuestionnaireOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/navigation/UsersQuestionnaireOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/ui/UsersQuestionnaireOnboardingDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/ui/UsersQuestionnaireOnboardingPreviewDefault.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/ui/UsersQuestionnaireOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/onboarding/ui/UsersQuestionnaireOptionsList.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/users_questionnaire/onboarding/injection/PlatformUsersQuestionnaireOnboardingComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/users_questionnaire/onboarding/injection/PlatformUsersQuestionnaireOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/users_questionnaire/onboarding/presentation/UsersQuestionnaireOnboardingViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/MainComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/injection/WelcomeOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
Labels: shared, android, awaiting review
