Repository hyperskill/mobile-app, pull requests merged in 2024-04, with the labels that each got.

#970 ALTAPPS-1175: Android add fix-mistakes badge on code stepQuiz screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable/code_badge_fix_mistakes_background.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
Labels: android

#968 ALTAPPS-1200: Remove Paywall from the welcome flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ManageSubscription/Views/ManageSubscriptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/injection/WelcomeOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/paywall/PaywallTest.kt
Labels: shared, ios, android

#967 ALTAPPS-1185: Log errors related with user deauthorized
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  shared/src/commonMain/kotlin/org/hyperskill/app/network/BearerTokenHandler.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/InstallBearerTokenPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/domain/model/AuthorizedClientDependencies.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/injection/NetworkModule.kt
Labels: shared

#974 ALTAPPS-1180: GitHub Actions integrate detekt into CI workflow
  .github/workflows/ci.yml
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  shared/src/androidMain/kotlin/org/hyperskill/app/network/PreconfiguredHttpClient.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/cache/SubmissionsCacheDataSourceImpl.kt
Labels: shared, ci/cd

#972 ALTAPPS-1202: Shared, iOS add onboarding flow for code generation with errors
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/ProblemOnboardingBottomSheetDialogFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProblemOnboarding/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProblemOnboarding/problem-onboarding-gpt-code-generation-with-errors.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProblemOnboarding/problem-onboarding-gpt-code-generation-with-errors.imageset/problem-onboarding-gpt-code-generation-with-errors.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProblemOnboarding/problem-onboarding-gpt-code-generation-with-errors.imageset/problem-onboarding-gpt-code-generation-with-errors@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/ProblemOnboarding/problem-onboarding-gpt-code-generation-with-errors.imageset/problem-onboarding-gpt-code-generation-with-errors@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemOnboarding/StepQuizProblemOnboardingModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/StepQuizCodeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeFixCodeMistakesBadge.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/Views/StepQuizSQLView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/model/ProblemsOnboardingFlags.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemOnboardingModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/ProblemOnboardingModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFixGptGeneratedCodeMistakesBadgeClickedQuestionMarkHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/onboarding/domain/model/ProblemsOnboardingFlagsStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#975 ALTAPPS-1197: Android disable vertical scroll while scroll code blocks horizontally
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/latex/view/model/block/HorizontalScrollBlock.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/latex/view/widget/LatexWebView.kt
Labels: android

#977 ALTAPPS-1205: iOS update app description metadata
  iosHyperskillApp/fastlane/metadata/en-US/description.txt
Labels: ios

#980 ALTAPPS-1206: GitHub Actions bump Xcode version from 15.2 to 15.3
  .github/actions/setup-ios/action.yml
Labels: ios, ci/cd

#982 ALTAPPS-1209: iOS optimize Lottie files
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-input-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/fill-blanks-select-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-dark.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-light.json
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/parsons-problem-onboarding-animation-light.lottie
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/LottieAnimationViewWrapper.swift
Labels: ios

#983 ALTAPPS-1181: Integrate detekt and ktlint with GitHub Code Scanning
  .github/workflows/ci.yml
  buildSrc/src/main/kotlin/plugins/hyperskill.detekt.gradle.kts
  shared/build.gradle.kts
Labels: shared, ci/cd

#985 ALTAPPS-1214: Android add explicit subscription price and duration on paywall screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#986 ALTAPPS-1203: Android add code generation with errors onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/CodeGenerationWithErrorsBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/ProblemOnboardingBottomSheetCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/ProblemOnboardingBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/dialog/ProblemsOnboardingBottomSheetFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/delegate/CodeStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/fragment/CodeStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/code_generation_with_error_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/code_generation_with_error_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/code_generation_with_error_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/code_generation_with_error_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/code_generation_with_error_onboarding.webp
  androidHyperskillApp/src/main/res/drawable/ic_code_generation_with_error_question.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz_code_generation_with_error_onboarding.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  config/detekt/baseline.xml
Labels: shared, android, ready to pull

#984 ALTAPPS-1201: Shared Don't deauthorize user on network error during token refresh
  shared/src/commonMain/kotlin/org/hyperskill/app/network/InstallBearerTokenPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/plugin/HttpCookiesPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/plugin/bearer_token/BearerTokenHttpClientPlugin.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/plugin/bearer_token/TokenRefreshResult.kt
Labels: shared

#976 ALTAPPS-1204: Support main.int.hyperskill.org for internal testing
  shared/build.gradle.kts
  shared/keys/dev.properties
  shared/keys/main.properties
  shared/keys/release.properties
  shared/src/commonMain/kotlin/org/hyperskill/app/config/BuildKonfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/domain/model/EndpointConfigType.kt
Labels: shared

#987 ALTAPPS-1211: Android fix crash on request review modal
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/request_review/dialog/RequestReviewDialogFragment.kt
Labels: bug, android

#988 ALTAPPS-1215: Shared, iOS AI Prompt problem
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ChildProtocols/StepQuizChildQuizType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizSkeletonViewFactory.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/StepQuizStringDataType.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/StepQuizStringViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/ViewData/StepQuizStringViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/ViewData/StepQuizStringViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/Views/StepQuizStringForcePromptScoreView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/Views/StepQuizStringView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizTitleMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/model/Reply.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/model/ReplyScore.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/serialization/score/ReplyScoreContentSerializer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/serialization/score/ReplyScoreFloatSerializer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/serialization/score/ReplyScoreStringSerializer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/ReplySerializationTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
Labels: shared, ios, ready to pull

#991 ALTAPPS-1219: iOS fix tab bar disappears on training screen after limits reached modal navigation
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UINavigationControllerExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Routers/TabBarRouter.swift
Labels: bug, ios

#990 ALTAPPS-1212: Android fix custom tabs call crash
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/delegate/ChallengeCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/ContextExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/CustomTabsExtention.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/LoggerUtils.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/ExternalLinkWebViewClient.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/manage_subscription/fragment/ManageSubscriptionFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/AboutMeDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/delegate/ProfileViewActionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile/view/fragment/ProfileFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/request_review/dialog/RequestReviewDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/users_questionnaire/delegate/UsersQuestionnaireCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/view/base/ui/extension/SocialNetworksRedirectExtensions.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: bug, shared, android, ready to pull

#993 ALTAPPS-1218: Android AI prompt problem
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/factory/StepQuizFragmentFactory.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/delegate/TextStepQuizFormDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/MarkAsCorrectBottomSheetDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/fragment/TextStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/AIPromptStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/MathStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/NumberStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/PlainTextStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/TextStepQuizConfig.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_text/view/model/TextStepQuizConfigFactory.kt
  androidHyperskillApp/src/main/res/drawable/ic_question_mark.xml
  androidHyperskillApp/src/main/res/layout/fragment_mark_text_step_as_correct.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_code.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_text.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/step/domain/model/BlockName.kt
Labels: shared, android

#997 ALTAPPS-1220: iOS stick start practicing button to bottom in theory
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
Labels: ios

#998 ALTAPPS-1224: iOS adjust colors for disabled quiz state
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+ConditionalOpacity.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizChoice/Views/StepQuizChoiceView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeEditorView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/Views/StepQuizCodeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/Views/StepQuizFillBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/Views/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizParsons/Views/StepQuizParsonsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizPyCharm/StepQuizPyCharmView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSQL/Views/StepQuizSQLView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizString/Views/StepQuizStringView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableView.swift
Labels: ios

#999 ALTAPPS-1221: Stick start practicing button to bottom in theory
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/model/StepTheoryRating.kt
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_rating_excellent.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_rating_good.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_rating_poor.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_rating_satisfactory.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_rating_weak.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_theory.xml
  androidHyperskillApp/src/main/res/layout/item_step_comment_action.xml
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionClickedStartPracticingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_completion/StepCompletionTest.kt
Labels: shared, ios, android, ready to pull

#1001 ALTAPPS-1229: Shared increase socketTimeout for POST /api/submissions
  shared/src/commonMain/kotlin/org/hyperskill/app/network/NetworkBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/remote/SubmissionsRemoteDataSourceImpl.kt
Labels: shared

#1003 ALTAPPS-1171: Shared extract problems limit bottom sheet into a separate feature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/dialog/ProblemsLimitReachedBottomSheet.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitReachedModalAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitReachedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitReachedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitReachedModalViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/StepQuizProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Modals/ProblemsLimitReachedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/problems_limit_reached/injection/PlatformProblemsLimitReachedModalComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/problems_limit_reached/injection/PlatformProblemsLimitReachedModalComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/problems_limit_reached/presentation/ProblemsLimitReachedModalViewModel.kt
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/domain/analytic/ProblemsLimitReachedModalClickedGoToHomeScreenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/domain/analytic/ProblemsLimitReachedModalClickedUnlockUnlimitedProblemsHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/domain/analytic/ProblemsLimitReachedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/domain/analytic/ProblemsLimitReachedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/domain/model/ProblemsLimitReachedModalFeatureParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/injection/ProblemsLimitReachedModalComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/injection/ProblemsLimitReachedModalComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/injection/ProblemsLimitReachedModalFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/presentation/ProblemsLimitReachedModalActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/presentation/ProblemsLimitReachedModalFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/presentation/ProblemsLimitReachedModalReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_reached/view/ProblemsLimitReachedModalViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/subscriptions/SubscriptionStub.kt
Labels: shared, ios, android

#1004 ALTAPPS-1225: Shared, Android add limits widget to step quiz
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepQuizToolbarHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeDetailsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/CommonCodeQuizConfig.kt
  androidHyperskillApp/src/main/res/drawable/ic_limits.xml
  androidHyperskillApp/src/main/res/drawable/ic_next_hint.xml
  androidHyperskillApp/src/main/res/drawable/ic_theory.xml
  androidHyperskillApp/src/main/res/layout/fragment_step_practice_description.xml
  androidHyperskillApp/src/main/res/layout/layout_step_hint_action_button.xml
  androidHyperskillApp/src/main/res/layout/view_step_quiz_appbar.xml
  androidHyperskillApp/src/main/res/menu/step_quiz_appbar_menu.xml
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizChildFeatureReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/domain/analytic/StepQuizToolbarLimitClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/injection/StepQuizToolbarComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/injection/StepQuizToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/view/StepQuizToolbarViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/presentation/StepQuizChildFeatureReducerStub.kt
Labels: shared, ios, android

#1006 Update interview widget texts in strings.xml
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared

#1009 Hotfix 1.55.1
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, release

#1010 ALTAPPS-1225: Shared, Android add limits to gamification toolbar
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/fragment/LeaderboardFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/problems_limit/view/ui/delegate/ProblemsLimitDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_menu_problems_limit.xml
  androidHyperskillApp/src/main/res/layout/fragment_study_plan.xml
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  androidHyperskillApp/src/main/res/layout/layout_problems_limit.xml
  config/detekt/detekt.yml
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProblemsLimitFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/GamificationToolbarViewActionHandler.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/StepQuizProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/domain/analytic/GamificationToolbarClickedProblemsLimitHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/view/mapper/GamificationToolbarViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/domain/model/ProblemsLimitScreen.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/injection/ProblemsLimitComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/LegacyProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/ProblemsLimitReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/view/mapper/ProblemsLimitViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/analytic/ProblemsLimitInfoModalClickedUnlockUnlimitedProblemsHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/analytic/ProblemsLimitInfoModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/analytic/ProblemsLimitInfoModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/model/ProblemsLimitInfoModalContext.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/model/ProblemsLimitInfoModalFeatureParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/domain/model/ProblemsLimitInfoModalLaunchSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/injection/ProblemsLimitInfoModalFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/presentation/ProblemsLimitInfoModalFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/presentation/ProblemsLimitInfoModalReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/view/ProblemsLimitInfoModalViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
Labels: shared, ios, android

#1012 ALTAPPS-1226: iOS improve limits flow
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-problems-limit.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-problems-limit.imageset/navigation-bar-problems-limit-dark.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NavigationBar/navigation-bar-problems-limit.imageset/navigation-bar-problems-limit.pdf
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-toolbar-limits.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StepQuiz/step-quiz-toolbar-limits.imageset/step-quiz-toolbar-limits.pdf
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/LottieAnimations.swift
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-full-limits-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-full-limits-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-no-imits-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-no-limits-light.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-partially-filled-dark.lottie
  iosHyperskillApp/iosHyperskillApp/LottieAnimations/problems-limit-info-modal-partially-filled-light.lottie
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ProblemsLimitFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/GamificationToolbarViewActionHandler.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/GamificationToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/GamificationToolbar/Views/ProblemsLimitBarButtonItem.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/HomeViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/LeaderboardViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Leaderboard/Views/LeaderboardView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitInfoModalAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Modal/ProblemsLimitInfoModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitSkeletonView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/ProblemsLimitWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimit/Widget/StepQuizProblemsLimitView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimitInfo/ProblemsLimitInfoModalAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimitInfo/ProblemsLimitInfoModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimitInfo/ProblemsLimitInfoModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProblemsLimitInfo/ProblemsLimitInfoModalViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepExpandableStepTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepToolbarProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/ViewData/StepQuizViewDataMapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizHints/StepQuizHintsViewActionHandler.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Wrappers/LottieAnimationViewWrapper.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit/presentation/LegacyProblemsLimitFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
Labels: shared, ios

#1011 ALTAPPS-1230: Android revert paywall subscription price and duration text update
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android, ready to pull

#1015 ALTAPPS-1234: iOS Amplitude analytic tool integration
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/AppDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection/AppGraph.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AmplitudeManager.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AmplitudeAnalyticEventMapper.kt
Labels: shared, ios

#1016 ALTAPPS-1225: Shared show limits in toolbar only for supported StepRoute types
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/view/StepQuizToolbarViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_toolbar/StepQuizToolbarTest.kt
Labels: shared

#1018 ALTAPPS-1240: Shared incorrect limits reset time formatted string in problems limit info bottom sheet
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/injection/ProblemsLimitInfoModalFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/problems_limit_info/view/ProblemsLimitInfoModalViewStateMapper.kt
Labels: bug, shared

#1017 ALTAPPS-1233: Shared AmplitudeAnalyticEventMapper update getType for VIEW events
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AmplitudeAnalyticEventMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/analytic/domain/processor/AmplitudeAnalyticEventMapperTest.kt
Labels: shared

#1019 GitHub Actions: Bump actions/checkout from 4.1.1 to 4.1.4
  .github/workflows/android_beta_deployment.yml
  .github/workflows/android_deploy_to_firebase.yml
  .github/workflows/android_deploy_to_firebase_manually.yml
  .github/workflows/android_release_deployment.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/build_caches.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup_pr_caches.yml
  .github/workflows/codeql.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gh_pages_analytics.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/ios_unit_testing.yml
  .github/workflows/merge_main_into_develop.yml
Labels: ci/cd

#1020 GitHub Actions: Bump ruby/setup-ruby from 1.171.0 to 1.175.1
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/ci.yml
Labels: ci/cd
