Repository hyperskill/mobile-app, pull requests merged in 2024-07, with the labels that each got.

#1094 ALTAPPS-468: Fix insets handling
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
Labels: android, ready to pull

#1095 ALTAPPS-975: Update kotlin to 1.9.24
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/badges/view/ui/BadgeCardStatePreview.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NotificationChannelInitializer.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/DebugScreenUI.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/leaderboard/ui/LeaderboardTabs.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/profile_settings/view/dialog/ProfileSettingsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/projects_selection/list/delegate/ProjectSelectionListDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/language/ui/WelcomeOnboardingChooseProgrammingLanguage.kt
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/Sentry/PlatformHyperskillSentryTransaction.swift
  settings.gradle.kts
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/commonMain/kotlin/org/hyperskill/app/code/domain/model/ProgrammingLanguage.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/utils/DateTimeUtils.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/view/DebugViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/BearerTokenHandler.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/remote/domain/model/PushNotificationCategory.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/view/BadgesViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/view/mapper/StepViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topic_completed_modal/view/TopicCompletedModalViewStateMapper.kt
  shared/src/commonMain/moko-resources/base/plurals.xml
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonMain/moko-resources/colors/colors.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/projects_selection/ProjectsListTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/topic_completed_modal/TopicCompletedModalViewStateMapperTest.kt
Labels: shared, ios, android

#1098 ALTAPPS-1297: Shared send step viewed request after feature destroying
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/ViewStepActionDispatcher.kt
Labels: shared

#1099 ALTAPPS-1074: Shared refactor target type enum classes
  shared/shared.podspec
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/domain/model/Challenge.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/domain/model/ChallengeStatus.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/domain/model/ChallengeTargetType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/challenges/widget/presentation/ChallengeWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/BuildVariant.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/model/ContentType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/first_problem_onboarding/presentation/FirstProblemOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivity.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivityState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivityTargetType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/domain/model/LearningActivityType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/learning_activities/presentation/mapper/LearningActivityTargetViewActionMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/data/repository/LikesRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/data/source/LikesRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/interactor/LikesInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/model/Like.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/domain/repository/LikesRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/remote/LikesRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/likes/remote/model/LikesRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/model/SearchResult.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/model/SearchResultTargetType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/search_results/domain/repository/SearchResultsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/domain/model/HintState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanClickedActivityHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/model/StudyPlanSectionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/challenges/domain/model/ChallengeDeserializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/challenges/widget/view/mapper/ChallengeWidgetViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/commets/domain/model/CommentStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/search_results/remote/model/SearchResultsResponseDeserializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ready to pull

#1101 ALTAPPS-1296: Shared trim spaces and new lines for string and number problems
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
Labels: shared, ready to pull

#1100 ALTAPPS-1285: Shared support paused premium subscription type
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
Labels: shared, ready to pull

#1102 ALTAPPS-1293: Shared table problem with multiple options requires answer for each row
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/validation/StepQuizReplyValidator.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/domain/validation/StepQuizReplyValidatorTest.kt
Labels: shared, ready to pull

#1104 ALTAPPS-1283: Android step comments
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/fragment/CommentsDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/Comment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentHeader.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentList.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentListContentType.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentPreviewDataProvider.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentReactions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentReactionsPopup.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/CommentSkeleton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/comments/ui/Comments.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillPopup.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillTopAppBar.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/ScreenDataLoadingError.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/ShimmerModifier.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/delegate/StageStepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/LimitsWidgetCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepMenuPrimaryAction.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepMenuPrimaryActionParams.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepPracticeCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepToolbarCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepToolbarHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_navigation_close.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_clapping.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_confused.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_downvote.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_fire.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_show_more.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_smile.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_thinking.xml
  androidHyperskillApp/src/main/res/drawable/ic_reaction_upvote.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_menu_comments.xml
  androidHyperskillApp/src/main/res/menu/step_menu.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Toolbar/StepToolbarContent.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/comments/injection/PlatformCommentsComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/comments/injection/PlatformCommentsComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/comments/presentation/CommentsViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step/presentation/StepViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/reactions/domain/model/ReactionType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/analytic/StepToolbarMenuActionClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepMenuSecondaryAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/view/mapper/StepViewStateMapper.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonMain/moko-resources/colors/colors.xml
  shared/src/commonTest/kotlin/org/hyperskill/step/StepViewStateMapperTest.kt
Labels: shared, ios, android

#1105 ALTAPPS-1300: Android upgrade target sdk to 34
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/DailyStudyReminderLocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/LocalNotificationDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/injection/PlatformLocalNotificationComponent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification/local/injection/PlatformLocalNotificationComponentImpl.kt
  gradle/app.versions.toml
  gradle/libs.versions.toml
Labels: android

#1106 ALTAPPS-1304: Revert R8 fullMode
  androidHyperskillApp/proguard-rules.pro
  gradle.properties
  gradle/app.versions.toml
Labels: bug, android, release, awaiting review

#1110 ALTAPPS-1290: Shared, iOS improve track switching flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanClickedChangeTrackHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/cache/TrackSelectionDetailsCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/cache/TrackSelectionDetailsCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/data/repository/TrackSelectionDetailsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/data/source/TrackSelectionDetailsCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/domain/repository/TrackSelectionDetailsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/injection/TrackSelectionDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/details/presentation/TrackSelectionDetailsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/injection/TrackSelectionListFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/presentation/TrackSelectionListReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track_selection/list/view/TrackSelectionListViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/TrackWithProgressStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/track_selection/list/TrackSelectionListTest.kt
Labels: shared, ios, android

#1113 ALTAPPS-1309: iOS mobile content trial
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Model/StudyPlanWidgetViewStateSectionItemStateWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemIconView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanPaywallBanner.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicCompletedModal/TopicCompletedModalOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicCompletedModal/TopicCompletedModalViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TopicCompletedModal/Views/TopicCompletedModalView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
Labels: shared, ios, android

#1109 ALTAPPS-1299: Shared, iOS code blanks problem type first iteration
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepQuizCodeBlanksViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksBlankView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksOptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksPrintInstructionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Layouts/FlowLayout.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizChildFeatureReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedCodeBlockHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedDeleteHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedSuggestionHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/Suggestion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/injection/StepQuizCodeBlanksComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/injection/StepQuizCodeBlanksComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/presentation/StepQuizChildFeatureReducerStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
Labels: shared, ios, android

#1114 ALTAPPS-1303: Fix limits are visible in GamificationToolbar after step solving
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/MainGamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/MainStepQuizToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StateExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
Labels: bug, shared, ready to pull

#1115 ALTAPPS-1291: Android improve track switching flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_change_track.xml
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
Labels: android

#1116 ALTAPPS-769: iOS badges wrapping view
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProjectSelection/List/Views/Grid/Cell/ProjectSelectionListGridCellBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/List/Item/StudyPlanSectionItemBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/TrackSelection/List/Views/Grid/Cell/TrackSelectionListGridCellBadgesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Layouts/FlowLayout.swift
Labels: ios

#1118 ALTAPPS-1302: iOS root topics section pagination
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanAnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanClickedRetryActivitiesLoadingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanClickedSectionHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanLoadMoreActivitiesClickedHSAnalyticEvent.kt
Labels: shared, ios

#1120 Shared: Fix project selection for TEAM_MEMBER users
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
Labels: shared

#1123 Hotfix 1.65.1
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/gamification_toolbar/view/ui/delegate/GamificationToolbarDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  androidHyperskillApp/src/main/res/layout/layout_gamification_toolbar.xml
  gradle/app.versions.toml
Labels: bug, android, release

#1121 ALTAPPS-1294: iOS fix failed to show full content length in table problem bottom sheet
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/UIKit/UIStackView+RemoveAllArrangedSubviews.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/StepQuizTableViewData.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsHeaderView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsColumnView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/Views/StepQuizTableSelectColumnsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitScrollableStackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/UIKit/UIKitTapProxyView.swift
  iosHyperskillApp/iosHyperskillAppTests/ExtensionsTests/UIStackViewExtensionTests.swift
Labels: bug, ios

#1124 ALTAPPS-1288: iOS improve table problem with one option flow
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTableSelectColumns/StepQuizTableSelectColumnsViewController.swift
Labels: ios

#1125 ALTAPPS-1308: Shared speed up code submissions evaluation for beginners by removing linters
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/StepQuizCodeViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/submissions/domain/model/Reply.kt
  shared/src/commonTest/kotlin/org/hyperskill/ReplySerializationTest.kt
Labels: shared, ios

#1119 iOS/Android: Revert autocomplete duplication symbols logic
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/code/view/widget/CodeAnalyzer.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/Analyze/CodePlaygroundManager.swift
Labels: ios, android

#1129 ALTAPPS-1289: Android improve table problem with one option flow
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableColumnSelectionBottomSheetDialogFragment.kt
Labels: android

#1128 ALTAPPS-1315: Shared, iOS code blanks add enter logic
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/ReplyExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedEnterHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
Labels: shared, ios

#1126 ALTAPPS-1313: Shared, Android skip suggestion
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NestedScollViewExtention.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepMenuPrimaryAction.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepToolbarCallback.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/model/StepPracticeHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/model/StepQuizFeedbackState.kt
  androidHyperskillApp/src/main/res/drawable/bg_step_quiz_feedback_wrong.xml
  androidHyperskillApp/src/main/res/drawable/ic_step_quiz_feedback_wrong.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_feedback_block.xml
  androidHyperskillApp/src/main/res/menu/step_menu.xml
  androidHyperskillApp/src/main/res/values/styles.xml
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Toolbar/StepToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/step/presentation/StepViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/analytic/StepToolbarMenuActionClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepMenuSecondaryAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/view/mapper/StepViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFeedbackReadCommentsClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFeedbackSeeHintClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/domain/analytic/StepQuizFeedbackSkipClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/model/StepQuizFeedbackState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step/StepViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizFeedbackMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, ready to pull

#1134 ALTAPPS-1289: Hide singleChoice table problem confirm button
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/fragment/TableColumnSelectionBottomSheetDialogFragment.kt
Labels: android, ready to pull

#1135 ALTAPPS-1313: Shared, Android make primary comments action available for theory step
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/model/StepMenuPrimaryAction.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/view/mapper/StepViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/StepViewStateMapperTest.kt
Labels: bug, shared, android

#1137 Rename skip to postpone to sustain consistency with web
  shared/src/commonMain/moko-resources/base/strings.xml
Labels: shared
