Repository hyperskill/mobile-app, pull requests merged in 2024-06, with the labels that each got.

#1071 Shared add purchase error logging & analytic
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AmplitudeManager.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/analytic/domain/amplitude/AndroidAmplitudeAnalyticEngine.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/Analytic.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/AnalyticEventUserProperties.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/AnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AmplitudeAnalyticEventMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/processor/AnalyticHyperskillEventProcessor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/injection/PurchaseComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/breadcrumb/HyperskillSentryBreadcrumbAnalyticEventMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/AnalyticHyperskillRequestTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/analytic/domain/processor/AmplitudeAnalyticEventMapperTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/IosAppComponentImpl.kt
Labels: shared, ios

#1070 ALTAPPS-1274: Shared fetch next recommended step instead of next learning activity after skip
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/repository/StepRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/source/StepRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/interactor/StepInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/repository/StepRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
Labels: bug, shared

#1073 ALTAPPS-1268: iOS step quiz controls
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepFeedback/StepFeedbackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepFeedback/StepFeedbackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizToolbarContent.swift
Labels: ios

#1076 Shared fix logging analytic events
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
Labels: bug, shared, ios, awaiting review

#1074 Hotfix 1.60.1
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepToolbarContent.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepFeedback/StepFeedbackAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepFeedback/StepFeedbackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizToolbarContent.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
Labels: shared, ios, release

#1077 ALTAPPS-1269: iOS, shared improve solving step behavior
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_completion/StepCompletionTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, ready to pull

#1079 ALTAPPS-1270: Android improve step solving behaviour
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/HapticFeedbackExtentions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/NestedScollViewExtention.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/delegate/StageStepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepMenuDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/model/StepPracticeHost.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_practice/view/fragment/StepPracticeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/model/StepQuizButtonsState.kt
  gradle/libs.versions.toml
Labels: android

#1085 ALTAPPS-1279: Android update notification onboarding screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/ShimmerModifier.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/TypewriterTextEffect.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/fragment/NotificationsOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboarding.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingSetLaterButton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingSetTimeButton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/notification_onboarding/ui/NotificationsOnboardingTurnOnButton.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepRouterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_completion/ui/TopicCompletedDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topic_completion/ui/TopicCompletedDescription.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/entry_point/ui/WelcomeOnboardingEntryPoint.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/finish/ui/WelcomeOnboardingFinish.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/language/ui/WelcomeOnboardingChooseProgrammingLanguage.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/questionnaire/ui/WelcomeQuestionnaire.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/root/fragment/WelcomeOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/root/fragment/WelcomeOnboardingTransactionInterceptor.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/root/ui/WelcomeOnboardingDefault.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/track/ui/WelcomeOnboardingTrackCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/track/ui/WelcomeOnboardingTrackDetails.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/welcome_onbaording/track/ui/WelcomeOnboardingTrackDetailsPreviewData.kt
  androidHyperskillApp/src/main/res/anim/navigation_fade_out.xml
  androidHyperskillApp/src/main/res/anim/navigation_slide_in.xml
  androidHyperskillApp/src/main/res/drawable-hdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_notifications_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_notifications_onboarding.webp
  config/detekt/detekt.yml
  shared/src/androidMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonMain/resources/MR/colors/colors.xml
Labels: shared, android

#1088 ALTAPPS-1281: iOS update first session onboarding notification screen
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/NotificationsOnboarding/notifications-onboarding-illustration.imageset/notifications-onboarding-illustration@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/TextEffects/HackerTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/TextEffects/TypewrittenTextView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/view/mapper/NotificationsOnboardingViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#1089 ALTAPPS-1241: iOS fix navigation bar is transparent when keyboard is active
  iosHyperskillApp/Podfile
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/AppAppearance.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/KeyboardManager.swift
Labels: ios

#1093 ALTAPPS-1287: Android fix challenge card padding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillCard.kt
Labels: bug, android, awaiting review
