Repository hyperskill/mobile-app, pull requests merged in 2024-08, with the labels that each got.

#1139 ALTAPPS-1189: iOS fix "undefined" values in fill blanks problem because the highlight language is not supported
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeLanguage.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/CodeEditor/Model/CodeLanguageSamples/CodeLanguageSamples.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizFillBlanks/ViewData/StepQuizFillBlanksViewDataMapper.swift
Labels: bug, ios

#1138 ALTAPPS-1317: Shared sync access to the features map & content trial refactoring
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/topics_repetitions/view/delegate/TopicsRepetitionCardFormDelegate.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/interactor/AnalyticInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/injection/AnalyticComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/data/repository/BaseStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/repository/StateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/features/data/source/FeaturesDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/injection/GamificationToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/GamificationToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/presentation/MainGamificationToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/gamification_toolbar/view/mapper/GamificationToolbarViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/cache/CurrentProfileStateHolderImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/injection/ProfileDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/MainStepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/injection/StepQuizToolbarComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/MainStepQuizToolbarActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/presentation/StepQuizToolbarReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_toolbar/view/StepQuizToolbarViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/MainStudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/data/repository/CurrentSubscriptionStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/interactor/SubscriptionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionWithLimitType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/repository/CurrentSubscriptionStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/injection/SubscriptionsDataComponentImpl.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android, ready to pull

#1143 ALTAPPS-1321: iOS fix attempt is outdated when creating submission
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/PanModal/PanModalPresenter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/StageImplementViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
Labels: bug, ios

#1144 ALTAPPS-1317: Shared fix subscription management is not available for MobileContentTrial subscription
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/SubscriptionType.kt
Labels: bug, shared

#1148 GitHub Actions: Bump actions
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/android_beta_deployment.yml
  .github/workflows/android_deploy_to_firebase.yml
  .github/workflows/android_deploy_to_firebase_manually.yml
  .github/workflows/android_release_deployment.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/build_caches.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup_pr_caches.yml
  .github/workflows/codeql.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gh_pages_analytics.yml
  .github/workflows/ios_beta_deployment.yml
  .github/workflows/ios_release_deployment.yml
  .github/workflows/ios_unit_testing.yml
  .github/workflows/merge_main_into_develop.yml
Labels: ci/cd

#1149 [Android] Fix StageImplementationFragment crash
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/fragment/StageImplementationFragment.kt
Labels: bug, android, ready to pull

#1145 ALTAPPS-1323: Shared research analytic logging issue
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/cache/AnalyticHyperskillCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/data/repository/AnalyticHyperskillRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/data/source/AnalyticHyperskillCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEngineImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/injection/HyperskillAnalyticEngineComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/presentation/AnalyticActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/presentation/WrapWithAnalyticLogger.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/presentation/CompletableCoroutineActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/presentation/CompletableCoroutineActionDispatcherConfig.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/ViewStepActionDispatcher.kt
  shared/src/commonTest/kotlin/org/hyperskill/analytic/data/repository/AnalyticHyperskillRepositoryTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/core/presentation/CompletableCoroutineActionDispatcherTest.kt
Labels: shared, android, ready to pull

#1151 ALTAPPS-1318: Shared code blanks variable block type improvements
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/delegate/MatchingStepQuizFormDelegate.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/screen/presentation/CommentsScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/utils/CollectionExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_fill_blanks/presentation/FillBlanksItemMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksStateExtensionsTest.kt
Labels: shared, android

#1152 ALTAPPS-1325: iOS remove "My" prefix from the app name in App Store
  androidHyperskillApp/fastlane/metadata/android/en-US/title.txt
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthCredentialsFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_welcome.xml
  iosHyperskillApp/fastlane/metadata/en-US/name.txt
  iosHyperskillApp/fastlane/metadata/en-US/promotional_text.txt
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/FeedbackEmailDataBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/request_review/modal/injection/RequestReviewModalComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/request_review/modal/injection/RequestReviewModalFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/request_review/modal/view/mapper/RequestReviewModalViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/questionnaire/view/WelcomeQuestionnaireViewStateMapper.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/application_shortcuts/domain/interactor/ApplicationShortcutsInteractor.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
Labels: shared, ios, android

#1154 ALTAPPS-1327: iOS hide JetBrains and GitHub social providers with additional tap
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SocialAuthService.swift
  shared/src/commonMain/moko-resources/base/strings.xml
Labels: shared, ios

#1155 ALTAPPS-1328: Shared Aug 2024 ads campaigns onboarding improvements
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/notifications_onboarding/NotificationsOnboardingFeatureTest.kt
Labels: shared

#1156 ALTAPPS-1331: iOS improve problems UI
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizNameView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingIcon.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableView.swift
Labels: ios

#1157 ALTAPPS-1332: iOS support 1 week free trial state on paywall screen
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/PurchaseManager.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/paywall/PaywallTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: shared, ios, android

#1158 ALTAPPS-1329: iOS add code blanks onboarding for 47329 step
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizChildFeatureReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
Labels: shared, ios, android

#1153 Release 1.68
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/AuthSocialViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Header/StepQuizNameView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingIcon.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizSorting/Views/StepQuizSortingItemView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableRowView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizTable/Views/StepQuizTableView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Services/Auth/Social/SocialAuthService.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/PurchaseManager.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/debug/cache/DebugCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification/local/cache/NotificationCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notifications_onboarding/presentation/NotificationsOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizChildFeatureReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/notifications_onboarding/NotificationsOnboardingFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/paywall/PaywallTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: shared, ios, android, release

#1160 ALTAPPS-1337: iOS improve 47329 step highlight animations
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksOptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/PulseEffect.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/ShineEffect.swift
Labels: ios

#1161 Hotfix 1.68.1
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksOptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/PulseEffect.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/ShineEffect.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, release

#1163 ALTAPPS-1324: Shared, iOS code blanks math expressions
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksCodeBlockChildView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksPrintInstructionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksVariableInstructionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedSpaceHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/Suggestion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
Labels: shared, ios

#1164 ALTAPPS-1338: Shared rollback auto choosing Python track
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingReducer.kt
Labels: shared

#1166 ALTAPPS-1341: iOS fix incorrect code blanks step 47913 rendering
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksSuggestionsView.swift
Labels: bug, ios

#1165 ALTAPPS-1336: Android improve problems UI
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/adapter/MatchingItemOptionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_matching/view/adapter/MatchingItemTitleAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_sorting/view/adapter/SortingOptionAdapterDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_table/view/adapter/TableSelectionItemAdapterDelegate.kt
  androidHyperskillApp/src/main/res/drawable/ic_sorting_down.xml
  androidHyperskillApp/src/main/res/drawable/ic_sorting_up.xml
  androidHyperskillApp/src/main/res/drawable/ic_table_arrow.xml
  androidHyperskillApp/src/main/res/layout/item_step_quiz_sorting.xml
  androidHyperskillApp/src/main/res/layout/item_table_selection.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_description.xml
  config/detekt/baseline.xml
Labels: android, ready to pull

#1168 ALTAPPS-1343: Shared decrease wrong submission count for skip suggestion
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizFeedbackMapperTest.kt
Labels: shared, ready to pull

#1170 ALTAPPS-1333: Shared load more bug with pagination for root topics section
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: bug, shared
