Repository hyperskill/mobile-app, pull requests merged in 2024-03, with the labels that each got.

#929 Hotfix 1.50.1
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Profile/Views/ProfileView.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, release

#930 Hotfix 1.50.2
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/fastlane/Appfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
Labels: ios, release

#934 ALTAPPS-1116: iOS Paywall
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/Core/Injection/AppGraph.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppRouter.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallHostingController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFeaturesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/PurchaseManager.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/injection/AppFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/injection/WelcomeOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/model/SwiftyResult.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/IosAppComponent.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/injection/IosAppComponentImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: shared, ios, android

#936 ALTAPPS-1138: iOS subscription info in profile
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/ProfileSettingsViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsSubscriptionSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsView.swift
Labels: ios

#937 ALTAPPS-1141: iOS manage subscription screen
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/ManageSubscriptionFeatureViewStateKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ManageSubscription/ManageSubscriptionAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ManageSubscription/ManageSubscriptionViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ManageSubscription/Views/ManageSubscriptionContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ManageSubscription/Views/ManageSubscriptionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/ProfileSettings/Views/ProfileSettingsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/SubscriptionDetails/SubscriptionDetailsView.swift
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, ios

#933 ALTAPPS-1148: Shared navigate user back to step after the subscription purchase
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android

#939 ALTAPPS-1164: Shared add subscription subscribe AppsFlyer analytic event
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallSubscriptionPurchasedAppsFlyerAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/paywall/PaywallTest.kt
Labels: shared

#940 ALTAPPS-946: Shared send step solve time
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/StepExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/repository/StepRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/data/source/StepRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/interactor/StepInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Step.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/repository/StepRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/injection/StepFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/StepRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/remote/model/LogStepSolvingTimeRequest.kt
  shared/src/commonTest/kotlin/org/hyperskill/ReplySerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step/domain/model/StepStub.kt
Labels: shared, ios, android

#945 ALTAPPS-1187: iOS support StepFeature.ScreenHidden for time spent events
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
Labels: ios

#946 ALTAPPS-1182: Shared support is_in_current_track in topics repetitions
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/data/repository/TopicsRepetitionsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/data/source/TopicsRepetitionsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/interactor/TopicsRepetitionsInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/domain/repository/TopicsRepetitionsRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/remote/TopicsRepetitionsRemoteDataSourceImpl.kt
Labels: shared

#947 ALTAPPS-917: Android Filter out redundant google auth exceptions
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
Labels: android, ready to pull

#951 ALTAPPS-1151: Fix android internalRelease build
  androidHyperskillApp/src/internalRelease/java/org/hyperskill/app/android/debug/DebugScreen.kt
Labels: android, ready to pull

#943 ALTAPPS-1170: Integrate Detekt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/ui/ChallengeProgress.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/fragment/DebugFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/DebugScreenUI.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/FindStage.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/FindStep.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/debug/ui/ServerSwitcher.kt
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/VersionCatalog.kt
  buildSrc/src/main/kotlin/plugins/hyperskill.detekt.gradle.kts
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: shared, android

#952 ALTAPPS-1192: CI/CD bump Java from 17 to 19
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
Labels: ci/cd

#953 ALTAPPS-1186: Shared filter next project section for freemium users in study plan
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/injection/StudyPlanWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared

#958 Fix app names in metadata for stores
  androidHyperskillApp/fastlane/metadata/android/en-US/full_description.txt
  androidHyperskillApp/fastlane/metadata/android/en-US/short_description.txt
  iosHyperskillApp/fastlane/metadata/en-US/description.txt
  iosHyperskillApp/fastlane/metadata/en-US/promotional_text.txt
Labels: documentation, ios, android

#959 Bundler: Update dependencies
  androidHyperskillApp/Gemfile.lock
  iosHyperskillApp/Gemfile.lock
Labels: ios, android, ci/cd, dependencies

#955 ALTAPPS-1151: Fix redundant paywall show
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/AppViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
Labels: shared, ios, android

#962 Update detekt config and baseline
  androidHyperskillApp/src/release/java/org/hyperskill/app/android/debug/DebugScreen.kt
  config/detekt/baseline.xml
  config/detekt/detekt.yml
Labels: shared, android, ready to pull

#960 ALTAPPS-1193: Shared add quiz type tag to step quiz transactions
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionTag.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
Labels: shared

#963 ALTAPPS-1196: Add difference in analytical event for start practicing button
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/StepViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionClickedStartPracticingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionHyperskillAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_completion/StepCompletionTest.kt
Labels: shared, ios, android

#964 ALTAPPS-1199: iOS describe use of required reason API in privacy manifests
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/PrivacyInfo.xcprivacy
Labels: ios

#965 ALTAPPS-1194: Shared, Android share feedback in theory steps
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/EditTextExtensions.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/extensions/SingleTapGestureDetector.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_fill_blanks/dialog/FillBlanksInputDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory/view/fragment/StepTheoryFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_theory_feedback/dialog/StepTheoryFeedbackDialogFragment.kt
  androidHyperskillApp/src/main/res/drawable/ic_step_theory_feedback.xml
  androidHyperskillApp/src/main/res/layout/view_step_theory_feedback.xml
  androidHyperskillApp/src/main/res/menu/step_theory_appbar_menu.xml
  config/detekt/detekt.yml
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_theory_feedback/injection/PlatformStepTheoryFeedbackComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_theory_feedback/injection/PlatformStepTheoryFeedbackComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/step_theory_feedback/presentation/StepTheoryFeedbackViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackAnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalSendButtonClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/injection/StepTheoryFeedbackComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/injection/StepTheoryFeedbackComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/injection/StepTheoryFeedbackFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/presentation/StepTheoryFeedbackActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/presentation/StepTheoryFeedbackFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/presentation/StepTheoryFeedbackReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/view/StepTheoryFeedbackViewStateMapper.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#966 ALTAPPS-1195: iOS share feedback in theory steps
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TheoryFeedback/StepTheoryFeedbackModalAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TheoryFeedback/StepTheoryFeedbackViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompleted/TopicCompletedModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Modals/TopicCompleted/TopicCompletedModalViewControllerDelegate.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepTheoryContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalSendButtonClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_theory_feedback/domain/analytic/StepTheoryFeedbackModalShownHyperskillAnalyticEvent.kt
Labels: shared, ios
