Repository hyperskill/mobile-app, pull requests merged in 2024-09, with the labels that each got.

#1172 ALTAPPS-1335: Shared, Android support skipped and completed studyplan activities
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/mapper/StudyPlanWidgetUIStateMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/drawable/ic_study_plan_expand_all.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_expand_completed_button.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanExpandCompletedActivitiesClickedHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/MainStudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/model/StudyPlanWidgetViewState.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanExpandCompletedActivitiesTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanLoadMoreActivitiesTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android

#1173 ALTAPPS-1334: iOS support skipped and completed activities in study plan
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/study-plan-section-expand-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/study-plan-section-expand-completed.imageset/study-plan-section-expand-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Model/StudyPlanWidgetViewStateSectionContentPageLoadingStateWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/SectionContentPageLoadingState/StudyPlanSectionCompletedPageLoadingStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/SectionContentPageLoadingState/StudyPlanSectionNextPageLoadingStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/model/StudyPlanWidgetViewState.kt
Labels: shared, ios

#1167 Release 1.70
  androidHyperskillApp/Gemfile
  androidHyperskillApp/Gemfile.lock
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/delegate/StudyPlanWidgetDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/mapper/StudyPlanWidgetUIStateMapper.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/model/StudyPlanRecyclerItem.kt
  androidHyperskillApp/src/main/res/drawable/ic_study_plan_expand_all.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_activity.xml
  androidHyperskillApp/src/main/res/layout/item_study_plan_expand_completed_button.xml
  androidHyperskillApp/src/main/res/values/dimens.xml
  config/detekt/baseline.xml
  gradle/app.versions.toml
  gradle/libs.versions.toml
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/study-plan-section-expand-completed.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/StudyPlan/study-plan-section-expand-completed.imageset/study-plan-section-expand-completed.pdf
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Comments/Views/Content/CommentsReactionsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Model/StudyPlanWidgetViewStateSectionContentPageLoadingStateWrapper.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/SectionContentPageLoadingState/StudyPlanSectionCompletedPageLoadingStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/SectionContentPageLoadingState/StudyPlanSectionNextPageLoadingStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/Section/StudyPlanSectionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/domain/analytic/StudyPlanExpandCompletedActivitiesClickedHSAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/MainStudyPlanWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/model/StudyPlanWidgetViewState.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizFeedbackMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanExpandCompletedActivitiesTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanLoadMoreActivitiesTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/widget/StudyPlanWidgetTest.kt
Labels: shared, ios, android, release

#1177 ALTAPPS-1344: Shared, Android subscription annual plan
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallPreviewDefaults.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionDetails.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/SubscriptionProduct.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/layout/view_profile_settings_content.xml
  config/detekt/baseline.xml
  iosHyperskillApp/Podfile.lock
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/PurchaseManager.swift
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallViewModel.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/model/HyperskillStoreProduct.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/model/PlatformProductIdentifiers.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallAnalyticParams.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallClickedProductHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/view/ProfileSettingsViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/HyperskillStoreProduct.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PlatformProductIdentifiers.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/SubscriptionPeriod.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/SubscriptionProduct.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/paywall/PaywallTest.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/model/HyperskillStoreProduct.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/model/PlatformProductIdentifiers.kt
Labels: shared, ios, android, awaiting review

#1175 ALTAPPS-1340: Shared, iOS code blanks if statement
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksOutputProtocol.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/StepQuizCodeBlanksViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButtonsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Children/StepQuizCodeBlanksCodeBlockChildBlankView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Children/StepQuizCodeBlanksCodeBlockChildTextView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Children/StepQuizCodeBlanksCodeBlockChildView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Conditions/StepQuizCodeBlanksIfStatementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Print/StepQuizCodeBlanksPrintInstructionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/StepQuizCodeBlanksCodeBlocksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Variable/StepQuizCodeBlanksVariableInstructionView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/StepQuizCodeBlanksView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/Suggestions/StepQuizCodeBlanksSuggestionsView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/analytic/StepQuizCodeBlanksClickedDecreaseIndentLevelHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/Suggestion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksReducerTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/StepQuizCodeBlanksViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksCreateReplyTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeatureStateStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockChildClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDecreaseIndentLevelButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDeleteButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerEnterButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerInitializeTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerOnboardingTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSpaceButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSuggestionClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperIsDecreaseIndentLevelButtonHiddenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperIsDeleteButtonEnabledTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperIsSpaceButtonHiddenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperSequencesTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperSuggestionsTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateTest.kt
Labels: shared, ios, ready to pull

#1176 ALTAPPS-1346: Shared, iOS code blanks elif else statements
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Conditions/StepQuizCodeBlanksElifStatementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/Conditions/StepQuizCodeBlanksElseStatementView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/StepQuizCodeBlanksCodeBlocksView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/Suggestion.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockChildClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDecreaseIndentLevelButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDeleteButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerElifAndElseStatementsSuggestionsAvailabilityTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerEnterButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSpaceButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSuggestionClickedTest.kt
Labels: shared, ios

#1178 ALTAPPS-1353: Shared code blanks template JSON format
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/CodeBlock.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/template/CodeBlanksTemplateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/template/CodeBlockTemplateEntry.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/template/CodeBlockTemplateEntryType.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDeleteButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerElifAndElseStatementsSuggestionsAvailabilityTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/template/CodeBlanksTemplateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateMapperIsDeleteButtonEnabledTest.kt
Labels: shared, ios, ready to pull

#1179 ALTAPPS-1345: iOS mobile only subscription annual plan
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/PaywallViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFeaturesView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallFooterView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/Content/PaywallSubscriptionProductsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Paywall/Views/PaywallView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Systems/PurchaseManager.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/purchases/domain/AndroidPurchaseManager.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/interactor/PurchaseInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/purchases/domain/model/PurchaseManager.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManager.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/purchases/domain/manager/IosPurchaseManagerImpl.kt
Labels: shared, ios, ready to pull

#1180 ALTAPPS-1352: Shared, Android code execution
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz_code/view/model/config/CommonCodeQuizConfig.kt
  androidHyperskillApp/src/main/res/layout/fragment_step_quiz_unsupported.xml
  androidHyperskillApp/src/main/res/layout/layout_step_quiz_feedback_block.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizFeedbackWrongStateView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCode/ViewData/StepQuizCodeViewDataMapper.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/code/data/repository/CodeRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/data/source/CodeRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/domain/model/CodeExecutionResult.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/domain/repository/CodeRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/injection/CodeDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/injection/CodeDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/remote/CodeRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/remote/model/RunCodeRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/remote/model/RunCodeResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/model/StepQuizFeedbackState.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizFeedbackMapperTest.kt
Labels: shared, ios, android

#1181 ALTAPPS-1356: Shared Python adopted course selection
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/root/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/track_details/injection/WelcomeOnboardingTrackDetailsComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/track_details/injection/WelcomeOnboardingTrackDetailsFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/track_details/presentation/WelcomeOnboardingTrackDetailsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/track_details/presentation/WelcomeOnboardingTrackDetailsReducer.kt
Labels: shared

#1183 ALTAPPS-1357: Shared, iOS code blanks mechanics onboarding
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButtonsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/StepQuizCodeBlanksCodeBlocksView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/injection/StepQuizCodeBlanksComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/presentation/StepQuizChildFeatureReducerStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockChildClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerCodeBlockClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDecreaseIndentLevelButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerDeleteButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerEnterButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerInitializeTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerOnboardingTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSpaceButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSuggestionClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateTest.kt
Labels: shared, ios

#1185 ALTAPPS-1357: Shared, iOS code blanks mechanics onboarding final
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/ActionButtons/StepQuizCodeBlanksActionButtonsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizCodeBlanks/Views/CodeBlocks/StepQuizCodeBlanksCodeBlocksView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/mapper/StepQuizCodeBlanksViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/view/model/StepQuizCodeBlanksViewState.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerOnboardingTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSpaceButtonClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerSuggestionClickedTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/view/StepQuizCodeBlanksViewStateTest.kt
Labels: shared, ios

#1186 ALTAPPS-1346: Shared, iOS code blanks support code_blanks_available_conditions
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/Shared/Model/BlockOptionsExtensions.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/Block.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/template/CodeBlanksTemplateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksResolver.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksStateExtensions.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerElifAndElseStatementsSuggestionsAvailabilityTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz_code_blanks/presentation/StepQuizCodeBlanksReducerInitializeTest.kt
Labels: shared, ios

#1184 ALTAPPS-1358: iOS code execution
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/delegate/StepQuizFeedbackBlocksDelegate.kt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Frameworks/sharedSwift/Extensions/StepQuizFeedbackStateHintKsExtensions.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizFeedbackHintView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizFeedbackView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizRunCodeFeedbackHintView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/Feedback/StepQuizSubmissionFeedbackHintView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/ProgressView/BackgroundProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/ProgressView/LinearGradientProgressView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/ProgressView/LinearIndeterminateProgressView.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/code/data/repository/CodeRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/data/source/CodeRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/domain/repository/CodeRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/injection/CodeDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/code/injection/CodeDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/data/repository/RunCodeRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/data/source/RunCodeRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/domain/model/RunCodeExecutionResult.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/domain/repository/RunCodeRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/injection/RunCodeDataComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/injection/RunCodeDataComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/remote/RunCodeRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/remote/model/RunCodeRequest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/run_code/remote/model/RunCodeResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/injection/StepQuizFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/mapper/StepQuizFeedbackMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/view/model/StepQuizFeedbackState.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizFeedbackMapperTest.kt
Labels: shared, ios, android

#1187 ALTAPPS-1355: Shared fake topics in mobile apps adopted course study plan
  config/detekt/baseline.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetFakeTopicsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/presentation/StudyPlanWidgetStateExtensions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/widget/view/mapper/StudyPlanWidgetViewStateMapper.kt
Labels: shared

#1188 ALTAPPS-1346: Shared fix code blanks elif else blocks suggestions
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/domain/model/template/CodeBlanksTemplateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_code_blanks/presentation/StepQuizCodeBlanksResolver.kt
Labels: bug, shared

#1190 ALTAPPS-1348: Shared, iOS add notification request widget
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/study_plan/fragment/StudyPlanFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationDailyStudyReminderWidget/NotificationDailyStudyReminderWidgetView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/Toolbar/ToolbarProgress/SpacebotWowAnimationView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuizSubmodules/StepQuizMatching/StepQuizMatchingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/StudyPlanViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StudyPlan/Views/StudyPlanView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/WelcomeOnboarding/Root/WelcomeOnboardingViewModel.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/cache/NotificationDailyStudyReminderWidgetCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/cache/NotificationDailyStudyReminderWidgetCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/data/repository/NotificationDailyStudyReminderWidgetRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/data/source/NotificationDailyStudyReminderWidgetCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/domain/analytic/NotificationDailyStudyReminderWidgetClickedCloseHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/domain/analytic/NotificationDailyStudyReminderWidgetClickedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/domain/analytic/NotificationDailyStudyReminderWidgetViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/domain/repository/NotificationDailyStudyReminderWidgetRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/injection/NotificationDailyStudyReminderWidgetComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/injection/NotificationDailyStudyReminderWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/presentation/MainNotificationDailyStudyReminderWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/presentation/NotificationDailyStudyReminderWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/presentation/NotificationDailyStudyReminderWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/presentation/NotificationDailyStudyReminderWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/notification_daily_study_reminder_widget/view/mapper/NotificationDailyStudyReminderWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/injection/StudyPlanScreenFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/presentation/StudyPlanScreenReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/study_plan/screen/view/StudyPlanScreenViewStateMapper.kt
  shared/src/commonMain/moko-resources/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/notification_daily_study_reminder_widget/NotificationDailyStudyReminderWidgetTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/notification_daily_study_reminder_widget/NotificationDailyStudyReminderWidgetViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenFeatureStubState.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/study_plan/screen/StudyPlanScreenViewStateMapperTest.kt
Labels: shared, ios, android

#1197 ALTAPPS-1350: iOS clarify reset necessity for users
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step_quiz/view/fragment/DefaultStepQuizFragment.kt
  config/detekt/baseline.xml
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Sources/Extensions/SwiftUI/View/View+OnTapWhenDisabled.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/StepQuizViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizActionButtons.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizActionButtons/StepQuizRetryButton.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StepQuiz/Views/StepQuizView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/BounceEffect.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Effects/JiggleEffect.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android
