Repository hyperskill/mobile-app, pull requests merged in 2024-01, with the labels that each got.

#828 iOS: Update metadata to 2024 year
  iosHyperskillApp/fastlane/metadata/copyright.txt
  iosHyperskillApp/iosHyperskillApp/LaunchScreen.storyboard
Labels: ios

#818 ALTAPPS-1092: Shared interview preparation widget
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Step/Views/StepView.swift
  shared/src/androidUnitTest/kotlin/org/hyperskill/step_quiz/AndroidStepQuizTest.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticPart.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/injection/HomeFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/presentation/HomeReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/home/view/mapper/HomeViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/domain/analytic/InterviewPreparationWidgetClickedHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/domain/analytic/InterviewPreparationWidgetClickedRetryContentLoadingHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/domain/analytic/InterviewPreparationWidgetViewedHyperskillAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/injection/InterviewPreparationWidgetComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/injection/InterviewPreparationWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/view/mapper/InterviewPreparationWidgetViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/view/model/InterviewPreparationWidgetViewState.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/data/repository/InterviewStepsStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/domain/repository/InterviewStepsStateRepository.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/SentryExtentions.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/domain/model/StepRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step/presentation/StepReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionInterviewPreparationCompletedModalClickedGoTrainingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionInterviewPreparationCompletedModalHiddenHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/domain/analytic/StepCompletionInterviewPreparationCompletedModalShownHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/injection/StepCompletionComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_completion/presentation/StepCompletionReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/presentation/StepQuizResolver.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizResolverTest.kt
Labels: shared, ios, android

#820 ALTAPPS-1094: Android interview preparation widget
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/challenge/delegate/ChallengeCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation/delegate/InterviewPreparationCardDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation/dialog/InterviewPreparationFinishedDialogFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation/ui/InterviewPreparationCard.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation/ui/InterviewPreparationContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/stage_implementation/view/fragment/StageStepWrapperFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/delegate/StepDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/step/view/fragment/StepFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_interview_preparation_finished.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_interview_preparation_finished.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_interview_preparation_finished.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_interview_preparation_finished.webp
  androidHyperskillApp/src/main/res/layout/fragment_home.xml
  androidHyperskillApp/src/main/res/layout/fragment_interview_preparation_finished.xml
  androidHyperskillApp/src/main/res/mipmap-hdpi/img_interview_preparation_finished.webp
  androidHyperskillApp/src/main/res/values/dimens.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/step/presentation/StepViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#821 ALTAPPS-1092: Shared interview preparation onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/injection/InterviewPreparationWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/domain/analytic/InterviewPreparationOnboardingGoToProblemClickedAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/domain/analytic/InterviewPreparationOnboardingViewedAnalyticsEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/injection/InterviewPreparationOnboardingComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/injection/InterviewPreparationOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/injection/InterviewPreparationOnboardingFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/presentation/InterviewPreparationOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/presentation/InterviewPreparationOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/presentation/InterviewPreparationOnboardingReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/cache/OnboardingCacheKeyValues.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/repository/OnboardingRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/data/source/OnboardingCacheDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/interactor/OnboardingInteractor.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/onboarding/domain/repository/OnboardingRepository.kt
Labels: shared, android

#822 ALTAPPS-1094: Android interview preparation onboarding
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/home/view/ui/fragment/HomeFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation_onboarding/fragement/InterviewPreparationOnboardingFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation_onboarding/screen/InterviewPreparationOnboardingScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation_onboarding/ui/InterviewPreparationOnboadrdingContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/interview_preparation_onboarding/ui/InterviewPreparationOnboardingScreen.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_interview_preparation_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_interview_preparation_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_interview_preparation_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_interview_preparation_onboarding.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_interview_preparation_onboarding.webp
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/injection/PlatformInterviewPreparationOnboardingComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/injection/PlatformInterviewPreparationOnboardingComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/interview_preparation_onboarding/presentation/InterviewPreparationOnboardingViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android

#830 ALTAPPS-1093: iOS interview preparation onboarding
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/InterviewPreparationOnboarding/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/InterviewPreparationOnboarding/interview-preparation-onboarding-illustration.imageset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/InterviewPreparationOnboarding/interview-preparation-onboarding-illustration.imageset/interview-preparation-onboarding-illustration.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/InterviewPreparationOnboarding/interview-preparation-onboarding-illustration.imageset/interview-preparation-onboarding-illustration@2x.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/InterviewPreparationOnboarding/interview-preparation-onboarding-illustration.imageset/interview-preparation-onboarding-illustration@3x.png
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Home/Views/HomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/InterviewPreparationOnboarding/InterviewPreparationOnboardingAssembly.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/InterviewPreparationOnboarding/InterviewPreparationOnboardingViewModel.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/InterviewPreparationOnboarding/Views/InterviewPreparationOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/InterviewPreparationOnboarding/Views/InterviewPreparationOnboardingView.swift
Labels: ios

#832 ALTAPPS-1092: Shared interview preparation /api/track-interview-steps
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/StateRepositoriesComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/data/repository/InterviewStepsStateRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/data/source/TrackInterviewStepsRemoteDataSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/domain/model/TrackInterviewStep.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/remote/TrackInterviewStepsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_steps/remote/model/TrackInterviewStepsResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/network/remote/HttpRequestBuilderExt.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz/remote/SubmissionRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streaks/remote/StreaksRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/topics_repetitions/remote/TopicsRepetitionsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/track/remote/TrackRemoteDataSourceImpl.kt
Labels: shared

#836 ALTAPPS-1092: Shared isMobileInterviewPreparationEnabled feature flag
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/injection/InterviewPreparationWidgetComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/interview_preparation/presentation/InterviewPreparationWidgetReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeatureKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/FeaturesMap.kt
Labels: shared

#837 ALTAPPS-1102: iOS update App Icon back to regular (after Christmas design)
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/1024.png
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iosHyperskillApp/iosHyperskillApp/Assets.xcassets/AppIcon.appiconset/app-icon-x-mas.png
Labels: ios

#838 iOS: New CTA button (Apple's style)
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsFormView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthCredentials/Views/AuthCredentialsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/AuthSocial/Views/AuthSocialControlsView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/FirstProblemOnboarding/Views/FirstProblemOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/NotificationsOnboarding/Views/NotificationsOnboardingContentView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Modals/ProjectCompleted/StageImplementProjectCompletedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/StageImplement/Modals/StageCompleted/StageImplementStageCompletedModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Welcome/WelcomeView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/Styles/Buttons/RoundedRectangleButtonStyle.swift
Labels: ios

#839 ALTAPPS-1076: Shared use type for filtering streak freeze product
  shared/src/commonMain/kotlin/org/hyperskill/app/products/data/repository/ProductsRepositoryImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/products/remote/ProductsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/products/remote/model/GetProductsRequest.kt
Labels: shared

#840 ALTAPPS-1103: Android update App Icon back to regular (after Christmas design)
  androidHyperskillApp/src/main/ic_app_icon-playstore.png
  androidHyperskillApp/src/main/res/drawable/ic_app_icon_foreground.xml
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-hdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-mdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xhdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxhdpi/ic_app_icon_round.webp
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon.webp
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.png
  androidHyperskillApp/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.webp
Labels: android, ready to pull

#843 ALTAPPS-1072: Shared protect app from errors due to cache models serialization
  .github/PULL_REQUEST_TEMPLATE.md
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/model/AuthResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/domain/model/Device.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/ProfileSettings.kt
  shared/src/commonTest/kotlin/org/hyperskill/auth/AuthResponseSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/device/DeviceSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile_settings/ProfileSettingsSerializationTest.kt
Labels: shared, ready to pull

#841 ALTAPPS-836: Shared fix gems are decreased but streak recovery cost is 0 for the first time
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryReducer.kt
  shared/src/commonTest/kotlin/org/hyperskill/streak_recovery/StreakRecoveryTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/streaks/domain/model/StreakStub.kt
Labels: bug, shared

#844 ALTAPPS-853: iOS add a state for the first streak recovery
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView+ConcreateTypes.swift
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/injection/StreakRecoveryComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryReducer.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/products/domain/model/ProductStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/streak_recovery/StreakRecoveryTest.kt
Labels: shared, ios, ready to pull

#846 fastlane: Update metadata
  androidHyperskillApp/fastlane/metadata/android/en-US/changelogs/default.txt
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/metadata/en-US/release_notes.txt
  iosHyperskillApp/fastlane/metadata/review_information/email_address.txt
  iosHyperskillApp/fastlane/metadata/review_information/first_name.txt
  iosHyperskillApp/fastlane/metadata/review_information/last_name.txt
Labels: ios, android

#845 ALTAPPS-1107: Android add a state for the first streak recovery
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak_recovery/view/delegate/StreakRecoveryViewActionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak_recovery/view/fragment/StreakRecoveryDialogFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_streak_recovery.xml
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryFeature.kt
Labels: shared, android, ready to pull

#847 ALTAPPS-1098: GitHub Actions AI Code Review
  .github/workflows/gpt_review.yml
Labels: ci/cd, gpt-review

#848 ALTAPPS-1112: Android change app name
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/res/layout/fragment_welcome.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
Labels: shared, ios, android, ready to pull

#849 ALTAPPS-1113: Android update splash screen year from 2023 to 2024
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable/ic_splash_subtitle.xml
Labels: android, ready to pull

#842 Release 1.49
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/gpt_review.yml
  androidHyperskillApp/fastlane/metadata/android/en-US/changelogs/default.txt
  androidHyperskillApp/src/main/AndroidManifest.xml
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/auth/view/ui/fragment/AuthSocialFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak_recovery/view/delegate/StreakRecoveryViewActionDelegate.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/streak_recovery/view/fragment/StreakRecoveryDialogFragment.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/ic_subtitle.webp
  androidHyperskillApp/src/main/res/drawable/ic_splash_subtitle.xml
  androidHyperskillApp/src/main/res/layout/fragment_streak_recovery.xml
  androidHyperskillApp/src/main/res/layout/fragment_welcome.xml
  androidHyperskillApp/src/main/res/values/strings.xml
  gradle/app.versions.toml
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/fastlane/metadata/en-US/release_notes.txt
  iosHyperskillApp/fastlane/metadata/review_information/email_address.txt
  iosHyperskillApp/fastlane/metadata/review_information/first_name.txt
  iosHyperskillApp/fastlane/metadata/review_information/last_name.txt
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillApp/Sources/Models/Constants/Strings.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalView.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/Streak/Views/Modals/StreakRecoveryModalViewController.swift
  iosHyperskillApp/iosHyperskillApp/Sources/Views/SwiftUI/BadgeView/BadgeView+ConcreateTypes.swift
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/auth/remote/model/AuthResponse.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/devices/domain/model/Device.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile/domain/model/Profile.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/domain/model/ProfileSettings.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/profile_settings/presentation/ProfileSettingsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/sentry/domain/model/transaction/HyperskillSentryTransactionBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/injection/StreakRecoveryComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/streak_recovery/presentation/StreakRecoveryReducer.kt
  shared/src/commonMain/resources/MR/base/plurals.xml
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/auth/AuthResponseSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/device/DeviceSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/products/domain/model/ProductStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile/ProfileSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/profile_settings/ProfileSettingsSerializationTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/streak_recovery/StreakRecoveryTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/streaks/domain/model/StreakStub.kt
  shared/src/iosMain/kotlin/org/hyperskill/app/core/domain/platform/Platform.kt
Labels: shared, ios, android, release, ci/cd

#863 GitHub Actions: Bump Xcode version from 15.1 to 15.2
  .github/actions/setup-ios/action.yml
Labels: ci/cd, gpt-review

#864 Bump Ruby version from 3.1.0 to 3.3.0
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/ci.yml
  androidHyperskillApp/.ruby-version
  androidHyperskillApp/Gemfile
  androidHyperskillApp/Gemfile.lock
  iosHyperskillApp/.ruby-version
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/Podfile.lock
Labels: ios, android, ci/cd

#865 GitHub Actions: Bump actions/setup-java from 3.10.0 to 4.0.0
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
Labels: ci/cd

#859 ALTAPPS-1115: Shared paywall feature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  iosHyperskillApp/iosHyperskillApp/Sources/Modules/App/ViewControllers/AppViewController.swift
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraph.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/core/injection/CommonAndroidAppGraphImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/injection/PlatformPaywallComponent.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/injection/PlatformPaywallComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallViewModel.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticRoute.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/analytic/domain/model/hyperskill/HyperskillAnalyticTarget.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/AppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/core/injection/BaseAppGraph.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/main/presentation/AppReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallAnalyticKeys.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallClickedBuySubscriptionHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallClickedContinueWithLimitsHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallClickedRetryContentLoadingHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/analytic/PaywallViewedHyperskillAnalyticEvent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/domain/model/PaywallTransitionSource.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponent.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/injection/PaywallFeatureBuilder.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/paywall/view/PaywallViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/subscriptions/domain/model/Subscription.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/injection/WelcomeOnboardingComponentImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/welcome_onboarding/presentation/WelcomeOnboardingReducer.kt
  shared/src/commonMain/resources/MR/base/strings.xml
  shared/src/commonTest/kotlin/org/hyperskill/main/AppFeatureTest.kt
Labels: shared, ios, android

#860 ALTAPPS-1115: Android paywall feature
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/HyperskillProgressIndicator.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/core/view/ui/widget/compose/OnComposableShownFirstTime.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/main/view/ui/activity/MainActivity.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/fragment/PaywallFragment.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/navigation/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallContent.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallScreen.kt
  androidHyperskillApp/src/main/java/org/hyperskill/app/android/paywall/ui/PaywallSubscriptionDetails.kt
  androidHyperskillApp/src/main/res/drawable-hdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-mdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xxhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable-xxxhdpi/img_paywall.webp
  androidHyperskillApp/src/main/res/drawable/ic_paywall_option.xml
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/injection/PlatformPaywallComponentImpl.kt
  shared/src/androidMain/kotlin/org/hyperskill/app/paywall/presentation/PaywallViewModel.kt
  shared/src/commonMain/resources/MR/base/strings.xml
Labels: shared, android
