Repository hyperskill/mobile-app, pull requests merged in 2025-02, with the labels that each got.

#1238 Bump apps flyer lib to fix crash
  androidHyperskillApp/src/main/AndroidManifest.xml
  gradle/libs.versions.toml
Labels: android

#1240 ALTAPPS-1367: Shared fix JSON deserialization error when fetching comments
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/screen/view/mapper/CommentsScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/MainStepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/view/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/commets/domain/model/CommentStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/commets/screen/CommentsScreenViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: bug, shared

#1239 Release 1.80
  .github/actions/setup-android/action.yml
  .github/actions/setup-ios/action.yml
  .github/workflows/android_release_deployment.yml
  .github/workflows/auto_author_assign.yml
  .github/workflows/automerge_into_release.yml
  .github/workflows/build_caches.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup_pr_caches.yml
  .github/workflows/codeql.yml
  .github/workflows/detect_changed_files_reusable_workflow.yml
  .github/workflows/gh_pages_analytics.yml
  .github/workflows/gpt_review.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/merge_main_into_develop.yml
  .github/workflows/stale.yml
  androidHyperskillApp/Gemfile
  androidHyperskillApp/Gemfile.lock
  androidHyperskillApp/fastlane/Fastfile
  androidHyperskillApp/src/main/AndroidManifest.xml
  gradle/app.versions.toml
  gradle/libs.versions.toml
  iosHyperskillApp/Gemfile
  iosHyperskillApp/Gemfile.lock
  iosHyperskillApp/NotificationServiceExtension/Info.plist
  iosHyperskillApp/fastlane/Appfile
  iosHyperskillApp/fastlane/Fastfile
  iosHyperskillApp/iosHyperskillApp.xcodeproj/project.pbxproj
  iosHyperskillApp/iosHyperskillApp/Info.plist
  iosHyperskillApp/iosHyperskillAppTests/Info.plist
  iosHyperskillApp/iosHyperskillAppUITests/Info.plist
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/domain/model/Comment.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/remote/CommentsRemoteDataSourceImpl.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/comments/screen/view/mapper/CommentsScreenViewStateMapper.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/MainStepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsActionDispatcher.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsFeature.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/presentation/StepQuizHintsReducer.kt
  shared/src/commonMain/kotlin/org/hyperskill/app/step_quiz_hints/view/mapper/StepQuizHintsViewStateMapper.kt
  shared/src/commonTest/kotlin/org/hyperskill/commets/domain/model/CommentStub.kt
  shared/src/commonTest/kotlin/org/hyperskill/commets/screen/CommentsScreenViewStateMapperTest.kt
  shared/src/commonTest/kotlin/org/hyperskill/step_quiz/StepQuizTest.kt
Labels: shared, ios, android, release, ci/cd
